* {
  box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}
p,
ul,
ol {
  line-height: 140%;
}

/* - - - - - - - - - - */
/*         GRID        */
/* - - - - - - - - - - */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 40px; */
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-container .justify-center {
  justify-content: center;
}
.flex-container .flex-end {
  justify-content: flex-end;
}
.flex-container > .col-1-4 {
  width: 22.5%;
}
.flex-container > .col-1-2 {
  width: 50%;
}
.flex-container > .col-3-4 {
  width: 75%;
}
.flex-container > .col-1-1 {
  width: 100%;
}
/* - - - */
.flex-container > .col-1-3 {
  width: 33.33%;
}
.flex-container > .col-2-3 {
  width: 66.66%;
}
/* - - - */
.flex-container > .col-1-6 {
  width: 16.66%;
}
.flex-container > .col-5-6 {
  width: 83.33%;
}
.min-height-small {
  min-height: 100px;
}
.full-width {
  width: 100%;
}

/* - - - - - - - - - - */
/*      UTILITIES      */
/* - - - - - - - - - - */
.full-width {
  width: 100%;
}
/* padding */
.padding {
  padding: 40px;
}
.padding-top {
  padding-top: 40px;
}
.padding-right {
  padding-right: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}
.padding-left {
  padding-left: 40px;
}
/* margin */
.margin {
  margin: 40px;
}
.margin-top {
  margin-bottom: 40px;
}
.margin-right {
  margin-bottom: 40px;
}
.margin-bottom {
  margin-bottom: 40px;
}
.margin-left {
  margin-bottom: 40px;
}

/* - - - - - - - - - - */
/*    CUSTOM STYLES    */
/* - - - - - - - - - - */
/* blog cards */
.card {
  border: solid 1px gray;
  margin-bottom: 40px;
}
.card img {
  width: 100%;
}
.card .text {
  margin: 20px;
}
/* header */
.header-bg {
  color: white;
  height: 100vh;
  min-height: 200px;
  max-height: 400px;
  background-image: url("../images/header-footer/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.header-logo {
  max-width: 300px;
}
.cart-icon {
  width: 40px;
}
ul.breadcrumbs {
  position: relative;
  list-style: none;
}
ul.breadcrumbs li {
  position: relative;
  list-style: none;
}
ul.breadcrumbs.header li {
  float: left;
  margin-right: 20px;
}
ul.breadcrumbs li:after {
  content: "/";
  display: inline-block;
  position: absolute;
  top: 0;
  right: -10px;
}
ul.breadcrumbs li:last-child:after {
  visibility: hidden;
}
/* footer */
footer {
  color: white;
  text-align: center;
  background: #093c60;
}
ul.breadcrumbs.footer li {
  float: left;
  margin-right: 20px;
}
ul.breadcrumbs.footer li a {
  color: white;
}
.footer-logo {
  max-width: 300px;
}

/* forms */
.form-checkout input {
  padding: 5px 10px;
  background: white;
}

/* navigation for mocks */
.mocks-nav {
  text-align: center;
  line-height: 40px;
  height: 40px;
  background: #d3d3d3;
  border-bottom: solid 1px #000;
}
.mocks-nav button {
  line-height: 40px;
  height: 40px;
  border: none 0 transparent;
  background-color: transparent;
}

/* mock v2 */
.mockNoBg header {
  background: #093c60;
}
.mockNoBg footer {
  background: #3d3d3d;
}
body .mocks-nav button {
  color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: transparent;
}
/* mock v2 state */
body .mocks-nav button:first-child {
  border-bottom-color: #fff;
}
body.mockNoBg .mocks-nav button:nth-child(2) {
  border-bottom-color: transparent;
}
body.mockNoBg .mocks-nav button:first-child {
  border-bottom-color: transparent;
}
body.mockNoBg .mocks-nav button:nth-child(2) {
  border-bottom-color: #fff;
}
