.grid-index-adoptions {
  display: grid;
  margin: 0% 3%;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  line-height: 1.25em;
}

.index-adopt-button {
  background-color: #81B741;
  border: none;
  color: white;
  padding: 2%;
  width: 96%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
}

.adoption-image {
  width: 100%;
}

#dogs-header {
  color: #093C60;
  text-align: center;
  margin: 3% 0%;
}

#murphy {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #ECECEC;
}

#poppy {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid #ECECEC;
}

#jack {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid #ECECEC;
}

#duffy {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid #ECECEC;
}

#lucas {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid #ECECEC;
}

#jake {
  grid-column: 2;
  grid-row: 3;
  border: 1px solid #ECECEC;
}

#angus {
  grid-column: 1;
  grid-row: 4;
  border: 1px solid #ECECEC;
}

#violet {
  grid-column: 2;
  grid-row: 4;
  border: 1px solid #ECECEC;
}

#piper {
  grid-column: 1;
  grid-row: 5;
  border: 1px solid #ECECEC;
}

#maximus {
  grid-column: 2;
  grid-row: 5;
  border: 1px solid #ECECEC;
}

#luna {
  grid-column: 1;
  grid-row: 6;
  border: 1px solid #ECECEC;
}

#stella {
  grid-column: 2;
  grid-row: 6;
  border: 1px solid #ECECEC;
}

#universal-footer {
  margin-top: 35%;
}
