h1 {
    color:lime;
  }
h2 {
    color:rgb(32, 64, 96);
   

}



h3 {
    color:rgb(32, 64, 96);

}
h4{
    font-family: system-ui, sans-serif;
    font-size:81.25%;
}
h5{
    font-family: "Times New Roman", Times, serif;
}
header{
    width:170em;
    height: 21em;
}

.header-container{
    height: 21em;
    width:150em;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    margin:0;
    padding: 0;

}

.header-box1{
    height: 21em;
    width: 170em;
    background: white;
    margin-left: 1.25em;
    margin-bottom: .6em;
    z-index:1;
}

.header-box2{
    
    height:2.5em;
    width:2.5em;
    position:relative;
    bottom:18.75em;
    left:84em;
    right:6.25em;
    z-index:9;
    
}
.header-box3{
    height:3.1em;
    width:3.1em;
    position:relative;
    bottom:19.3em;
    left:87.5em;
    right:6.25em;
    z-index:10;
}

.header-box4{
    height:3.1em;
    width:6.25em;
    position:relative;
    bottom:12.5em;
    left:81.2em;
    right:12.5em;
    z-index:7;
}

.header-box5{
    height:12.5em;
    width:31em;
    position:relative;
    bottom:18.75em;
    left:0.3em;
    z-index:9;
}
.header-box6{
    height:6.25em;
    width:83.75em;
    position:relative;
    bottom:22.75em;
    left:2em;
    right:1.25em;
    z-index:12;
    color:lime;
    margin-left:5em;
    margin-right:20em;
}

#top-image{
    width: 100%;
    height:21.8em;
    background-color: purple;
    background: linear-gradient(to left, purple, white);
    background-image: url(./images/header-image.jpg);
    background-size:cover;
    background-position: center center;
}


#whitedogoutline{
    width:100%;
   
    
}

#neon-top-text{
    color:lime;
    z-index: 6;

}
#whitecart{
    width:100%;
    height:100%;
   
    float:right;
   
}

#cart-total{
    color:white;
    float:right;
    padding:1.6em;
    
}
#top-corner-checkout{
    color:white;
    background-color:limegreen;
    padding:0.6em;
    width:100%;
    float:right;
    
}


.menu-container{
    width:150em;
    height: 5em;
}

.menu-box1{
    width:100%;
    height:auto;

}


#menu-bar{
    color:rgb(32, 64, 96);
    background-color:lightgrey;
    width:100%;
    padding:1.8em;
}

#all-dogs-big-text{
    
    color:rgb(32, 64, 96);
    margin-left: 15em;
    padding-left:6.25em;
}

body {
    font-family: "Times New Roman", Times, serif;
  }

  div {
    display: block;
    }

.green-button-adopt{
color:white;
background-color:limegreen;
padding-left: 3.1em;
padding-right: 3.1em;
padding-top: 0.625em;
padding-bottom: 0.625em;
}

.container {
height: auto;
background-color: white;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:left;
align-items: center;
margin-left: 20em;
margin-right: 20em;
margin-top: .5em;
margin-bottom:.5em;
}

.dog-box1{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box2{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box3{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box4{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box5{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}


.dog-box6{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}



.dog-box7{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box8{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box9{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box10{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box11{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-box12{
    height: 25em;
    width: 15.6em;
    border: 0.0625em solid slategray;
    background: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}

.dog-headshot {
width: 100%;
height:40%;
}


footer{
   
    width: 170em;
    height: 25em;
    background-color: rgb(32, 64, 96);
}

.footer-container{
    width:100%;
    height:auto; 
    display: block;
}

.footer-box1{
    height:9.3em;
    width: 100%;
    margin:1em 1em 1em 50em;
}

.footer-box2{
    height:2em;
    width: 100%;
    margin:1em 1em 1em 50em;
 }

.footer-box3{
   height:2em;
   width: 100%;
   margin:1em 1em 1em 50em;
}
.footer-box4{
    height:2em;
    width: 100%;
    margin:1em 1em 1em 50em;
 }

 .footer-box5{
    height:2em;
    width: 100%;
    margin:1em 1em 1em 50em;
 }

#footer-dog-logo{
    display: block;
    height:50%;
    width: 15%;
    padding: 3.1em;
}
.white {
    height: 2em;
    color: white;
    background-color: rgb(32, 64, 96);
}
