h1 {
    color:lime;
  }
h2 {
    color:rgb(32, 64, 96);

}
h3 {
    color:rgb(32, 64, 96);

}
#whitedogoutline{
    width:35%;
    background-color:rgb(32, 64, 96);
}
#whitecart{
    width:2%;
    background-color:rgb(32, 64, 96);
    float:right;
}
header{
    background-color:rgb(32, 64, 96) ;
}
#cart-total{
    color:white;
    float:right;
    padding:25px;
}
#top-corner-checkout{
    color:white;
    background-color:limegreen;
    padding:10px;
    float:right;
}
#menu-bar{
    color:rgb(32, 64, 96);
    background-color:lightgrey;
    width:100%;
    padding:50px;
}
.grid-container {
    grid-template-columns: 20px 30px 30px 40px;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    }
    
.grid-container {
    display: grid;
    grid-gap: 20px 30px;
    }

.grid-container div {
        border: 1px solid black;
        }
        
.grid-item-1 {
            grid-column: 2 / span 2;
            grid-row: 1 / span 1;
}
.grid-item-2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}
    
        
div {
        display: block;
        }
        

