h1 {
    color:lime;
  }
h2 {
    color:rgb(32, 64, 96);

}
h3 {
    color:rgb(32, 64, 96);

}

.header-container{
    height: 350px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    margin:0;
    padding: 0;

}

.header-box1{
    height: 350px;
    width: 100%;
    background: white;
    margin-left: 20px;
    margin-bottom: 10px;
    z-index:1;
}

.header-box2{
    
    height:40px;
    width:40px;
    position:relative;
    bottom:300px;
    left:1350px;
    right:100px;
    z-index:9;
    
}
.header-box3{
    height:50px;
    width:50px;
    position:relative;
    bottom:310px;
    left:1400px;
    right:100px;
    z-index:10;
}

.header-box4{
    height:50px;
    width:100px;
    position:relative;
    bottom:200px;
    left:1300px;
    right:200px;
    z-index:7;
}

.header-box5{
    height:200px;
    width:500px;
    position:relative;
    bottom:300px;
    left:5px;
    z-index:9;
}
.header-box6{
    height:100px;
    width:700px;
    position:absolute;
    bottom:700px;
    left:90px;
    right:100px;
    z-index:12;
    color:lime;
    margin-left:1%;
}

#top-image{
    width:100%;
    height:350px;
    z-index: 1;

}

#whitedogoutline{
    width:100%;
   
    
}

#neon-top-text{
    color:lime;
    z-index: 6;

}
#whitecart{
    width:100%;
    height:100%;
   
    float:right;
   
}

#cart-total{
    color:white;
    float:right;
    padding:25px;
    
}
#top-corner-checkout{
    color:white;
    background-color:limegreen;
    padding:10px;
    width:100%;
    float:right;
    
}



#menu-bar{
    color:rgb(32, 64, 96);
    background-color:lightgrey;
    width:100%;
    padding:30px;
}

body {
    font-family: "Times New Roman", Times, serif;
  }


.dog-hug-container{
    height: 350px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px;

}

.dog-hug-box1{
height: 350px;
width: 350;
background: white;
margin-left: 20px;
margin-top:0;
margin-bottom: 100px;

}

#dog-hug-photo{
    width:100%;
    height:100%;
}

.dog-hug-box2{
    height: 300px;
    width: 70%;
    background: white;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 150px;
    
    }

        
div {
        display: block;
        }

.green-button-adopt{
    color:white;
    background-color:limegreen;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    height: 900px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
}
    
.dog-box1{
height: 400px;
width: 250px;
border: 1px solid slategray;
background: white;
margin-left: 300px;
margin-right: 20px;
margin-top: 10px;
margin-bottom: 20px;
}

.dog-box2{
    height: 400px;
    width: 250px;
    border: 1px solid slategray;
    background: white;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    }

.dog-box3{
height: 400px;
width: 250px;
border: 1px solid slategray;
background: white;
margin-left: 20px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 20px;
}

.dog-box4{
    height: 400px;
    width: 250px;
    border: 1px solid slategray;
    background: white;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    }

.dog-box5{
    height: 400px;
    width: 250px;
    border: 1px solid slategray;
    background: white;
    margin-left: 450px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    }


.dog-box6{
    height: 400px;
    width: 250px;
    border: 1px solid slategray;
    background: white;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    }



.dog-box7{
    height: 400px;
    width: 250px;
    border: 1px solid slategray;
    background: white;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    } 

.dog-box8{
    height: 400px;
    width: 250px;
    border: 1px solid slategray;
    background: white;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    }


.dog-headshot {
    width: 100%;
    height:40%;
}

.more-dogs-container{
    height: 75px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:right;
    align-items: center;
    margin: auto;
}

.more-dog-box{
height: 50px;
width: 100%;
background: white;
margin-top:20px;
margin-left:800px;
}


#more-dogs{
    color:rgb(32, 64, 96);
    background-color:lightgrey;
    margin: auto;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    background-color: rgb(32, 64, 96);
    margin-top: 10px;
}

.footer-container{
    height:300px;
    width:100%;
    
}
.footer-box1{
    height:150px;
}
.footer-box2{
   height:150px;
   margin-left:800px;
}

#footer-dog-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 50px;
}
.white {
    height: 100px;
    color: white;
    background-color: rgb(32, 64, 96);
}



