h1 {
    color:lime;
  }
h2 {
    color:rgb(32, 64, 96);

}
h3 {
    color:rgb(32, 64, 96);

}

.header-container{
    height: 350px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    margin:auto;
    margin-left: 40px;
    margin-bottom: 50px;
}

.header-box1{
    height: 350px;
    width: 100%;
    border: 1px solid blue;
    background: white;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header-box2{
}
.header-box3{
}

.header-box4{
}
.header-box5{
}
.header-box6{
    color:lime;
}

#top-image{
    width:100%;
    height:350px;
    z-index: 1;

}

#whitedogoutline{
    width:35%;
    background-color:rgb(32, 64, 96);
    z-index: 4;
}

#neon-top-text{
    color:lime;
    z-index: 6;

}
#whitecart{
    width:2%;
    background-color:rgb(32, 64, 96);
    float:right;
    z-index: 8;
}

#cart-total{
    color:white;
    float:right;
    padding:25px;
    z-index: 8;
}
#top-corner-checkout{
    color:white;
    background-color:limegreen;
    padding:10px;
    float:right;
    z-index: 10;
}



#menu-bar{
    color:rgb(32, 64, 96);
    background-color:lightgrey;
    width:100%;
    padding:30px;
}




.dog-hug-container{
    height: 500px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    margin:auto;
    margin-left: 40px;
    margin-bottom: 50px;

}

.dog-hug-box1{
height: 400px;
width: 30%;
border: 1px solid green;
background: white;
margin-left: 20px;
margin-bottom: 10px;

}

#dog-hug-photo{
    width:100%;
    height:100%;
}

.dog-hug-box2{
    height: 400px;
    width: 60%;
    border: 1px solid blue;
    background: white;
    margin-left: 20px;
    margin-bottom: 10px;
    
    }

        
div {
        display: block;
        }

.green-button-adopt{
    color:white;
    background-color:limegreen;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
}
    
.dog-box{
height: 100%;
width: 400px;
border: 1px solid slategray;
background: white;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: 10px;
}

.dog-headshot {
    width: 100%;
    height:40%;
}

.more-dogs-container{
    height: 75px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:right;
    align-items: center;
}

.more-dog-box{
height: 50px;
width: 100%;
border: 1px solid red;
background: white;
margin:auto;
}


#more-dogs{
    color:rgb(32, 64, 96);
    background-color:lightgrey;
    margin: auto;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    background-color: rgb(32, 64, 96);
    margin-top: 100px;
}

#footer-dog-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 50px;
}
.white {
    height: 100px;
    color: white;
    background-color: rgb(32, 64, 96);
}

