* {
    box-sizing: border-box;
  }

  body {
    margin:0;
    font-family: sans-serif;
    font-size: 18px;
    color:#3d3d3d;
  }

  header, nav, main, footer {
    margin:0;
  }

  header section, nav ul, main section, footer section {
    max-width:1000px;
    margin:0 auto;

  }

  body {
      display: flex;
      min-height:100vh;
      flex-direction: column;
  }

  main {
      flex:1;
  }
  
  .intro {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    clear: both;
    margin-bottom: 50px;
  }

  .intro img {
    margin-right:30px;
  }
  
  header section {
    display: flex;
    justify-content: space-between;
    padding:30px 0;
    color:#ffffff;
  }

  header section aside {
    text-align: right;
    font-weight:bold;
  }

  header section aside button {
    margin-top:15px;

  }
  header h2 {
    margin-top:0;
    color:#81b741;
    font-style: italic;

  }
  header .bizlogo {
    max-width:50%;

  }
  header {
    display: block;
    background: #093c60;
  }

  .checkout-img {
    max-width:30px;
  }
  
  nav {
    display: block;
    background: #ececec;
    margin-bottom:50px;
  }

  nav ul {
    list-style-type: none;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    position: relative;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color:#093c60;
    padding:25px 20px 20px 5px;
    display: block;
    transition: color 0.2s, background-color 0.2s;
  }

  nav ul li:first-child {
    margin-left:-40px;
  }

  nav ul li a:hover {
    color:#ececec;
    background-color: #3d3d3d;
    border-bottom: 5px solid #f8f5f5;
  }

  nav ul li a:after {
    display: inline-block;
    content:"/";
    color:#093c60;
    padding-left:20px;
    transition: color 0.2s;
  }

  nav ul li a:hover:after {
    color:#ececec;
  }

  nav ul li:last-child a:after {
    content:"";
  }
  
  footer nav ul li a:after,
  footer nav li a {
    color:#ffffff;
  }

  footer nav ul li a:hover:after,
  footer nav li a:hover {
    background-color: #3d3d3d;
    color:#F6BE00;
  }
  
  footer {
    display: block;
    background: #3d3d3d;
    color:#ffffff;
    text-align: center;
    padding-top:75px;
    margin-top:100px;
  }

  footer nav {
    background:transparent;
  }

  footer .bizlogo {
    max-width:30%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color:#093c60;
  }

  .text-center {
    text-align: center;
  }
  
  .justify-content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  a.button {
    text-decoration: none;
  }
  
  .button,
  button {
    display: block;
    max-width: 200px;
    text-align: center;
    color:#093c60;
    padding:10px 35px;
    font-weight: bold;
    font-size: 0.9rem;
    border:0;
    transition: color 0.2s, background-color 0.2s;
  }

  button:hover {
    cursor: pointer;
  }

  .button.green-button,
  button.green-button {
    background-color:#81b741;
    color:#ffffff;
  }

  .button.green-button:hover,
  button.green-button:hover {
    background-color: #F6BE00;
    border-bottom: 5px solid #f8f5f5;
  }

  .button.more-button,
  button.more-button {
    background-color: #ececec;
  }

  .button.more-button:hover,
  button.more-button:hover {
    color: #ececec;
    background-color: #3d3d3d;
    border-bottom: 5px solid #ececec;
  }
  
  .dogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .dogs p {
    display: block;
    clear:both;
  }

  .dogs .card {
    display: flex;
    flex-direction: column;
    max-width: 21%;
    box-shadow: 0 2px 5px #cccccc;
    padding-bottom:15px;
    margin-bottom: 50px;
  }

  .dogs .card > * {
    margin:10px 15px 5px;
  }

  .dogs .card .card-title {
    margin-top:20px;
  }

  .dogs .card .card-img {
    width:100%;
    height:auto;
    margin:0;
  }

  .blog .card {
    display: block;
    margin-bottom:50px;
    overflow: hidden;
    clear: both;
  }
  
  .blog .card .card-img {
    float:left;
    margin-right:30px;
  }
  
  form * {
    display: block;
  }
  
  form label {
    font-family: sans-serif;
    color:#093c60;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom:0px;
  }
  
  form input,form select {
    font-family: inherit;
    font-size: 14px;
    min-width:100%;
    border:1px solid #ececec;
    height:20px;
    padding:10px 15px;
  }
  
.form-radio-alignment  {
  margin-right:1000px;
}


@media only screen and (min-width: 1200px) {
  .blog {
    display: block;
    width: 50%;
  }
}

@media only screen and (max-width:500px) {
  .intro {
    flex-direction: column;
    align-items: flex-start;
  
  }

  .intro .intro img {
    width: 100%;
    margin-right: 40px;
    display: block;
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .card, .card-title {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    padding: 2rem;
  }
  .dogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .dogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}
