/* I. Body Styles */

  /* Grid Layout */
  body {
    display: grid;
    grid-template-columns: auto[1] auto[2] auto[3] auto[4] auto[5] auto[6] auto[7] auto[8] auto[9] auto[10] auto[11] auto[12];
    grid-template-rows: auto auto auto;
    border: 1px solid blue;
  }

  /* Header for all pages */

  .main-header {
    grid-column: span 12;
    display: grid;
    grid-template-rows: auto auto;
    border: 3px dotted red;

  }

  .main-header-child {
    grid-column: span 14;
  }

  /* Main Menu */

  .main-menu {
    grid-column: span 14;
    border: 1px dotted pink;

  }

  /* Main content */

  main {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    border: 3px solid yellow;
  }

  /* Page Titles, except for home page */

  .page-title {

  }

/* II. Home Page Styles */

  /* Introduction */

  .introduction {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  /* Dog Grid */

  .dog-grid {
    grid-column: span 5;
    border: 3px dotted orange;
  }

  /* Blog Preview (Aside) */

  .blog-preview {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px dotted green;
  }

/* III. Dogs for Adoption Page Styles */

  .all-dogs-grid {
    grid-column: span 8;
    border: 3px dotted orange;
  }

/* IV. Adoptadog Blog Page Styles */

  /* All blog posts container */

  .blog-posts-container {
    grid-column: span 8;
    border: 2px dotted green;
  }

/* V. Checkout Page Styles */

  /* Form Container */

  .form-container {
    grid-column: span 8;
    border: 2px dotted green;
  }

/* VI. Footer */

  .flex-footer {
    grid-column: span 12;
    border: 1px solid red;
  }












/* A Long Stylesheet */

/* Universal Styles (Won't Change)

* {
  margin: 0 0 0 0;
  font-family: "Lato", "Arial", sans-serif;
}

.flex-container {
  display: flex;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

/* Styling that will probably change */

/* Page Headers

.header {
  display: flex;
  flex-flow: column wrap;
  background-color: #003366;
}

.header-child {
  display: flex;
  justify-content: space-between;
}

.site-logo {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 2rem 5rem;
}

.site-logo h3 {
  font-family: "Neuton", serif;
  color: #8DB353;
  font-weight: lighter;
  font-style: italic;
}

.cart-icon {
  display: inline-block;
  padding: .5rem;
  font: bold 0.75rem "Work Sans", "Arial", sans-serif;
  text-align: right;
  color: #ffffff;
  padding: 2rem 5rem 2rem 5rem;
}

#cart-button {
  background-color: #8DB353;
  font: .75rem "Work Sans", "Arial", sans-serif;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: .15rem;
  padding: .25rem 2rem .25rem 2rem;
}

/* Main Menu

#main-menu {
  background-color: #ECECEC;
  padding: 0 0 0 5rem;
  font-weight: bold;
  width: 100%;
}

#main-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font: bold 1rem "Work Sans", "Arial", sans-serif;
  color: #003366;
  padding: 1rem;
}

#main-menu li:after {
  content: "/";
}

#main-menu li:last-child:after {
  content: "";
}

#main-menu a {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: .95rem;
  color: #003366;
  padding: 1rem 1rem 1rem 1rem;
}

/* Main Content

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 5rem 0 5rem;
  border: 1px dotted green;
}

/* Home Page Introduction

.intro {
  display: flex;
  flex-direction: row;
  margin: 0 5rem 0 5rem;
  padding: 2rem 0rem 0 0rem;
  width: 100%;
}

.intro-child {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 2rem;
  width: inherit;
}

.intro-child h2 {
  font-family: "Neuton", "Times New Roman,";
  font-size: 1.5rem;
  line-height: 2;
  color: #003366;
}

.intro-child img {
  width: 100%;
  height: auto;
}

.intro-child p {
  font-size: .95rem;
  line-height: 1.5;
  max-height: 370px;
}

/* Dogs Grid

.tile-grid {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem 0 1rem;
  align-items: center;
  justify-content: space-around;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.75rem 0 1.75rem 0;
  border: 2px solid #E7E3E3;
  width: 20%;
}

.tile-text {
  padding: 1rem;
  font-size: .85rem;
}

.tile-text h4 {
  font-family: "Neuton", "Times New Roman";
  color: #003366;
  font-size: 1.25rem;
}

.tile-text button {
  background-color: #8DB353;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: .65rem 0 .65rem 0;
}

.more-dogs {
  display: flex;
}

#more-dogs {
  background-color: #ECECEC;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  color: #003366;
  border: none;
  padding: .65rem 3.5rem .65rem 3.5rem;
  margin: 0 0 5rem 0;
}

/* Pages Footer

.footer {
  display: flex;
  flex-direction: column;
  background-color: #003366;
  align-items: center;
}

.footer-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.footer-child img {
  max-width: 35%;
  padding: 2rem 0 1rem 0;
}

.footer-child h6 {
  font-family: "Lato";
  font-size: .95rem;
  text-align: center;
  color: #ffffff;
  max-width: 45%;
  padding: 0 0 0 0;
}

.footer-child p {
  color: #ffffff;
  font-size: .95rem;
  padding: 0 0 2rem 0;
}

#footer-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: .95rem;
  color: #ffffff;
  padding: 2rem 1rem 2rem 1rem;
}

#footer-nav li:after {
  content: "/";
}

#footer-nav li:last-child:after {
  content: "";
}

#footer-nav li a {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: .75rem;
  color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 5rem 0 5rem;
  width: 100%;
}

.title-child h2 {
  font-family: "Neuton", "Times New Roman";
  font-size: 1.5rem;
  line-height: 2;
  color: #003366;
  padding: 0 2rem 0 2rem;
}

.dogs-for-adoption {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  justify-content: space-around;
}

.all-dogs {
  padding: 0 5rem 0 0;
}

.blog {
  display: flex;
  flex-direction: row;
  margin: 0 5rem 0 5rem;
  padding: 2rem 0rem 3.5rem 0rem;
  overflow: hidden;
}

.blog-child {
  padding: 0 0 0 2rem;
}

.blog h2 {
  padding: 0 0 1rem 1rem;
  font-family: "Neuton", "Times New Roman";
  color: #003366;
  font-size: 1.25rem;
}

.blog p {
  padding: 0 0 1rem 1rem;
  font-size: .85rem;
}

.checkout {
  display: flex;
  flex-direction: column;
  margin: 0 5rem 0 5rem;
  padding: 2rem 0rem 0 0rem;
}

.checkout-child {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0 2rem;
}

.checkout-child label {
  display: flex;
  flex-direction: column;
  font-family: "Neuton", "Times New Roman";
  font-size: 1.1rem;
  line-height: 2;
  color: #003366;
}

.checkout-child input {
  padding: .5rem 0 .5rem 0;
  border: 1px solid #C0C0C0;
}

.checkout-child h4 {
  font-family: "Neuton", "Times New Roman";
  font-size: 1.1em;
  line-height: 2;
  color: #003366;
}

.checkout-child button {
  background-color: #8DB353;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: .85rem;
  color: #ffffff;
  border: none;
  max-width: 25%;
  margin: 0 0 3rem 0;
  padding: .65rem 0 .65rem 0;
}

.city-state-zip {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem 0 2rem;
  overflow: hidden;
}

.city-state-zip-child {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0;
}

.city-state-zip-child label {
  display: flex;
  flex-direction: column;
  font-family: "Neuton", "Times New Roman";
  font-size: 1.1rem;
  line-height: 2;
  color: #003366;
}

.city-state-zip-child input {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  border: 1px solid #C0C0C0;
}

#applicantState {
  position: relative;
  border: 1px solid #C0C0C0;
  padding: .5rem 0 .5rem 0;
}

.first-adoption {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
  padding: 0;
  width: 25%;
}

.first-adoption label {
  font-size: .75rem;
  font-family: 'Lato', 'sans-serif';
  color: #000000;
  padding: 0 2rem 0 .35rem;
}

.pickupLocation label {
  font-size: .75rem;
  font-family: 'Lato', 'sans-serif';
  color: #000000;
  padding: 0 2rem 0 .35rem;
}

#pickupLocation {
  position: relative;
  border: 1px solid #C0C0C0;
  padding: .75rem 0 .75rem 0;
  font-family: 'Lato', 'sans-serif';
  font-size: .75rem;
}
