* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0;
}

body {
  margin: 0;
}

header {
  height: 450px;
  width: fill;
  color: white;
  background-image: url(images/header-image-banner.jpg);
  background-repeat: no-repeat;
  margin: 0;
}

.cart {
  position: relative;
  float: right;
  display: grid;
  width: 20rem;
  top: 70px;
  font-family: sans-serif;
  font-weight: bolder;
}

.cartline1 {
  position: relative;
  left: 40px;
}

header .cart img{
  width: 8%;
  padding-right: 5px;
}

header .cart a {
  position: relative;
  top: 1.5rem;
  padding: .5rem 2.75rem;
  background-color: rgba(115, 153, 0, 1);
  text-decoration: none;
  color: white;
}

.logo {
  width: 400px;
}

header .title {
  height: auto;
  position: absolute;
  top: 75px;
  left: 100px;
  color: rgba(115, 153, 0, 1);
  line-height: 1rem;
  font-style: italic;
}

h1 {
  font-size: 1.5rem;
}

.topnav {
  background-color: rgba(0, 0, 0, .1);
  height: 80px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.topnav h2 {
  margin-left: 8em;
  margin-top: 1em;
}

.topnav h2 * {
    color: navy;
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    padding: .5rem;
}

.intro {
  margin: 35px 25px 50px 200px;
}

.post {
  margin: 0 0 75px;
}

article div {
  display: inline-block;
  position: absolute;
  width: 40%;
  margin: 0 50px;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 1.5rem;
}

h3 {
  color: navy;
  font-family: serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}


.headline {
  margin: 50px 25px 25px 200px;
}

form {
  margin: 25px 50% 25px 200px;
  display: grid;
  grid-area: ;
}

.post p {
  font-size: .8rem;
}

.current-dogs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 200px 0;
}

.dog-card {
  border: solid 2px rgba(128, 128, 128, .25);
  width: 174px;
  border-top: none;
  margin: 0 40px 40px 0;
}

.dog-card img {
  position: relative;
  right: 2px;
}

.dog-card img ~ * {
  margin: 5px 10px 10px 10px;
}

.current-dogs-container p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: .7rem;
  line-height: 1rem;
  color: black;
}

h4, label {
  color: navy;
  font-family: serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: .6rem;
}

h5 {
  display: inline;
  font-family: sans-serif;
  font-size: .65rem;
  color: black;
}

h5 ~ span {
  margin: 0;
  position: relative;
  right: 15px;
  font-family: sans-serif;
  font-size: .75rem;
  color: black;
}

.add-to-cart {
  font-family: sans-serif;
  font-weight: bold;
  font-size: .6rem;
  padding: .5rem 3.5rem;
  background-color: rgba(115, 153, 0, 1);
  text-decoration: none;
  color: white;
  text-align: center;
}

.dog-card div:last-child {
  margin-bottom: 15px;
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 2.3rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
  background-color: lightgrey;
  text-decoration: none;
  color: navy;
  margin: auto;
  padding: 0;
  margin-bottom: 5rem;
}

.submit {
  padding: .5rem 2.75rem;
  background-color: rgba(115, 153, 0, 1);
  text-decoration: none;
  color: white;
  font-weight: bolder;
  border: none;
}

.invisible {
  display: block;
  visibility: hidden;
}

footer {
  background-color: rgba(0, 60, 100, 1);
  color: white;
  text-align: center;
  padding: 3rem;
  font-family: sans-serif;
  font-size: .8rem;
}

footer img {
  margin: 1rem;
}

footer p {
  line-height: 1.5rem;
}

footer nav h2 {
    margin: 1rem;
}
footer nav h2 *{
  color: white;
  font-family: sans-serif;
  font-size: .8rem;
  text-decoration: none;
  font-weight: bolder;
  padding: .25rem;
}

footer p span{
  margin: .5rem;
}
