@import url('https://fonts.googleapis.com/css?family=Kadwa|Work+Sans&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin:0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color:#3d3d3d;
}
header, nav, main, footer {
  margin:0;
}

header .content,
nav ul,
main .home-content,
main .content,
footer .content {
  max-width:71rem;
  margin:0 auto;
}

body {
    display: flex;
    min-height:100vh;
    flex-direction: column;
}

main {
    flex:1;
}

/* intro paragraph */

.intro {
  overflow: hidden;
  clear: both;
  margin-bottom: 3rem;
}

.intro img {
  min-width: 100%;
  height: auto;
}

main .home-content {
  display: flex;
}

.main-left {
  display: block;
  width: 75%;
}

.main-right {
  display: block;
  width: 24%;
  font-size: .8rem;
  line-height: 1.1rem;
}

.main-right .blog .card {
  margin-bottom:1rem;
}

.main-right .blog .card .card-img img {
  width:100%;
  height:auto;
}

.main-right .blog h3.card-title {
  margin-top:1rem;
}


.main-right a:link, .main-right a:visited, .main-right a:hover, .main-right a:active {
  color:#239ab9;
  text-decoration: none;
  font-weight: bold;
}

.main-right a:hover, .main-right a:active {
  text-decoration: underline;
}

/* header */

header {
  display: block;
  background: #0b0b0b url("images/header-image.jpg") no-repeat right top;
  height:31.25rem;
}

header .content {
  display: flex;
  justify-content: space-between;
  padding:2rem 0;
  color:#ffffff;
}

header .content aside {
  text-align: right;
  font-weight:bold;
}

header .content aside button {
  margin-top:1rem;
}

header h2 {
  margin-top:0;
  color:#81b741;
  font-style: italic;
}

header .logo {
  max-width:75%;
}

.checkout-img {
  max-width:2rem;
}


/* nav */
nav {
  display: block;
  background: #ececec;
  margin-bottom:3rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  position: relative;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  color:#093c60;
  padding:1.56rem 1.25rem 1.25rem .3125rem;
  display: block;
  transition: color 0.2s, background-color 0.2s;
}

nav ul li:first-child {
  margin-left:-2.5rem;
}

nav ul li a:hover {
  color:#ececec;
  background-color: #093c60;
  text-decoration: none;
}

nav ul li a:after {
  display: inline-block;
  content:"/";
  color:#093c60;
  padding-left:1.25rem;
  transition: color 0.2s;
}

nav ul li a:hover:after {
  color:#ececec;
}

nav ul li:last-child a:after {
  content:"";
}


/* footer nav */
footer nav ul li a:after,
footer nav li a {
  color:#ffffff;
}

footer nav ul li a:hover:after,
footer nav li a:hover {
  background-color: #093c60;
  color:#81b741;
}


/* footer */
footer {
  display: block;
  background: #093c60;
  color:#ffffff;
  text-align: center;
  padding-top:4.7rem;
  margin-top:6.25rem;
}

footer .content {
  max-width: 30rem;
}

footer nav {
  background:transparent;
}

footer .logo {
  max-width:75%;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Kadwa', serif;
  color:#093c60;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* buttons */
a.button {
  text-decoration: none;
}

.button,
button {
  text-align: center;
  color:#093c60;
  padding:0.625rem 2.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  border:0;
  border-radius:0.125rem;
  transition: color 0.2s, background-color 0.2s;
}

button:hover {
  cursor: pointer;
}

.button.btn-green,
button.btn-green {
  background-color:#81b741;
  color:#ffffff;
}

.button.btn-green:hover,
button.btn-green:hover {
  background-color: green;
}

.button.btn-gray,
button.btn-gray {
  background-color: #ececec;
}

.button.btn-gray:hover,
button.btn-gray:hover {
  color: #ececec;
  background-color: #093c60;
}

/* cards */

/* dog cards */
.dogs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.dogs p {
  display: block;
  clear:both;
}
.dogs .card {
  display: flex;
  flex-direction: column;
  max-width: 21%;
  box-shadow: 0 0.125rem .3125rem #cccccc;
  padding-bottom:1rem;
  margin-bottom: 3rem;
}

.main-left .dogs .card {
  max-width: 32%;
}

.dogs .card > * {
  margin:0.625rem 1rem .3125rem;
}

.dogs .card .card-title {
  margin-top:1.25rem;
}

.dogs .card .card-img {
  width:100%;
  height:auto;
  margin:0;
}

.dogs .card .card-img:hover {
  cursor: pointer;
}

/* blog & cart-confirm cards */

.blog .card,
.cart-confirm .card {
  display: flex;
  margin-bottom:3rem;
}
.blog .card .card-img {
  margin-right:2rem;
  display: block;

}

.blog .card .card-title {
  margin-top:0;
}

.main-right .blog .card {
  display: flex;
  flex-direction: column;
}

.main-right .blog {
  padding-left:2rem;
}

.main-right .blog .card .card-img {
  margin-right:0;
  display: block;
  max-width: 100%;
  overflow: hidden;
}

/* cart confirmation cards */
.cart-confirm {
  display: flex;
  margin-top:1.25rem;
}

.cart-confirm .card {
  margin-bottom:0.625rem;
}
.cart-confirm .card .card-img {
  max-width:4.7rem;
  max-height: 4.7rem;
  margin-right: 1.25rem;
}

.cart-confirm .card:nth-child(1n+2) {
  margin-left: 2.5rem;
}

.cart-confirm .card h4 {
  margin-top:0;
  margin-bottom: 0.5rem;
}


.cart-confirm .card p {
  margin-top:0;
  font-size: 0.8rem;
}

.cart-confirm .card p * {
  display: inline;
}

/* checkout form */
form * {
  display: block;
}

form label {
  font-family: 'Kadwa', serif;
  color:#093c60;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom:0.3125rem;
}

form input,
form select {
  font-family: inherit;
  font-size: 100%;
  width:50%;
  border:1px solid #c0c0c0;
  height:2.5rem;
  padding:0.625rem 1.25rem;
}

form input[type="radio"],
form input[type="checkbox"] {
  height:1rem;
  width:1rem;
  display: inline-block;
}

form .form-horizontal {
  display: flex;
  flex-direction: row;
  width: 50%;
  border:0;
  padding:0;
}

form .form-horizontal input,
form .form-horizontal select {
  width:auto;
  margin-right:1.25rem;
}


form input[type="submit"] {
  width:auto;
}

form .checkbox-group,
form .radio-group {
  border:0;
  padding:0;
  margin-bottom:1.25rem;
}

form .checkbox-group label,
form .radio-group label {
  display: block;
  position: relative;
  padding-left: 2.2rem;
  margin-top:0.75rem;
  margin-right:2.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  color:#3d3d3d;
}

form .checkbox-group input,
form .radio-group input {
  display: inline-block;
  position: absolute;
  opacity: 0;
  cursor:pointer;
  height:0;
  width:0;
}

.checkmark,
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.56rem;
  width: 1.56rem;
  border:1px solid #c0c0c0;
  transition: background .25s;
}

.radiomark {
  border-radius: 1rem;
}

.checkbox-group label:hover input ~ .checkmark,
.radio-group label:hover input ~ .radiomark {
  background-color: #eee;
}

.checkbox-group input:checked ~ .checkmark,
.radio-group input:checked ~ .radiomark {
  background-color: white;
}

.radiomark:after,
.checkmark:after {
  content:"";
  position: absolute;
  display: none;
}

.radiomark:after,
.checkmark:after {
  display: block;
}


.radio-group input:checked ~ .radiomark:after {
  left:0.3125rem;
  top:0.3125rem;
  width:0.8125rem;
  height:0.8125rem;
  border-radius: 0.625rem;
  background-color: #c0c0c0;
}
.checkbox-group input:checked ~ .checkmark:after {
  left:0.4375rem;
  top:0.1875rem;
  width:0.3125rem;
  height:0.625rem;
  border:solid #c0c0c0;
  border-width:0 0.1875rem 0.1875rem 0;
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg)
}

/* barrowing media breakpoints from boostrap :) */

/* Large devices (desktops, 992px and up) */
@media screen (max-width: 1199px) {
  .dogs .card {
    max-width: 23%;
  }
  header .content,
  nav ul,
  main .home-content,
  main .content,
  footer .content {
    padding-left:1.25rem;
    padding-right:1.25rem;
  }
  nav ul li:first-child {
    margin-left:0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen (max-width: 991px) {
  header {
    background-size: contain;
    height: 15rem;
  }
  .main-left .dogs .card,
  .dogs .card {
    max-width: 48%;
  }
  form input,
  form select,
  form .form-horizontal {
    width: 75%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen (max-width: 769px) {

  h1 {
    margin-top:0;
  }

  .main-right {
    display: none;
  }

  .main-left {
    width:100%;
  }

  .intro {
    flex-direction: column-reverse;
  }

  .intro img {
    margin-right:0;
    min-width:100%;
  }

  .blog .card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top:2rem;
  }

  .blog .card .card-img {
    width:100%;
    height:auto;
    margin:0;
  }

  .blog .card .card-title {
    position: absolute;
    top:-0.3125rem;
  }

  .blog .card .card-img img {
    min-width: 100%;
    height: auto;
  }

  form .form-horizontal,
  .cart-confirm {
    flex-direction: column;
  }
  .cart-confirm .card:nth-child(1n+2) {
    margin-left:0;
    margin-top:1.25rem;
  }
  footer .logo {
    max-width:50%;
  }
}

/* X-Small */
@media screen (max-width: 576px) {
  .main-left .dogs .card,
  .dogs .card {
    max-width: 100%;
  }
  .intro img {
    display: none;
  }
  form input,
  form select,
  form .form-horizontal input,
  form .form-horizontal select {
    width: 100%;
  }

  header .content {
    padding:1rem 1.25rem;
  }

  header .content h2 {
    font-size:1.25rem;
    padding-right:1.25rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media print {
  header {
    height: auto;
  }
  footer img,
  header img {
    display: none;
  }
  header .content div:last-child {
    display: none;
  }
  footer {
    color:black;
    padding-top:0;
    margin-top:0;
  }
  nav {
    display: none;
  }
  .intro img {
    display: none;
  }
  .button,
  button {
    display: none;
  }

  .dogs .card {
    box-shadow: none;
    border:1px solid gray;
  }

  .main-right .blog .card .card-img,
  .blog .card .card-img {
    display:none;
  }

  .dogs .card {
    max-width: 24%;
  }
}

/* // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
