body {
}



.shopping-cart{
    padding-left: 10px;
    width: 30px;
    height: auto;
}


.btn {
    font-weight: bold;
    background-color: #81B741;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 150px;
    border: none;
    border-radius: 2px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'nav ' 'main '  'footer ';
}

.footer {  
    padding-top: 30px;
    padding-bottom: 30px;
    grid-area: footer;
    color: white;
    background-color: #093C60;
    text-align: center;
}


.img-two {
    width: 300px;
    height: auto;
}

.main {
    display: grid;
    grid-area: main;
    grid-template-areas: 'photo description description description' 
                         'dog dog dog dog' 
                         'dog2 dog2 dog2 dog2' 
                         'end end end end';
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 200px;
}

.img-three {
    width: 250px;
    height: auto;
}

.nav-two {
    grid-area: nav;
    line-height: 50px;
}

.nav {
    grid-area: nav;
    background-color: #ECECEC;
    font-size: 25px;
    padding-left: 200px;
    line-height: 50px;
}


.header {
    display: grid;
    grid-area: header;
    grid-template-areas: 'left middle right';
}

.middle {
    grid-area: middle;
    grid-column: 1/span 3;
}

.left {
    grid-area: left;
    padding-left: 50px;
    padding-top: 50px;
}

.right {
    grid-area: right;
    padding-right: 50px;
    padding-top: 50px;
}


li {
    display: inline;
}


img {
    width: 100%;
    height: auto;
}


.logo-text {
    margin: 0em;
    font-size:x-large; 
    color: rgb(129, 183, 65); 
    padding-left: 100px;
}


a.one:link {
    color: #093C60;
    font-weight: bold;
    text-decoration: none;
}

a.one:visited {
    color: #093C60;
    font-weight: bold;
    text-decoration: none;
}

a.one:hover {
    color: mediumblue;
    font-weight: bold;
    text-decoration: none;
}

a.two:link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.two:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.two:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}