*{
  margin: 0;
  padding:0;
}
body{
  background-size:cover;
}
@media print{
  body img{
    display:none;
  }
}
a{
  text-decoration: none;
}
/* Mobile Styles */
@media only screen and (max-width: 500px){
  .container{
    margin: 30px 50px;
    display: grid;
    grid-gap: 15px;
  }
  header{
    width:100% !important;
    background-image:url("images/header-image.jpg"),linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,1));
    background-size:cover !important;
  }
  h4{
    padding: 2px !important;
  }
  nav{
    width:100% !important;
    height:25px !important;
  }
  .main-container{
   margin: 3px !important;
   grid-gap:5px !important;
  }
  .intro{
   width:50%;
  }
  .sidebar img,p{
    display: none;
  }
  section{
    display:flex;
    flex-wrap: wrap !important;
    width:100% !important;
  }
  .section-3{
    margin: 20px;
  }
  .section-left-side{
    flex: 0% !important;
    margin:2px;
  }
  .section-right-side{
    flex: 50% !important;
    flex-wrap: wrap !important;
    padding: 1px !important;
  }
  .section-right-side h3{
    font-size: medium;
  }
  p{
    padding: 0px !important;
    font-size: 0.7em !important;
    word-wrap: break-word !important;
  }
  article{
    grid-template-columns: auto !important;
    grid-gap:2px !important;
    width: 100% !important;
  }
  .row-1 {
    display: grid;
    grid-template-columns: auto !important;
    grid-gap: 10px;
    }
  .col{
    width: 50%;
  }
  .card-desc{
    padding:2px !important;
  }
  .card-desc p{
    padding: 0px !important;
    font-size: 0.8 !important;
  }
  footer{
    width:100% !important;
  }
}
/* Tablet Styles */
@media only screen and (min-width:501px) and (max-width:900px){
  .container{
    margin: 30px 50px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto;
  }
  h4{
    padding: 2px !important;
  }
  nav{
    width: 100% !important;
    height: 25px !important;
  }
  body{
    width: 100%;
  }
  .main-container{
    margin: 3px !important;
    grid-gap:5px !important;
  }
  section{
    flex-wrap: wrap !important;
    width:100% !important;
  }
  .section-left-side{
    flex: 0% !important;
  }
  .section-right-side{
    flex: 50% !important;
    flex-wrap: wrap !important;
    padding: 1px !important;
  }
  .section-right-side h3{
    font-size: medium;
  }
  p{
    padding: 0px !important;
    font-size: 1em !important;
    word-wrap: break-word !important;
  }
  article{
    grid-gap:5px !important;
    width: 100% !important;
  }
  .row-1 {
    display: grid;
    grid-template-columns: auto auto !important;
    grid-gap: 30px;
    }
  .col{
    width: 100%;
  }
  .card-desc{
    padding:2px !important;
  }
  .card-desc p{
    padding: 0px !important;
    font-size: 0.8em !important;
  }
  .footer{
    width:100%;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 901px) and (max-width: 1300px){
  body{
    width:100%;
  }
  p {
    font-family: Calibri, Arial, Helvetica, sans-serif;
  }
  .container{
    display:flex !important;
    margin: 30px 50px;
    padding:0px 150px;
  }
  .main-container{
    flex:35% !important;
  }
  .sidebar{
   flex:0%;
  }
  .sidebar img{
    height: 10em;
    width: 90%;
  }
  .blog{
    padding: 10px 5px;
  }
  section{
      display: grid;
      grid-template-rows: auto auto auto!important;
  }

  .row-1 {
    display: grid;
    grid-template-columns: auto auto auto!important;
    grid-gap: 30px;
    }
  section img{
    height: 20em;
    width: 100%;
  }
  .section-right-side-header{
    font-size: 1em;
  }
  .section-right-side-para{
    font-size: 1.12em;
  }
  article{
    display:grid;
    grid-template-rows: auto auto;
    grid-gap: 30px;
  }
  footer{
    width:100%;
  }
  .banner-left-side{
    width:50%;
  }
  .banner-right-side{
    width:50%;
  }
  .interface{
    display:grid;
    grid-template-rows:auto auto auto;
    grid-gap:10px;
    margin: 20px 200px;
  }
  .interface img{
    float:left;
    width:160px !important;
  }
  .sub-Interface{
    display: grid;
    grid-template-columns: 0.25fr 0.25fr;
  }
  .content{
    display:grid;
    grid-auto-rows: 0.25fr 0.25fr;
    float:right;
  }
  .checkout-row-1 img{
    width:70px !important;
    margin:0;
  }
}
/* Common Code For All Three*/
form{
  display: inline-grid;
  grid-gap:5px;
}
h4,h5{
  margin:0px;
}
h3{
  margin:3px;
}
p{
  margin:0;
  font-weight: 100;
  font-size: 0.8em;
}
a{
  text-decoration: none;
}
header{
  display: flex;
  height: 250px;
  background-image:url("images/header-image.jpg"),linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,1));
  background-size:cover;
}
.banner-left-side{
  flex:80%;
}
.banner-left-side-img{
  height:75px;
}
.banner-right-side{
  flex:5;
}
.banner-right-side-cart{
  display:flex;
  justify-content: space-between;
  align-items :baseline;
  width: 40px;
  height:25px;
}
.cart{
  height:20px;
}
.cart_total{
  font-size: smaller;
  color:white;
  margin: 0;
}
nav{
  background-color: #e2e5e6;
  height : 50px;
}
.nav-caption{
  color:darkblue;
  font-size:13px;
  padding : 20px 150px;
  font-family: serif;
}
nav a{
  color:darkblue;
}
.section-right-side-header{
  color:darkblue;
}
.section-right-side-para{
  font-family: monospace;
}
.row{
  display:grid;
  grid-template-columns:auto auto auto;
  grid-gap:20px;
  font-size: large;
}
.col-1{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  font-size: large;
}
.col{
  padding:0.5px;
}
.address-row{
  display:grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 15px;
}
.address-row-1{
 display:flex;
 flex-direction:column;
 flex-wrap:wrap;
 font-size: large;
}
.checkout-row{
  display:grid;
  grid-template-columns:auto auto;
}
.checkout-row-1{
  display:grid;
  grid-template-columns:18% 70%;
}
.checkout-row-1-1{
  display:grid;
  grid-template-rows:50% 50%;
}
.checkout-animals{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:60px;
}
.card{
display:grid;
grid-template-rows: auto auto auto;
border: 0.5px solid;
}
.highlight{
  outline:yellow solid 5px;
}
.card-image{
 height: auto;
 width:100%;
}
.card-desc{
 display:grid;
 grid-template-rows: auto auto auto;
 padding:10px;
}
.btn{
 background-color: yellowgreen;
 border:none;
 color:white;
 padding:3px 30px;
 text-align:center;
 font-size: 16px;
 transition:0.3s;
}
.btn:hover{
 outline: #yellowgreen solid 2px;
}
aside{
  display:grid;
  grid-template-columns: auto auto;
}
footer{
  display: flex;
  justify-content: center;
  background-color: #06587f;
}
footer a{
  color: white;
}
.footer-logo{
  display:grid;
  grid-gap:20px;
  text-align: center;
  width:350px;
  margin:20px;
}
.footer-logo p{
  color:white;
}
/*Jquery CSS*/
.zoom{
  transition: transform .2s;
}
.zoom:hover{
  transform: scale(1.05);
}
button {
width: 220px;
background: #222;
color:white;
height:30px;
}
/*  Ripple */
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
