* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link{
  visibility: hidden;
}
.main-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  background-color: #003366;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.logo-header-wrapper {
  padding-left: 0rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: auto;
}
.logo {

}
.slogan {
  font-size: 1.75rem;
  color: #72a65a;
  font-style: italic;
  font-weight: 600;
}
.checkout-cart-wrapper {
  padding-right: 0rem;
  padding-bottom: 6rem;
  padding-top: 2rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.checkout-cart-wrapper > img {

}
.checkout-cart-wrapper > p {
  padding: 0rem;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: sans-serif;

}
.checkout-button {
  background-color: #003366;
}
.checkout {
  padding:0.5rem;
  color: #ffffff;
  font-weight: 900;
  background-color: #72a65a;
  padding: 0.25rem 2rem 0.25rem 2rem;
  border-radius: 2px;
}
.checkout-total {
  color: #ffffff;
}
#cart {
  visibility: hidden;
  width: 0%;
  height: 0%;
}
.toggle {
  display: none;
}
.main-nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6e6e6;
  padding: 2rem;
  padding-left: 16rem;
}
.main-nav a {
  text-decoration: none;
  color: #003366;
  font-family: sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 900;
}
.main-content {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 80%;
  margin: auto;
  color: #003366;
}
.latest-blog {
  width: 45%;
  background-color: #ffffff;
}
.blog-intro {
  font-family: serif;
}
.blog-intro-image {
  width: 50%;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 3rem;
  }
.blog-intro-image > img {
  width: 100%;
}
.blog-entry {
  line-height: 1.7rem;
  text-align: left;
  font-size: 1.2rem;
  padding-top: 1rem;
}
.pup-profile {
  width: 20%;
  margin: auto;
  padding-bottom: 0.5rem;
  text-align: center;
  overflow: hidden;
  }
.profile-pic > img {
  width: 100%;
}
.pup-profile, h3, p, button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pup-style {
  padding: 0rem;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 0px 2px 2px 2px;
}
.adopt-this-dog {
  background-color: #72a65a;
  color: #ffffff;
  width: 90%;
  margin:auto;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: none;
  border-radius: 2px;
  font-family: sans-serif;
  font-weight: 900;
}
.full-adoption-list {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: auto;
  text-align: center;
}
.full-adoption-list > button {
  padding: 0.35rem 1.5rem 0.35rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  font-family: sans-serif;
  background-color: #e8e8e8;
  border: 0;
  color: #003366;
}
.main-footer {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  background-color: #403f3e;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #403f3e;
  color: #ffffff;
}
.footer-fig {

}
.footer-info {
  width: 27rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.7rem;
}
.footer-nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  padding: 0.5rem;
}
.copyright {
  font-family: sans-serif;
  font-weight: 400;
}
.all-our-dogs {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: auto;
  text-align: center;
}
.blog-articles {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin-right: .75rem;
}
.blog-preview {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
 -webkit-box-pack:start;
     -ms-flex-pack:start;
         justify-content:flex-start;
 -webkit-box-align:start;
     -ms-flex-align:start;
         align-items:flex-start;
 gap: 3rem;
}
.blog-preview > article {
  width: 60%;
  overflow: auto;
  margin-left: .75rem;
  line-height: 1.5rem;
}
.blog-image {
  width: 30%;
  margin-right: 1rem;
}
.blog-preview > h3 {
}
.blog-preview > p {
  width: 55%;
  font-family: Calibri;
  font-size: 1.1rem;
}
.main-checkout {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  padding-right: 5rem;
  padding-left: 5rem;
  grid-gap: 0rem;
  font-size: 1.2rem;
  }
input, textarea, select, button{
  display: block;
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  width: 100%;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type=radio]{
  display: inline;
}
.main-checkout > h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  color: #003366;
}
.form-wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}
.form, label, legend {
  color: #003366;
  font-size: 1.4rem;
  font-weight: 900;
}

#city {
  width: 15rem;
}
.city-state-zip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.adoption-submit {
  width: 45%;
  color: #ffffff;
  background-color: #72a65a;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 0;
  border-radius: 1px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 5rem;
  width: 30%;
}
.pickup > select {
  width: 40%;
}
.total-cost {
  font-size: 1.3rem;
  font-family: sans-serif;
}
.checkout-selections {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 13rem;
}
.checkout-selections > img {
  width: 15%;
}
.cost-total {
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}
.adoption-amount {
  font-family: sans-serif;
  font-size: 0.8rem;
}
.first-time {
  width: 120%;
}
@media (max-width: 1200px) {
  /* For laptops: */
  .blog-intro-image {
    width: 100%;
  }
  .latest-blog{
    width: 100%;
  }
  .blog-intro {
    text-align: center;
  }
  .blog-entry {
    text-align: center;
  }
  .pup-profile {
    width: 30%;
  }
  .blog-articles {
    margin: auto;
    text-align: center;
  }
  .blog-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-image {
    width: 100%;
}
  .blog-image > img {
    width: 100%;
    margin: auto;
}
  .blog-preview > article {
    width: 100%;
    margin: auto;
  }
  .blog-preview > p {
    width: 100%;
    margin: auto;
    padding: 0rem;
  }
  .main-content {
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width:1024px) {
  .main-nav {
    padding-left: 0rem;
  }
  .main-nav ul {
    margin: auto;
  }
  .main-nav a {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .pup-profile {
    width: 40%;
  }
  .full-adoption-list > button {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .checkout-selections {
    height: 10rem;
  }

}
@media (max-width: 768px) {
  /* For tablets: */
  .pup-profile {
    width: 100%;
  }
  .checkout {
    padding: 0.75rem 2rem .75rem 2rem;
    font-size: 1.1rem;
  }
  .checkout-total {
    font-size: 1.2rem;
  }
  .checkout-cart-wrapper {
    padding-top: 2rem;
  }
  .adopt-this-dog {
    padding: 1.5rem 2rem 1.5rem 2rem;
    font-size: 1.1rem;
  }
  .footer-nav a {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  /* For small tablets: */
  .logo-header-wrapper {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .slogan {
    font-size: 2rem;
    width: 50%;
    margin: auto;
  }
  .checkout-cart-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 0.25rem;
    height: 7rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .checkout-cart-wrapper > p,.checkout-button {
    visibility: hidden;
    width: 0%;
    height: 0%;
}
  .checkout-cart-wrapper > img {
    visibility: hidden;
    width: 0%;
    height: 0%;
}
  #cart {
    visibility: visible;
    width: 15%;
    height: 85%;
    background-color: #003366;
    border: none;
}
  .toggle {
    display: block;
    font-size: 3rem;
    width: 100%;
}
  .main-nav ul {
    display: none;
  }
}
@media (max-width: 585px) {
  .slogan {
    width: 70%;
  }
  .checkout-selections {
    height: 8rem;
  }
}
@media (max-width: 480px) {
  /* For mobile phones: */
  .slogan {
    width: 70%;
  }
}
