* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  grid-gap: 1rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
}
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link{
  visibility: hidden;
}
.welcome {
  visibility: hidden;
}
.main-header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-color: #003366;

}
.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.logo-header-wrapper {
  padding-left: 0rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color:;
  margin: auto;
}
.logo {

}
.slogan {
  font-size: 2rem;
  color: #06c106;
}
.checkout-cart-wrapper {
  padding-right: 0rem;
  padding-bottom: 6rem;
  padding-top: 0rem;
  background-color:;
  margin: auto;
}
.main-nav {
  grid-area: nav;
  flex-basis: 100%;
  display: flex;
  background-color: #e6e6e6;
  padding: 2rem;
  padding-left: 16rem;
}
.main-nav a {
  text-decoration: none;
  color: #003366;
  font-family: serif;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 900;
}
.main-content {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}
.home-intro {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 90%;
}
.latest-blog {
  width: 45%;
  background-color: red;
  line-height:;
}
.blog-intro {
  font-size: ;
  font-family: serif;
}
.blog-intro-image {
  width: 50%;
  background-color: red;
  text-align: center;
  padding-bottom: 3rem;
  }
.blog-entry {
  line-height: 1.7rem;
  text-align: left;
  font-size: 1.2rem;
  padding-top: 1rem;
}
.pup-profile {
  width: 18%;
  margin: auto;
  padding-bottom: 0.5rem;
  text-align: center;
  overflow: hidden;
  }
.profile-pic {
  padding: 0rem;
}
.pup-profile, h3, p, button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pup-style {
  padding: 0rem;
  border-style: solid;
  border-color: gray;
  border-width: 0px 2px 2px 2px;
}
.adopt-this-dog {
  background-color: green;
  width: 80%;
  margin-bottom: 1rem;
}
.full-adoption-list {
  flex-basis: 100%;
  margin: auto;
  text-align: center;
}
.full-adoption-list > button {
  padding: 0.5rem 3rem 0.5rem 3rem;
}
.main-footer {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  background-color: #403f3e;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #403f3e;
  color: #ffffff;
}
.footer-fig {

}
.footer-info {
  width: 27rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.7rem;
}
.footer-nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  padding: 0.5rem;
}
.copyright {
  font-family: sans-serif;
  font-weight: 400;
}
