font {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5%;
  color: grey;
}

/* Header */
.one {
  box-sizing: content-box;
  max-width: 100%;
  max-height: 10%;
  }
.logo {
  max-width: 100%;
  max-height: 10%;
}
 /* Header Cart */
 .checkout {
box-sizing: content-box;
max-width: 20%;
position: absolute;
top: 15%;
right: 8%;
background-color: green;
font: white;
padding-top: 0.5%;
padding-bottom: 0.5%;
padding-right: 1%;
padding-left: 1%;
font: bold;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
 .cart {
  box-sizing: content-box;
  max-width: 2.5%;
  position: absolute;
  top: 10%;
  right: 10%;
 }

/* Navigation Bar */
.two {
  background-color: gray;
  font-size: 14px;
  font: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: .5%;
  text-indent: 10%;
  color: navy;
}

/* Adopt A Dog - About Us */
.three {
  columns: 2;
  row-gap: .5%;
  color: navy;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
}

/* Dogs for Adoption */
.four {
  columns: 4;
  column-gap: 1%;
  row-gap: 1%;
  font-size: 14px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 1%;
}
.dog-container {
  border: 1.5px solid #ebebeb;
  background-color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.dogsname {
  color: #003a66;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.adoptbutton {
color: white;
background: green;
text-align: center;
padding-left: 5%;
padding-right: 5%;
font-size: 16px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Footer */
.five {
  background-color: #143C5B;
  font: white;
  padding: 1%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
   }
/* Blog Page */
.adoptadogblog {
  font: #143C5B;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  font-weight: bold;
  padding-left: 10%;
}
.six {
  columns: 2;
  column-gap: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.seven {
  columns: 2;
  column-gap: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.eight {
  columns: 2;
  column-gap: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.blogtitles {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  font: #143c5b;
  font-size: 14px;
  font-weight: bold;
}

/* unvisited link */
a:link {
  color: white;
}
/* visited link */
a:visited {
  color: white;
}
/* mouse over link */
a:hover {
  color: white;
}
/* selected link */
a:active {
  color: white;
}
/* Checkout Form */