* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
header {
  background-image: url(../images/header-image.jpg);
    background-size:100% 100%;
}
.adoptadog-logo img{

  display:inline;
  position: relative;
  left: 2rem;
  width:50%;
  padding: 7.5rem;
  top: 0.625rem;
}
.dog-adoption-agency {
 color:#81b741;
 font-size:1.875rem;

 display: inline;
 position: relative;
 left: 11rem;
 bottom:8rem;


}
.price {

 display: inline;
 position:absolute;
 right:8rem;
 top: 7rem;
 color:white;
}
.checkout {

display:inline;
position:absolute;
right:8.5rem;
top:8.8rem;
background-color:#81b741;
width:7%;
height: 1.5rem;
text-align: center;


}
.checkout a {
  color:white;
  text-decoration: none;
}






.top-nav {
    background-color: #ececec;

}
 ul {

  overflow: hidden;
  list-style-type: none;
  margin-left: 2.5rem;
  padding:1.8rem;
 }
  li {
  float: left;

 }
li  a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #005580;
  font-weight:bold;
}
.box {
  display: flex;
  flex-direction:row;
  }
.box img {
  margin-top:2rem;
  margin-left:5rem;
}
.content {
  margin-right:7rem;
  margin-top:2rem;
  margin-left:2rem;
}
.content h1 {
  margin-bottom:1.7rem;
}
.content p {
  font-size:1.7rem;
  word-spacing:1rem;
  letter-spacing: 0.02rem;
  color:	 #666666;
}



.card-content {
  border: 0.125rem solid gray;
  width: 85%;
  box-shadow:0 0.5rem 0.625rem 0 #888888;
}

.container {
  height:15.625rem;
  padding: 0.875rem  3rem;
}
.container h3 {
  font-size: 1.5rem;
  color: #094160;
  margin:0  1rem 1rem 0;
}

















.footer-logo {
  width: 25%;

}
.footer-div {
  background-color: blue;
  padding: 11.25rem;
  text-align:center;
  color: white;
}
.footer-navbar-menu  li a{
   color: white;
   letter-spacing: 0.03rem;

}
footer nav {

  margin-left: 40%;;
}

.row {
  margin: 1.875rem;
}
.column {
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Content */
.content {

  padding: 1.875rem;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@
