html,body {
 box-sizing: border-box;
 overflow-x:hidden;
}


* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
body {
  background-color: #ececec;
}


.headerImg {
  margin-left: 4rem;
  width:40%;
  margin-top: 8rem;

}
#header-seattle-agency {
  color:#81b741;
  font-size:1.875rem;
  /* position:absolute; */
  margin-left:6rem;
  word-spacing:0.5rem;

}
.main-header {
  width:100%;
  height:500px;
  background-color:purple;
  background-image:url('../images/header-image.jpg');
  background-image: url('../images/header-image.jpg'),linear-gradient(red, yellow);
  background-size:cover;
  background-position:center center;
}
.dog-adoption-agency {
  color:#81b741;
  font-size:1.875rem;
  display: inline;
  position: relative;
  left: 11rem;
  bottom:8rem;
}
.price {

  display: inline;
  position:absolute;
  right:8rem;
  top: 7rem;
  color:white;
}
 .checkout {
  display:inline;
  position:absolute;
  right:8.5rem;
  top:8.8rem;
  background-color:#81b741;
  width:7%;
  height: 1.5rem;
  text-align: center;
}
.checkout a {
  color:white;
  text-decoration: none;
}
.top-nav {
  background-color:  #d4d4d4;

}
.top-nav ul {

  overflow: hidden;
  list-style-type: none;
  margin-left: 9.5rem;
  padding:1rem;
}
.top-nav li {
  float: left;

}
.top-nav li  a {
  /* display: block; */
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  color: #005580;
  font-weight:bold;
}

.content h1 {
  margin-bottom:1.2rem;
  margin-top: 1rem;
  color: #094160;
  font-weight: bold;
  font-size: 3rem;
}
.content p {
  font-size:1.7rem;
  word-spacing:1rem;
  letter-spacing: 0.02rem;
  color:	 #666666;
}
.row {
  margin: 2.7rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
}




.card-content {
  border: 0.125rem solid gray;
  width: 85%;
  box-shadow:0 0.5rem 0.625rem 0 #888888;
  margin: 2rem;
  padding:1rem;
}


/* .container h3 {
  font-size: 1.5rem;
  color: #094160;
  margin:0  1rem 1rem 0;
} */
.container p {
  letter-spacing: 0.0889rem;
  margin-top: 1rem;
}
.container button {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background-color:#81b741;
  width: 100%;
  height: 3rem;
  margin-top: -1rem;

}


.see-more-dogs {
  text-align:center;
  font-weight: bold;
  font-size:2rem;
  color:#094160;
}
.see-more-dogs a {
  background-color:#e1e1e1;
  color:#094160;
  text-decoration:none;
  margin-left:2rem;
}

footer {
  background-color: #094160;
  width: 100%;
  height: auto;
  padding:2rem;
  margin-top:2rem;
}

.footer-logo {
  width:50%;
  margin-left:9rem;
}

 .copyright-footer {
  margin-top:3rem;
  margin-right:2rem;
}
.copyright-footer {
  color: white;
  text-align: center;
  margin-right: 6rem;
  margin-top:3rem;
  font-size: 1.3rem;
  word-spacing: 1rem;
  padding: 2rem;
}
.footer-lines {
  color: white;
  font-size:1.5rem;
  line-height: 2.5rem;
  width: 50%;
  margin-left:9rem;
  text-align: center;
}


.bottom-nav {

  padding-left:6rem;
  margin-top:2rem;
  width:60%;
  text-align:center
}
.bottom-nav li a {
  color: white;
  font-size: 1.4rem;
  text-decoration:none;
  margin-left:2rem;
}

.bottom-nav li{
  display:inline-block;

}


.all-the-dogs h2 {
  font-size:2.5rem;
  color: #094160;
  margin-left:4.5rem;
  margin-top: 3rem;
}



.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.flex-container > div {
  display: flex;
  margin: 3rem 7rem 3rem 7rem;

}
.para-blog {
  display: flex;
  flex-direction: column;

  margin-left: 3rem;
}

.para-blog p {

  width: 100%;
  height: 5rem;
  line-height: 2rem;
  margin: 1.5rem;

}
.para-blog h2 {
  color: #094160;
  font-size: 1.7rem;
  margin-left:1.4rem;
  margin-top: 1rem;

}
.adopt-a-blog {
  width: 30%;
  text-align: center;
  margin-top: 2rem;
  color:#094160;

}

/*sign-out page styling8*/

.form-container {
  padding:1rem 5rem;
  width: 60%;
  margin: 0.75rem 6rem;
}
.container-content label{
  color: #094160;
  font-family:sans-serif;
  font-size:1.5rem;
}
.container-content h1 {
  color: #094160;
  margin: 1.5rem 0;
}
.form-container > div{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.form-container input, select{
  padding: 0.938rem;
}

.city {
  width:30%;
  height:4.375rem;
  float:left;
}

.city input {

  width:100%;
  margin-top:0.313rem;
  display:block;
  height:1.25rem;
}

.state {
  width:10%;
  height:4.375rem;
  float:left;
  margin-left:3rem;
}

.state select {
  display: block;
  margin-top:0.313rem;
  width: 100%;
  height:1.875rem;
}
.zip {

  width:40%;
  float:left;
  margin-left:4rem;
}
.zip input {

  display:block;
  width:100%;
  height:1.875rem;
  margin-top:0.2rem;

}
.radio-adopt label {
  margin-left:0.5rem;



}
#no {
  border:1px solid blue;
  margin-left:1rem;
}
.pickup {
  width:50%;
  padding:1rem;
}


.dogs-adopted-signout {
  padding:0.5rem 0 2rem 2rem;
  margin-left:9rem;
  color: #094160;
}
.total-adoption h2{
  padding:0.5rem 0 2rem 2rem;
  margin-left:9rem;
  color: #094160;
  margin-top:2rem;
}

.total-adoption p {
  padding:0.5rem 0 2rem 2rem;
  font-size:1.4rem;
  margin-top:-1.7rem;
  margin-left:9rem;
}
.checkout-button {
  padding:0.5rem 0 2rem 2rem;
  margin-left:9rem;

}
.checkout-button button  {
  background-color:#81b741;;
  width:20%;
  height:3.75rem;
  font-size:1.4rem;
  font-weight:bold;
  color:white;
}


.lucas-img {
  margin-left:11rem;
  width:20%;

}
.lucas-img img {
  width:6.25rem;
  height:6.25rem;

}
.lucas-content {

  position:absolute;
  margin-left:-11rem;
  margin-top:1rem;
}

.duffy-img {

  width:20%;
}
.duffy-img img {
  width:6.25rem;
  height:6.25rem;
}
.lucduff > div{
  display:inline-block;
}
.duffy-content {

  position:absolute;
  margin-left:-11rem;
  margin-top:1rem;
}
.first-time-adopter {
  color:#094160;
  font-size:1.5rem;
  margin-top:1rem;
  margin-bottom:1.5rem;
}

/* styling home page only (using blogs on side) */



.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap:1rem;
  margin-left:3rem;
  margin-right:-2rem;
  margin-top:1rem;
}


 .item-1 img {
    width:100%;


}
 /* .item-1 p {
     width:70%;
 } */
.item-2 {
   /* background-color:red; */
}
.item-2 {
    margin:1rem;
    padding:2rem;
}

.item-2 h2{
  color: #094160;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.item-2 p a{
    color: #094160;
    font-size: 1.1rem;
    text-decoration:none;
 }
 .item-2 p {
    margin-top: 1rem;
    margin-bottom:1rem;
 }
.item-3-grid  {

   display:grid;
   grid-template-columns:repeat(3, 3fr);


}


#homepage-adoptadog {
  color: #094160;
  margin-top:2rem;
}
#homepage-header {

  margin-left:2rem;
}
#homepage-para {
  margin-top:1rem;
  font-size:1.3rem;
  word-spacing:0.7rem;
}
.home-page-blog p a{
  color:#0fbbca;
}
/*
@media screen and (max-width:500px) {
  .item-2 {
    display:none;
  }
} */
@media screen and (max-width:768px) {
    .column {
      width:50%;

 }
}

@media screen and (max-width:500px) {
 .card-content {
   width: 100%;

 }
}

@media screen and (max-width:500px) {
 .item-2 {
   display:none;

 }
}


@media screen and (max-width:500px) {
 .item-3-grid {
   display:block;

 }
}
@media screen and (max-width:500px) {
  .column {
    display: block;

    width:100%;
  }
}

@media screen and (max-width:500px) {
 .item-2 {
   display:none;
 }
}
@media (orientation: portrait) {
 .item-2 {
   width:100%;

 }
}
@media screen and (max-width:768px) {
  .item-2 {
    display:none;
  }
}
