 * {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
 }

  header {
  background: #000000 url(images/header-image.jpg) no-repeat;
  width: 100%;
  }
#dog-adoption-agency {
  color: green;
  font-style: italic;
  font-size: 20px;
}


.header-container {
  display: flex;

  flex-direction: row;
  justify-content: space-between;


}
.logo-dog-adoption {
   margin: 2em;
   padding: 1em;

}
.top-checkout {
  margin: 2em;
  padding: 2em;
}
.top-checkout {
  color: white;
}
.check-out {
  margin: 1em;
  background-color:#66ff33;
  margin-left: -30%;
  text-align: center;
}
.check-out a {
  color:white;
  text-decoration: none;
}
nav {
    background-color: #f2f2f2;
}
 ul {

  overflow: hidden;
  list-style-type: none;
  margin-left: 40px;
 }
  li {
  float: left;

 }
li  a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #005580;
  font-weight:bold;
}


.main-body-container {

}
