/** Optimized for 1920x1080 screens.
**/

:root {
    --lime: #87BD42;
    --light-gray: #ECECEC;
    --dark-blue: #294F68;
    --deep-blue: #05395D;
    --gray: #3D3D3D;

    --max-screen-size: 1920px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
       
    display: flex;
    
    flex-flow: column nowrap;
    justify-content: center;
}

/* HEADER ELEMENT
 * 
*/
header {
    background-color: blue;
    background-image: url("../images/header-image.jpg");
    background-size: cover;

    object-fit: cover;

    max-width: 100%;
    height: 20rem;

    padding-top: 2rem;
    
    display: flex;

    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
}

#header-logo-caption-box {
    width: 30%;
    display: inline-block;
}

.header-dog-logo {
    width: 100%;
}

#header-caption {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;

    color: var(--lime);
}

/* #cart-box {
   Empty and commented out until needed. 
} */

#cart-and-total-box {
    width: 100%;

    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
}

#cart-logo {
    height: 2rem;
}

#cart-total {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    color: #FFF;
}

#cart-total::before {
    content: "$";
}

#cart-box button {
    border: none;
    margin-top:.5rem;
    padding: .5rem 3rem;
    background-color: var(--lime);
    color: #FFF;
}


/* NAVBAR ELEMENT
 *
*/

nav {
    margin: 0;

    background-color: var(--light-gray);
}

nav ul {
    margin: 0;
    padding: 1em;
    padding-left: 10em;
    padding-right: 10rem;

    color: var(--deep-blue);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bolder;
}

nav li {
    display: inline;

    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

nav li:first-child {
    padding-left: 0;
}

nav a {
    color: var(--deep-blue);
    text-decoration: none;
}

/* MAIN ELEMENT STYLING */
main {
    margin-left: auto;
    margin-right: auto;

    padding-top: 2rem;;
    padding-left: 11.5em;
    padding-right: 11.5rem;

    max-width: 1920px;
}

main h1 {
    color: var(--dark-blue);
    font-size: 24pt;
}

.side-bar {
    float:right;

    display: flex;

    flex-flow: column wrap;
}

.side-bar {
    margin-left: 3rem;
    max-width: 30%;

    display: flex;

    flex-direction: column;
    justify-content: center;
}

.side-blog-entry > .content-intro {
    padding: 0;
}

.side-blog-entry img {
    object-fit: scale-down;
}

/* section element
 * BLOG ENTRY
 */

.blog-entry {
    margin-bottom: 2rem;

    display: flex;

    flex-flow: row nowrap;
}

.blog-entry img {
    object-fit: scale-down;
}

.content-intro {
    padding-left: 3rem;
}

.content-intro h2 {
    font-size: 24pt;
}

.content-intro p {
    font-size: 18pt;
}

.blog-entry h2 {
    color: var(--dark-blue);
}

.blog-entry p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Smaller Screen
 *
*/
@media screen
    and (min-device-width: 1025px)
    and (max-device-width: 1290px)
{
    .blog-entry {
        display: flex;

        flex-flow: column wrap;
    }
}


/* Tablet Optimization
 *
*/
@media screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
{
    .blog-entry {
        display: flex;

        flex-flow: column wrap;
    }
}

/* Mobile Phone  Optimization
 *
*/
@media only screen
    and (min-device-width: 0px)
    and (max-device-width: 812px)
{
    .blog-entry {
        display: flex;

        flex-flow: column wrap;
    }
}

/* section element
 * DOG PARADE (dog selection)
 * FRONT PAGE ONLY
 */

 .dog-entry-index {
    margin-bottom: 2rem;
    
    max-width: 32%;
    
    border: solid .15rem;
    border-color: var(--light-gray);
}


/* section element 
 * DOG PARADE (dog selection)
 */
.dog-parade {
    max-width: var(--max-screen-size);
    
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;
}

.dog-entry {
    margin-bottom: 2rem;
    
    max-width: 24%;
    
    border: solid .15rem;
    border-color: var(--light-gray);
}

.portrait-card {
    width: 100%;
}

.dog-entry h2 {
    padding-left: 1rem;
    
    color: var(--dark-blue);
}

.dog-entry p {
    padding-left: 1rem;
    padding-right: 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.adopt-form-button {
    display: flex;
    justify-content: center;

    padding-bottom: 1rem;
}

.add-to-cart {
    width: 85%;
    
    font-size: 18pt;

    border: none;
    border-radius: .25rem;
    background-color: var(--lime);
    color: #FFF;
}

.see-more-dogs-section {
    padding-bottom: 2rem;
    
    display: flex;
    justify-content: center;
}

.see-more-dogs {
    padding: .75rem .75rem;

    font-size: 18pt;

    border: none;
    border-radius: .25rem;
    background-color: var(--light-gray);
    color: var(--dark-blue);
}

/* Smaller Screen
 *
*/
@media screen
    and (min-device-width: 1025px)
    and (max-device-width: 1290px) {
    .dog-parade {
        display: flex;

        flex-flow: row wrap;
        justify-content: center;
    }

    .dog-entry-index {
        max-width: 45%;
    }
}

/* Tablet Optimization
 *
*/
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
    .dog-parade {
        display: flex;

        flex-flow: row wrap;
        justify-content: center;
    }

    .dog-entry-index {
        max-width: 45%;
    }
}

/* Mobile Phone Optimization
 *
*/
@media only screen
    and (min-device-width: 0px)
    and (max-device-width: 812px)
{
    .dog-parade {
        display: flex;

        flex-flow: column nowrap;
        justify-content: center;
    }

    .dog-entry-index {
        max-width: 90%;
    }
}

/* section element
* SEE MORE DOGS
*/
.see-more-dogs {
    margin-top: 35px;;
    border: 0;
    
    display: flex;
    justify-content: center;
}

.see-more-dogs button {
    margin-left: auto;
    margin-right: auto;
}

/* section element
 * CHECKOUT FORM
*/
.checkout-form {
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 3rem;

    width: 75%;

    display: flex;
    flex-flow: column nowrap;
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}

.checkout-caption {
    margin-bottom: 0.5rem;

    font-size: 18pt;
    font-weight: bold;
    color: var(--dark-blue);
}

.checkout-macro-location {
    display: flex;
    flex-flow: row;
}

.checkout-macro-location > p {
    margin-right: 2rem;
}

.dogs-to-be-adopted {
    display: flex;

    justify-content: flex-start;
}

.checkout-profile {
    display: flex;

    flex-direction: row;
    padding-right: 2rem;
}

.details {
    padding-left: 1rem;
}

.details h2 {
    color: var(--dark-blue);
}

/* FOOTER
 *
*/
footer {
    background-color: var(--gray);
    color:var(--light-gray);

    width: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

footer img {
    padding-top: 5vh;
    height: 15vh;
}

footer p {
    display: flex;

    justify-content: center;
}

footer ul {
    padding: 0;
    background-color: transparent;

    display: flex;

    justify-content: center;
}

footer li {
    display: inline;
}