:root {
    --lime: #87BD42;
    --light-gray: #ECECEC;
    --dark-blue: #294F68;
    --gray: #3D3D3D;
}

header, body {
    margin: 0;
    padding: 0;
}

/* HEADER ELEMENT
 * 
*/
header {
    background-color: blue;
    background-image: url("../images/header-image.jpg");
    background-size: cover;

    width: 100%;
    height: 20rem;

    display: flex;
    flex-direction: column;
    align-content: center;
}

#header-logo-caption-box {
    width: 30%;
    display: inline-block;
    
    /* Distance will need to adapt based on screen size */
    padding-left: 5rem;
}

#header-dog-logo {
    width: 100%;
}

#header-caption {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;

    color: var(--lime);
}

#cart-box {
    align-self: flex-end;
    align-content: flex-start;
}

#cart-and-total-box {
    width: 100%;

    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
}

#cart-logo {
    height: 2rem;
}

#cart-total {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    color: #FFF;
}

#cart-total::before {
    content: "$";
}

#cart-box button {
    border: none;
    margin-top:.5rem;
    padding: .5rem 3rem;
    background-color: var(--lime);
    color: #FFF;
}

/* NAVBAR ELEMENT
 *
*/

nav {
    margin: 0;

    background-color: var(--light-gray);
}

nav ul {
    margin: 0;
    padding: 1em;
    padding-left: 5em;
}

nav li {
    display: inline;
}

/* MAIN ELEMENT STYLING */

/* section element
 * BLOG ENTRY
 */
.blog-entry {
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
}

.blog-entry h1 {
    color: var(--dark-blue);
}

.blog-entry p {
    width: 30em;
}

/* section element 
 * DOG PARADE (dog selection)
 */
.dog-parade {
    /* width: 800px; */
    
    /* margin-right: auto;
    margin-left: auto; */

    display: flex;

    flex-flow: row wrap;
    justify-content: center;
}

.dog-entry {
    width:200px;
}

.dog-entry:nth-child(4n) {
    /* I have no idea how this works. 
    https://stackoverflow.com/questions/19574851/how-to-specify-an-element-after-which-to-wrap-in-css-flexbox
    */

    page-break-after: always;
    /* break-after: always; */
}

.portrait-card {
    width: 200px;
}

/* section element
 * SEE MORE DOGS
*/
.see-more-dogs {
    margin-top: 35px;;
    border: 0;

    display: flex;
    justify-content: center;
}

.see-more-dogs button {
    margin-left: auto;
    margin-right: auto;
}

/* section element
 * CHECKOUT FORM
*/
.checkout-form {
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    display: flex;
    flex-flow: column nowrap;
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}


/* FOOTER
 *
*/
footer {
    background-color: var(--gray);
    color:var(--light-gray);

    width: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

footer img {
    padding-top: 5vh;
    height: 15vh;
}

footer p {
    display: flex;

    justify-content: center;
}

footer ul {
    padding: 0;
    background-color: transparent;

    display: flex;

    justify-content: center;
}

footer li {
    display: inline;
}