html {
    box-sizing: border-box;
    font-size: 62.5%;
}


/* Just add the universal selector (*) to your CSS, this will apply any rule to every element on the page. If any elements need them you can 
then add margins or padding to those elements themselves. This helps get rid of spacing when you can't quite tell what is causing it. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

body {
    font-family: 'Brygada 1918', serif;
    line-height: 1.6;
}


/*...............................pay attention to html and bodies and all other containers margins.............................................................*/

.grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 20%);
    height: 200rem;
    position: relative;
}

.header {
    grid-column: 1/2;
    grid-row: 1/2;
}

.main {
    grid-column: 1/2;
    grid-row: 2/5;
}

.footer {
    grid-column: 1/2;
    grid-row: 5/6;
}


/*....................................................header shit.........................................................*/

.header {
    margin-bottom: 10rem;
    background-color: black;
    background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
    height: 40rem;
    width: auto;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex: 1;
}

.logo {
    height: 15rem;
}

.header h1 {
    color: white;
    font-size: 2.75rem;
    font-family: 'Courgette', cursive;
    color: rgb(155, 226, 11);
    display: flex;
    justify-content: space-around;
    margin-top: -2rem;
}

.cart {
    width: 4rem;
    height: 4rem;
    /* transform: scale(.25); */
}

span {
    color: white;
    width: 10%;
    height: 10%;
    font-size: 2rem;
    font-weight: 700;
    transform: scale(.75);
}

.checkout {
    width: 15rem;
    height: 3rem;
    font-size: 1.75rem;
    background-color: rgb(155, 226, 11);
    color: white;
    font-weight: 700;
    border-style: none;
}

.checkout:hover {
    background-color: rgb(170, 253, 2);
}

.header_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5rem;
    margin-left: 6rem;
}

.header_bottom {
    display: flex;
    align-self: flex-start;
    margin-top: 10rem;
    margin-right: 3rem;
    margin-top: 6rem;
    flex-direction: column;
}


/*nav will be outside of main this time, as opposed to the top of main, will try to postion relatively between header and main section once main is complete*/

.main {
    display: flex;
    flex-direction: column;
    margin: 10rem 15rem 5rem 15rem;
}

.main h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    font-size: 1.75rem;
}

.main div {
    margin-bottom: 3rem;
}

.content div {
    margin-left: 3rem;
}

.content div h2 {
    margin-bottom: 2rem;
}


/*nav.......................................................................*/

.primary a:first-child {
    margin-left: 10rem;
}

.primary {
    position: relative;
    z-index: 10000;
    display: block;
    background-color: rgba(192, 192, 192, 0.3);
    padding: 1.3rem;
    position: relative;
    bottom: 160rem;
}

nav a {
    font-size: 2rem;
    /* padding-right: 5%; */
    padding-left: 2.5%;
    text-decoration: none;
    color: black;
}


/*.........................................................footer.........................................................*/

.footer {
    background-color: rgb(12, 73, 122);
    height: 35rem;
    margin-top: 15rem;
    padding-top: 15rem;
    clear: both;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 73, 122);
    text-align: center;
    padding-bottom: 15rem;
}

.footer img {
    height: 15rem;
}

.footer p {
    color: white;
    font-size: 1.2rem;
}

div.footer_nav {
    display: flex;
    justify-content: space-around;
    color: white;
}

div.footer_nav a {
    color: white;
    padding: 1.3rem;
}