html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Brygada 1918', serif;
    line-height: 1.6;
}

.header {
    grid-area: header;
}

.main1 {
    grid-area: main1;
}

.main2 {
    grid-area: main2;
}

.main3 {
    grid-area: main3;
}

.footer {
    grid-area: footer
}

.grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 'header' 'main1' 'main2' 'main3' 'footer';
    grid-gap: 1rem;
    display: flex;
}

.header {
    margin-bottom: 10rem;
    background-color: black;
    background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
    height: 40rem;
    width: 100%;
    position: relative;
    background-color: black;
    background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
    background-size: cover;
}

.checkout {
    position: absolute;
    left: 78%;
    top: 28%;
    width: 15rem;
    height: 3rem;
    font-size: 1.75rem;
    background-color: rgb(155, 226, 11);
    color: white;
    font-weight: 700;
    border-style: none;
}

.checkout:hover {
    background-color: rgb(170, 253, 2);
}

.logo {
    height: 15rem;
    position: relative;
    display: block;
    top: 15%;
    left: 1%;
}

.header h1 {
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    color: rgb(155, 226, 11);
    position: absolute;
    left: 3.0%;
    top: 43%;
}

.cart {
    position: absolute;
    left: 75%;
    top: 15%;
    width: 10%;
    height: 10%;
}

span {
    position: absolute;
    z-index: 10000;
    color: white;
    left: 82%;
    top: 17%;
    width: 10%;
    height: 10%;
    font-size: 2rem;
    font-weight: 700;
}

.primary {
    position: relative;
    z-index: 10000;
    display: block;
    background-color: rgba(192, 192, 192, 0.3);
    padding: 1.3rem;
    position: relative;
    padding-left: 15%;
    top: 62%;
}

nav a {
    font-size: 2rem;
    /* padding-right: 5%; */
    padding-left: 2.5%;
    text-decoration: none;
    color: black;
}

.main1,
.main2,
.main3 {
    margin: 5rem 20rem 5rem 20rem;
}

.main1>h1 {
    color: black;
    font-size: 3.5rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content>img {
    margin-right: 5rem;
}

h2 {
    margin-top: -2.5%;
    font-size: 3rem;
}

h2+p {
    font-size: 2rem;
    margin-top: -2%;
}

nav+p {
    color: white;
}

.footer {
    margin-top: 5%;
    padding-top: 6rem;
    clear: both;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 73, 122);
    bottom: 0;
    top: 100%;
    text-align: center;
    padding-bottom: 3.5%;
}

.footer img {
    height: 15rem;
}

.footer p {
    color: white;
    font-size: 1.2rem;
}

div.footer_nav {
    display: flex;
    justify-content: space-around;
    color: white;
}

div.footer_nav a {
    color: white;
    padding: 5%;
}