    html {
        box-sizing: border-box;
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Brygada 1918', serif;
        line-height: 1.6;
    }
    
    .header {
        grid-area: header;
    }
    
    .main {
        grid-area: main;
    }
    
    .footer {
        grid-area: footer
    }
    
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 25% 50% 25%;
        grid-template-areas: 'header' 'main' 'footer';
        grid-gap: 1rem;
        display: flex;
    }
    /* .header {
    background-color: black;
    background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
} */
    
    .header {
        margin-bottom: 10rem;
        background-color: black;
        background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
        height: 40rem;
        width: 100%;
        position: relative;
        background-color: black;
        background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
        background-size: cover;
    }
    
    .main {
        display: flex;
    }
    
    form {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        width: 50%;
    }
    
    label,
    input,
    textarea {
        display: flex;
        font-size: 3rem;
        font-family: inherit;
    }
    
    button {
        font-size: 3rem;
        font-family: inherit;
        border-radius: .5rem;
    }
    
    .header h1 {
        font-family: 'Courgette', cursive;
        font-size: 2.5rem;
        color: rgb(155, 226, 11);
        position: absolute;
        left: 3.0%;
        top: 43%;
    }
    
    .cart {
        position: absolute;
        left: 75%;
        top: 15%;
        width: 10%;
        height: 10%;
    }
    
    span {
        position: absolute;
        z-index: 10000;
        color: white;
        left: 82%;
        top: 17%;
        width: 10%;
        height: 10%;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .checkout {
        position: absolute;
        left: 78%;
        top: 28%;
        width: 15rem;
        height: 3rem;
        font-size: 1.75rem;
        background-color: rgb(155, 226, 11);
        color: white;
        font-weight: 700;
        border-style: none;
    }
    
    .checkout:hover {
        background-color: rgb(170, 253, 2);
    }
    
    input[name="zip"] {
        width: 18rem;
    }
    
    .float {
        margin-top: -8%;
    }
    
    .logo {
        height: 15rem;
        position: relative;
        display: block;
        top: 15%;
        left: 1%;
    }
    
    .primary {
        position: relative;
        z-index: 10000;
        display: block;
        background-color: rgba(192, 192, 192, 0.3);
        padding: 1.3rem;
        position: relative;
        padding-left: 15%;
        top: 62%;
    }
    
    nav a {
        font-size: 2rem;
        /* padding-right: 5%; */
        padding-left: 2.5%;
        text-decoration: none;
        color: black;
    }
    
    h1 {
        color: white;
    }
    /* .footer {
    background-color: rgb(6, 6, 112);
}

.footer img {
    height: 10rem;
}

nav+p {
    color: white;
} */
    
    .cart {
        height: 5rem;
    }
    
    .citystate {
        border: none;
        display: flex;
    }
    
    .citystate input,
    select {
        margin-right: 2rem;
        position: relative;
        right: 1rem;
        text-align: left;
    }
    
    .citystate * {
        text-align: left;
        display: inline;
    }
    
    .citystate label {
        text-align: left;
    }
    
    form h1 {
        color: black;
        font-size: 5rem;
    }
    
    .is_adopter {
        /* position: relative; */
        display: flex;
        border: none;
        width: 10rem;
    }
    
    select {
        height: 4rem;
    }
    
    form * {
        margin-bottom: 2rem;
    }
    
    fieldset label,
    input {
        padding-right: 3rem;
    }
    
    fieldset input[type="radio"] {
        transform: scale(1.5);
        position: relative;
        top: 1.2rem;
    }
    
    .adopted div {
        transform: scale(.75);
        margin-bottom: none;
        padding: none;
        margin: none;
    }
    
    .adopted img {
        object-fit: cover;
        display: inline;
        height: 15rem;
        width: 15rem;
    }
    
    .adopted p {
        /* display: block;*/
    }
    
    .dog_container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    .adopted {
        /* display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -25%; */
        text-align: left;
    }
    
    .adopted * {
        /* margin-left: -5%; */
        /* padding: none; */
    }
    
    form p,
    legend {
        font-size: 3rem;
    }
    
    legend {
        width: 30rem;
    }
    
    .footer {
        margin-top: 5%;
        padding-top: 6rem;
        clear: both;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(12, 73, 122);
        bottom: 0;
        top: 100%;
        text-align: center;
        padding-bottom: 3.5%;
    }
    
    .footer img {
        height: 15rem;
    }
    
    .footer p {
        color: white;
        font-size: 1.2rem;
    }
    
    div.footer_nav {
        display: flex;
        justify-content: space-around;
        color: white;
    }
    
    div.footer_nav a {
        color: white;
        padding: 5%;
    }
    
    select[name="pickup"] {
        width: 35%;
    }
    
    form button {
        width: 40%;
        text-align: center;
        background-color: rgb(155, 226, 11);
        border-radius: .5rem;
    }
    
    form button:hover {
        background-color: rgb(170, 253, 2);
    }
    
    .adopted>p {
        /* position: relative;
        left: -38%; */
    }
    
    .dog_container {
        position: relative;
        left: -13%;
    }