.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Brygada 1918', serif;
    line-height: 1.6;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "header" "main" "main" "main" "footer";
    grid-gap: 1rem;
}

div.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
}

.header {
    margin-bottom: 10rem;
    background-color: black;
    background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
    height: 40rem;
    width: 100%;
    position: relative;
    background-color: black;
    background-image: url(https://github.com/mjay88/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true);
    background-size: cover;
}

.header h1 {
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    color: rgb(155, 226, 11);
    position: absolute;
    left: 3.0%;
    top: 43%;
}

.cart {
    position: absolute;
    left: 77%;
    top: 15%;
    width: 10%;
    height: 10%;
    transform: scale(.75);
}

span {
    position: absolute;
    z-index: 10000;
    color: white;
    left: 82%;
    top: 17%;
    width: 10%;
    height: 10%;
    font-size: 2rem;
    font-weight: 700;
    transform: scale(.75);
}

.checkout {
    position: absolute;
    left: 78%;
    top: 28%;
    width: 15rem;
    height: 3rem;
    font-size: 1.75rem;
    background-color: rgb(155, 226, 11);
    color: white;
    font-weight: 700;
    border-style: none;
}

.checkout:hover {
    background-color: rgb(170, 253, 2);
}

.logo {
    height: 15rem;
    position: relative;
    display: block;
    top: 15%;
    left: 1%;
}

.primary {
    position: relative;
    z-index: 10000;
    display: block;
    background-color: rgba(192, 192, 192, 0.3);
    padding: 1.3rem;
    position: relative;
    padding-left: 15%;
    top: 62%;
}

nav a {
    font-size: 2rem;
    /* padding-right: 5%; */
    padding-left: 2.5%;
    text-decoration: none;
    color: black;
}

.top {
    font-size: 5rem;
    color: black;
    clear: none;
    display: block;
    z-index: 100000;
    position: relative;
    left: 13%;
    top: 63%;
    margin-bottom: -8rem;
}

.main div {
    box-shadow: 0px 0px 15px gray;
    position: relative;
    top: 50%;
    width: 23rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: left;
    text-align: left;
    margin: 10rem 2rem 0rem 2rem;
}

div h3,
div p,
div strong {
    padding-left: 1rem;
}

h3 {
    margin-bottom: -.75rem;
    font-size: 1.75rem;
}

.cost {
    font-size: 1.5rem;
}

.bio {
    margin-top: -1%;
}

div strong {
    font-size: 1.5rem;
}

div button {
    height: 2.75rem;
    justify-content: center;
    width: 18rem;
    position: relative;
    top: 3%;
    border-radius: 2%;
    align-items: end;
    align-self: center;
    background-color: rgb(155, 226, 11);
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border-style: none;
}

div button:hover {
    background-color: rgb(170, 253, 2);
}

.footer {
    margin-top: 5%;
    padding-top: 6rem;
    clear: both;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 73, 122);
    bottom: 0;
    top: 100%;
    text-align: center;
    padding-bottom: 3.5%;
}

.footer img {
    height: 15rem;
}

.footer p {
    color: white;
    font-size: 1.2rem;
}

div.footer_nav {
    display: flex;
    justify-content: space-around;
    color: white;
}

div.footer_nav a {
    color: white;
    padding: 5%;
}

strong {
    position: relative;
    left: -4%;
}