html {
    box-sizing: border-box;
    font-size: 62.5%;
}


/* Just add the universal selector (*) to your CSS, this will apply any rule to every element on the page. If any elements need them you can 
then add margins or padding to those elements themselves. This helps get rid of spacing when you can't quite tell what is causing it. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

body {
    font-family: 'Brygada 1918', serif;
    line-height: 1.6;
}


/*...............................pay attention to html and bodies and all other containers margins.............................................................*/

.grid_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: .1fr .3fr .1fr;
    grid-template-areas: "header" "main" "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


/*....................................................header shit.........................................................*/

.header {
    background-image: url(https://github.com/UWFront-End-Cert/html200-adopt-a-dog/blob/master/images/header-image.jpg?raw=true), repeating-radial-gradient(ellipse at 50% 50%, #FF0055 99.46%, #0c497a 100%);
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    padding: 4rem;
    flex-wrap: wrap;
}

.logo {
    height: 14rem;
}

.header h1 {
    color: white;
    font-size: 2.75rem;
    font-family: 'Courgette', cursive;
    color: rgb(155, 226, 11);
    display: flex;
    justify-content: space-around;
    margin-top: -2rem;
}

.cart {
    width: 11rem;
}

span {
    color: white;
    width: 10%;
    height: 10%;
    font-size: 2rem;
    font-weight: 700;
    transform: scale(.75);
}

.checkout {
    width: 15rem;
    height: 3rem;
    font-size: 1.75rem;
    background-color: rgb(155, 226, 11);
    color: white;
    font-weight: 700;
    border-style: none;
}

.checkout:hover {
    background-color: rgb(170, 253, 2);
}

.header_top {
    position: relative;
    right: 15rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.header_bottom {
    display: flex;
    align-self: center;
    flex-direction: column;
    /* flex-basis: 50%; */
    position: relative;
    left: 15rem;
}

.primary a:first-child {
    margin-left: 10rem;
}

.primary {
    position: absolute;
    display: block;
    background-color: rgb(135, 136, 133);
    display: flex;
    align-self: flex-end;
    padding: 1.3rem;
    width: 100%;
    top: 90%;
}

nav a {
    font-size: 2rem;
    /* padding-right: 5%; */
    padding-left: 2.5%;
    text-decoration: none;
    color: black;
}


/*main**************************************************************************/

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
    flex-wrap: wrap;
}

.main h1 {
    font-size: 3rem;
}

.content {
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    margin: 3rem;
}

.content p {
    align-self: center;
    margin-left: 2rem;
}

.content div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content div h2 {
    align-self: start;
    margin-left: 2rem;
}


/*main4 is the class on the element created in the javascript file, you need to 
re go over that lesson and try to do it better, maybe with jquery if you have time*/

.main4 {
    display: flex;
}

.main4 p {
    margin-top: 5rem;
}

@media screen and (max-width: 892px) {
    .header_top {
        right: 0;
    }
    .header_bottom {
        left: 0;
    }
    .main4 img {
        /* width: 690.4px;
        height: 652.51px; */
    }
    .main {
        flex-direction: column;
    }
}

@media screen and (max-width: 1096px) {
    .main4 img {
        /* width: 550px;
        height: 525px; */
    }
}

@media screen and (max-width: 1298px) {
    .grid_container {
        grid-template-rows: .1fr .3fr .1fr;
    }
    .main p {
        margin-top: 7.5%;
    }
    .header {
        justify-content: space-evenly;
    }
    .header_bottom {
        position: relative;
        left: 10%;
    }
    .header_top {
        position: relative;
        right: 10%;
    }
    .content {
        flex-direction: column;
    }
    .main {
        padding: 4rem 20rem;
    }
    .main4 img {
        /* width: 690.4px;
        height: 652.51px; */
    }
}


/*nav.......................................................................*/


/*.........................................................footer.........................................................*/

.footer {
    background-color: rgb(12, 73, 122);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 73, 122);
    text-align: center;
    padding: 5rem;
}

.footer img {
    height: 14rem;
}

.footer p {
    color: white;
    font-size: 1.2rem;
}

div.footer_nav {
    display: flex;
    justify-content: space-around;
    color: white;
}

div.footer_nav a {
    color: white;
    margin-right: 2rem;
}

.main h1,
.main h2,
.main p,
.primary a {
    color: black;
}


/************************Queries***********************/

@media screen and (max-width: 551px) {
    .main4 img {
        /* width: 350px; */
    }
    .main {
        padding: 0;
    }
    .content {
        padding: 3rem 0rem;
        align-items: center;
    }
    .main img {
        padding-bottom: 3rem;
    }
    .content p {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding: 0;
    }
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .header_top {
        left: 0;
        right: 0;
        margin: 0;
        margin-top: 1rem;
        flex: 1;
    }
    .header_bottom {
        left: 0;
        right: 0;
        margin: 0;
        flex: 3;
    }
}


/*this is here because something must be wrong with
the js.file because the html all looks good, but it 
seems as the img is not inheriting any css...maybe this 
is because the original image file is so big? The rest of
the elements seem to be iheriting the css just fine...its
a god damn mystery*/

.content:last-child img {
    width: 18.8em;
    height: 17.3em;
}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 1298px) {
    .content:last-child img {
        width: 47.45em;
        height: 44.845625em;
        height: 21.25em;
        height: 30em;
        height: 100%;
        width: 100%;
    }
}