@charset "UTF-8";

body {
  text-align: center;
  color: black;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/* Header */
header {
  background-color: #2952a3;
  color: #99CC33;
}

.total {
  color: white;
}

.header-container {
  width: 100%;
  height: 100px;
  padding-bottom: 50px;
  background-color: #193366;
  float: left;
  clear: none;
  margin: 0;
}

.header-container-dogs {
  width: 100%;
  height: 100px;
  padding-bottom: 50px;
  background-color: #193366;
  margin: 0;
}

.header-container-blog {
  width: 100%;
  height: 100px;
  padding-bottom: 50px;
  background-color: #193366;
  margin: 0;
}

.header-container-checkout {
  width: 100%;
  height: 100px;
  padding-bottom: 50px;
  background-color: #193366;
  margin: 0;
}

/* Navbar */
.navbar-container {
  background-color: #C0C0C0;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  padding-top: 2px;
  float: left;
  clear: none;
}

.navbar-container a {
  color: #193366;
  font-weight: normal;
}

.hero-container {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  float: left;
  clear: none;
}

.hero {
  display: flex;
  flex-wrap: wrap;
}

.hero p {
  margin-right: 100px;
}

.logo {
  font-weight: bold;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
}

.checkout {
  display: inline-flex;
  flex-direction: column-reverse;
  flex-flow: column wrap;
  float: right;
  padding: 10px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #99CC33;
  color: #333333;
  border: 1px solid #CCCCCC;
}

.see-dogs {
  font: bold 20px Times;
  text-decoration: none;
  background-color: #D0D0D0;
  color: #2952a3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.submit-button {
  font: bold 20px Times;
  text-decoration: none;
  background-color: #99CC33;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-container a {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
	float: left;
	color: #FFFFFF;
	margin-right: 2%;
	letter-spacing: 2px;
}
ul li a {
  text-decoration: none;
}

.dog-box button {
  background-color: #99CC33;
  color: white;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
}

.dog-box {
  width: 16%;
  padding: 0px;
  border: 1px solid gray;
  margin: 2%;
  display: inline-block;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;\
}

.dog-box p {
  padding-left: 10px;
  text-align: left;
}

.dog-box h3 {
  padding-left: 10px;
  text-align: left;
  margin-left: 2px;
  color: #2952a3;
}

.dog-box h4 {
  padding-left: 10px;
  text-align: left;
}

.dog-box button {
  display: inline-block;
  width: 95%;
  margin: 5px;
}

.hero {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow:hidden;
  text-align: left;
}


.hero img {
  float: left;
  margin-left: 10.5%;
  width: 25%;
  padding-right: 10px;
}

.hero-text {
  float: left;
  margin-left: 10px;
}

.blog-post {
  width: 100%;
  overflow:hidden;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.image-section,
.aside {
  margin: 10px;
}

.aside h2 {
  color: #2952a3;
}

.image-section {
  float: left;
  width: 30%;
  margin-left: 5%;
  padding: 10px;
}

.aside {
  float: right;
  width: 60%;
  min-width: 30%;
}

.dogs-adopted {
  width: 10%;
  padding: 0px;
  border: 1px solid gray;
  box-sizing: border-box;
  margin: auto;
}

form {
  color: #2952a3;
  font-weight: bold;
}

.text-input {
  width: 50%;
  height: 25px;
}

.checkout-dogs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  background-color: #383838;
  align-items: center;
  color: white
}

.footer img {
  align-items: center;
  width: 30%;
  padding-top: 3%;
}

.footer a {
  font-size: 25px;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  text-decoration: none;
}

.footer p {
  padding-bottom: 3%;
}

h1 {
  color: #2952a3;
}
