#index-container {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

#index-image {
width: 100%;
margin-bottom: 5%;
}

.index-header {
  color: #093C60;
  font-size: 2em;
  margin-bottom: 3%;
  text-align: center;
}

#index-content {
  color: #3D3D3D;
  line-height: 2em;
  font-size: 1em;
  text-align: center;
  margin: 0% 5% 5% 5%;
}

.grid-index-adoptions {
  display: grid;
  margin-left: 3%;
  margin-right: 3%;
}

.adoption-image {
  width: 100%;
}

.adoption-header {
  color: #093C60;
  padding: 1% 0% 3% 3%;
}

.adoption-cost {
  color: #3D3D3D;
  font-size: .75em;
  padding: 0% 0% 3% 3%;
}

.adoption-body {
  color: #3D3D3D;
  font-size: 1em;
  padding: 0% 5% 3% 3%;
}

aside {
  display: none;
}

.index-adopt-button {
  margin: 2% 3%;
  background-color: #81B741;
  border: none;
  color: white;
  padding: 2%;
  width: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
}

#murphy {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#poppy {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#jack {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#duffy {
  grid-column: 1;
  grid-row: 4;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#lucas {
  grid-column: 1;
  grid-row: 5;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#jake {
  grid-column: 1;
  grid-row: 6;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#angus {
  grid-column: 1;
  grid-row: 7;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}
#violet {
  grid-column: 1;
  grid-row: 8;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

.see-more {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.see-more-button {
  background-color: #ECECEC;
  border: none;
  color: #093C60;
  padding: 2% 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
}
