* {
  margin: 0;
  font-family: "Georgia", serif;
}

header {
  background-color: #093C60;
  padding: 5% 0% 5% 0%;
}


#header-checkout-all {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


.header-logo {
  width: 80%;
  margin-left: 10%;
}

.header-title {
  color: #81B741;
  font-size: 3em;
  text-align: center;
  margin-bottom: 5%;
}

#header-price {
  font-size: 1.5em;
}

.cart-logo {
  width: 40%;
  margin-top: 10%;
  margin-left: 35%;
}

#header-price {
  color: white;
  text-align: center;
  font-size: 2em;

}

.button {
  background-color: #81B741;
  border: none;
  color: white;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}

.global-navigation {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  font-weight: bold;
  background: #ECECEC;
  padding: 2% 0% 2% 0%;
}

.nav-link {
  color: #093C60;
  text-decoration: none;
}

.nav-link-2 {
  color: #093C60;
  text-decoration: none;
}

.grid-index-adoptions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  line-height: 3em;
}

.index-adopt-button {
  background-color: #81B741;
  border: none;
  color: white;
  padding: 3% 33%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: bolder;
}

#dogs-header {
  color: #093C60;
  text-align: center;
  margin: 3% 0%;
}

#murphy {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #ECECEC;
}

#poppy {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid #ECECEC;
}

#jack {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid #ECECEC;
}

#duffy {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid #ECECEC;
}

#lucas {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid #ECECEC;
}

#jake {
  grid-column: 2;
  grid-row: 3;
  border: 1px solid #ECECEC;
}

#angus {
  grid-column: 1;
  grid-row: 4;
  border: 1px solid #ECECEC;
}

#violet {
  grid-column: 2;
  grid-row: 4;
  border: 1px solid #ECECEC;
}

#piper {
  grid-column: 1;
  grid-row: 5;
  border: 1px solid #ECECEC;
}

#maximus {
  grid-column: 2;
  grid-row: 5;
  border: 1px solid #ECECEC;
}

#luna {
  grid-column: 1;
  grid-row: 6;
  border: 1px solid #ECECEC;
}

#stella {
  grid-column: 2;
  grid-row: 6;
  border: 1px solid #ECECEC;
}

.universal-footer {
  margin-top: 30%;
  padding: 5% 0% 5% 0%;
  text-align: center;
  background-color: #3D3D3D;
  color: white;
  line-height: 3em;
}

.footer-logo {
  width: 40%;
}

.footer-body {
  font-size: .75em;
  margin: 0% 10% 0% 10%;
  color: white;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin-bottom: 3%;
  font-size: 2.5em;
}
