#blog-header {
  color: #093C60;
  font-size: 2em;
  text-align: center;
  margin: 5% 0%;
  }

.post-header {
  color: #093C60;
  font-size: 1.5em;
  margin: 3% 0%;
}

.image {
  width: 100%;
  margin: 3% 0%;

}

.blog-body {
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 3%;
}
