.header {
    color: white;
    background-color: #003366;
    padding: 4%;
    background-image: url("lesson04-mock2-banner-image.jpg");
    background-repeat: no-repeat;
    background-size: 150% 50%;
}

h3 {
    color: #4CAF50;
}

.hidden {
    position: relative;
    left: -10000px;
    top: auto;
}

    .hidden:focus {
        left: 0;
    }

nav {
    background-color: #DCDCDC;
    padding: 30px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    display: block;
    margin: .8rem;
}

    input[type=submit] {
        width: 50%;
        background-color: steelblue;
        border-radius: 15px;
    }

fieldset {
    border: none;
}

    fieldset input {
        display: inline;
    }

footer {
    text-align: center;
    padding: 12%;
    background-color: dimgray;
    color: white;
    margin-top: 5%;
    background-image: url("lesson04-mock4-footer-image.jpg");
}
