.header {
    color: white;
    background-color: #003366;
    padding: 4%;
    background-image: url("lesson04-mock2-banner-image.jpg");
    background-repeat: no-repeat;
    background-size: 150% 50%;
}

h3 {
    color: #4CAF50;
}

.hidden {
    position: relative;
    left: -10000px;
    top: auto;
}

    .hidden:focus {
        left: 0;
    }

nav {
    background-color: #DCDCDC;
    padding: 30px;
}

.flex {
    display: flex;
}

    .flex > section {
        margin-top: 30px;
        margin-right: 1em;
        width: 15%;
        border: 3px solid #73AD21;
        padding: 15px;
    }

.flexi {
    display: flex;
}

    .flexi > section {
        margin-top: 30px;
        margin-right: 1em;
        width: 15%;
        border: 3px solid #73AD21;
        padding: 15px;
    }

.flexin {
    display: flex;
}

    .flexin > section {
        margin-top: 30px;
        margin-right: 1em;
        width: 15%;
        border: 3px solid #73AD21;
        padding: 15px;
    }

footer {
    text-align: center;
    padding: 12%;
    background-color: dimgray;
    color: white;
    margin-top: 15%;
    background-image: url("lesson04-mock4-footer-image.jpg");
}
