/* Stylesheet created for Adopt a Dog website
    Author: Christopher Pierce
    Created: 08/15/2023 */

/* Global */

[class*="col-"] {
    float: left;
}
        
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
    
*, ::before, ::after {
    box-sizing: border-box;
}
    
header {
    background: linear-gradient(90deg, #3d3d3d 23%, #81b741 55%, #093c60 100%);    background-size: cover;
    background-image: url("../images/header-medium.jpg");
    background-position: top center;
    background-image: cover;
    height: 30vw;
 }

img {
    max-width: 100%;
}
    
.row::after {
    content: "";
    clear: both;
    display: table;
}
    
    /* HEADER SECTION */

.logo-img {
    width: 25%;
    position: absolute;
    left: 5vw;
    top: 8vw;
}
    
.sub-header {
    position: absolute;
    left: 5vw;
    top: 13.25vw;
    color: #81b741;
    font-size: 1.55vw;
}

.cart-icon {
    position: absolute;
    left: 85%;
    top: 5.5vw;
    width: 1.5%;
}
    
.cart-price {
    position: absolute;
    left: 87%;
    top: 5.25vw;
    color: white;
    font-size: .85vw;
}
    
.checkout-button {
    position: absolute;
    left: 83.25%;
    top: 8vw;
}
    
.cb-style {
    color: white;
    font-size: .75vw;
    font-weight: bold;
    background-color: #81b741;
    padding: .35vw 1.75vw;
    border: none;
    border-radius: 2px;
}
    
    /* NAV SECTION */
    
.nav-header {
    background: #ececec;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
}
    
.nav-header a {
    text-decoration: none;
    color: #093c60;
    font-size: calc(.5rem + .5vw);
    font-weight: bold;
    font-family: 'PT Serif', serif;
    padding-left: 2rem;
}
    
.nav-header a:visited {
    color: #093c60;
}
    
.nav-footer {
    font-family: 'PT Serif', serif;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
    
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
    
footer a:visited {
    color: white;
}
    
footer span {
    font-weight: bold;
    padding-left: .5vw;
    padding-right: .5vw;
}
    
    /* FOOTER SECTION */
    
footer {
    display: grid;
    justify-content: space-around;
    background: #093c60;
    color: white;
    text-align: center;
    padding: 2vw;
}
    
    /* Index */
    
article {
    width: 60%;
    padding-left: 3vw;
}
    
article h2 {
    color: #093c60;
    font-size: 2.5vw;
}
    
article p {
    font-size: 1.5vw;
    line-height: 1.25;
}
    
.index-container {
    display: flex;
    flex-wrap: column wrap;
    margin: 3vw 12vw;
    column-gap: 3vw;
}

.index-main {
    padding: .75em;
}

.index-main h2 {
    color: #093c60;
    font-size: 36pt;
}

.index-main p {
    color: #3d3d3d;
    font-size: calc(8pt + .75vw);
    line-height: 1.25;
}

.blog-preview {
    padding-bottom: 3em;
}

.blog-side a {
    color: #239ab9;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
}

.blog-side a:visited {
    color: #239ab9;
}

.blog-side img {
    width: 80%;
    height: 12rem;
}

.blog-side p {
    width: 80%;
    color: #3d3d3d;
    font-size: 16pt;
    line-height: 1.25;
    letter-spacing: .1rem;
}

.blog-side h2, h3 {
    color: #093c60;
}

.blog-side h2 {
    font-size: 32pt;
    font-weight: bold;
}

.blog-side h3 {
    font-size: 20pt;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vw;
}
    
.dog-profile {
    width: 12em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
.dog-profile img {
    width: 100%;
    height: 10rem;
}
    
.dog-profile h3 {
    margin-left: 10%;
    color: #093c60;
}
    
.dog-profile p {
    margin-left: 10%;
}
    
.main-img {
    height: auto;
    padding-bottom: 2rem;
}

.profile-button {
    margin: 10%;
    width: 80%;
    color: white;
    background-color: #81b741;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 4px;
}
    
.see-more {
    display: flex;
    justify-content: space-around;
}
    
.see-more button {
    background-color: #ececec;
    font-weight: bolder;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 6vw;
    padding: 1vw 3vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    
.see-more a {
    color: #093c60;
    text-decoration: none;
    font-size: calc(1rem + 1.2vw);
}
    
.see-more a:visited {
    color: #093c60;
    text-decoration: none;
    font-size: calc(1rem + 1.2vw);
}
    
    /* Dogs */
    
.title-align {
    margin-left: 11.5%;
    color: #093c60;
    font-size: 36pt;
    font-weight: bold;
}
    
    /* Blog */

.blogCont {
    margin-left: 11.5vw;
    display: flex;
    flex-wrap: column wrap;
    padding-bottom: 2vw;
}

.blogCont img {
    width: 100%;
    height: 20vw;
}
    
.blog-row::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 2vw;
}
    
.blogCont h1 {
    color: #093c60;
    font-size: 2.5vw;
    font-weight: bolder;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
    
.blogCont h2 {
    color: #093c60;
    font-size: 2vw;
    font-weight: bold;
    margin-left: 3vw;
    line-height: 0;
    padding-bottom: .5vw;
}
    
.blogCont p {
    font-size: 1.15vw;
    margin-left: 3vw;
    margin-right: 6vw;
    line-height: 1.5vw;
}
    
    /* Checkout */
    
.container {
    margin: 2vw 11.5vw;
}
    
.container-label {
    color: #093c60;
    font-size: 1.5vw;
    font-weight: bold;
    padding-top: 2rem;
}
    
.marg-control {
    margin-bottom: 2vw;
}
    
.container input, select {
    height: 3vw;
    background: none;
    border:.01vw solid #cccccc;
}
    
.label-pad {
    padding-bottom: .25vw;
}
    
.co-title {
    color: #093c60;
    font-size: 2vw;
    font-weight: bold;
}

.row-control {
    display: inline-flex;
    flex-wrap: column wrap;
    justify-content: space-between;
}
    
.city {
    margin-top: .25vw;
    width: 13vw;
}

.state {
    margin-top: .25vw;
    width: 8vw;
}
    
.zip {
    margin-top: .25vw;
    width: 13vw;
}
    
.radio-pad {
    padding-bottom: .75vw;
}
    
.radio-cont {
    margin-left: 11.5vw;
    line-height: 0;
}
    
.radio-control {
    display: inline;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 3vw;
    margin-right: 3vw;
    cursor: pointer;
    font-size: 1.25vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
.radio-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
    
.radio-control input:checked ~ .checkmark {
    background: #093c60;
}
    
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.35vw;
    width: 1.35vw;
    border:.01vw solid #cccccc;
    border-radius: 50%;
}
    
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
    
.radio-control input:checked ~ .checkmark:after {
    display: inline-block;
}
    
.pu-loc {
    padding-left: 12vw;
}
    
.selected-dog {
    padding-left: 1vw;
}
    
.selected-name {
    color: #093c60;
    font-size: 1.25vw;
    font-weight: bold;
}
    
.span-style {
    font-size: .85vw;
    font-weight: bold;
}

.price-style {
    font-size: .85vw;
}
    
.form-submit {
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
    background-color: #81b741;
    padding: 1vw 6.5vw;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
    border: none;
    border-radius: 2px;
}

    /* @media */

@media (max-width: 1023px) {
    .index-side {
        visibility: hidden;
    } 
}

@media (max-width: 768px) {
    .profile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 2vw;
    }
        
    .dog-profile {
        width: 10em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (min-width:320px) {
    footer {
        display: grid;
        justify-content: space-around;
        background: #093c60;
        color: white;
        text-align: center;
        padding: 8vw 20vw;
    }
}

@media print {
    header, footer, nav, form {
        display: none;
    }

    div {
        width: 100%!important;
        padding: 0!important;
        margin: 0!important;
    }
}