.grid-container{
  display: grid;
  grid-template-rows: 125px 125px 125px 125px 125px;
  grid-template-columns: 250px 250px 250px 250px 250px 250px;
}
.grid-item-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: -5rem;
  margin-left: -50px;
}
.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  padding-left: 150px;
  font-family: Arial, sans-serif;
}
.grid-item-3 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 40px;
  padding-left: 40px;
}
.grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-item-5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-top: 45px;
  line-height: 5px;
  font-size: 10px;
}
.grid-item-6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 80px;
}
.grid-item-7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 65px;
  line-height: 5px;
  font-size: 10px;
}
.grid-item-8 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
  margin-top: 80px;
}
.grid-item-9 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
  margin-top: 65px;
  line-height: 5px;
  font-size: 10px;
}
.header-text {
  color: #32CD32;
  grid-column-start: 2;
  grid-column-end: 6;
  font-size: 20px;
}

.header-text {
  color: #32CD32;
  grid-column-start: 2;
  grid-column-end: 6;
  font-size: 20px;
}
.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-background {
  background-size: 1500px 500px;
  background-color: #005580;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 15rem;
}
.copyright-border {
  border-left: 2px solid white;
  padding-left: 10px;
  margin-left: 10px;
  border-width: thin;
}
.copyright {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
}
.footer-link {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-text {
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  line-height: 1px;
}
.link {
  text-decoration: none;
  color: #191970;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.nav {
  background-color: #F5F5F5;
  color: #191970;
  font-family: Arial, sans-serif;
  margin-top: -16rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 17rem;
}

#total {
  color: #FFFFFF;
  font-size: 11px;
  padding-left: 103px;
}

#checkout {
  background-color: #32CD32;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  margin-left: 100px;
}
.background {
  background-image: url(../assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: 1500px 375px;
}
h1 {
  color: #005580;
  padding-left: 270px;
}
h2 {
  color: #005580;
  margin-left: 10px;
}
h3 {
  color: #005580;
  padding-left: 17rem;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
h4 {
  color: #005580;
  font-family: Arial, sans-serif;
  padding-left: 34rem;
  font-size: 14px;
}
section p {
  font-family: Arial, sans-serif;
  padding-left: 34rem;
}
.blogimage {
  padding-left: 17rem;
}
.linebreak {
 margin-bottom: 40px;
}
