button, input, select {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 3rem;
    margin-left: 5rem;
    height: 2.5rem;
  }
  .checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 5rem; */
    
  }
  a, h1, h2, h3 {
    color: #102073;
  }
  .form-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #102073;
    margin-left: 5rem;
  }
  label {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5rem;
  }
  .area input:first-child{
     display: inline-block; 
    }
    .area {

      display: flex;
    }
  #city {
    width: 12rem;

  }
  #state {
    width: 8rem;
  }
  #zip {
    width: 10rem;
  }
  .adopter {
    margin-left: -1rem;

  }
  .radio {
    font-size: 1rem;
    /* float: left; */
  }
  .adopt {
    font-size: 1rem;
  }

 .adoptee {
  font-size: .75rem;
  margin-left: .25rem;
  font-weight: bold;

 }
 .cost {
   font-size: .75rem;
   margin-top: .5rem;
 }

 .adoptions {
display: flex;
margin-top: 1rem;
 }
 

  input[type="submit"] {
    background-color: green;
    color: white;
    width: 15rem;
    height: 2rem;
  }
  fieldset {
    border: none;
  }
  fieldset input {
    display: inline;
  }
 
  /* move skip-to-link off the page*/
  .hidden {
    position: relative;
    left: -10000px;
    top: auto;
  }
  
  /* make skip-to-link visible when it has focus */
  .hidden:focus {
    left: 0;
  }
  .flex-footer {
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    background-color: #154c79;
    color: #F5F5F5;
    font-size: 14px;
  }
  .cat-logo {
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  