form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  max-width: 80%;
  margin: 2rem 10% 2rem 10%;
  font-family: arial;
  gap: 30px;
}

input {
  margin-top: 10px;
  border-style: solid;
  border-color: rgb(236, 236, 236);
}

.full-width {
  width: 100%;
}

select {
  width: fit-content;
}

.flex-row {
  display: flex;
  flex-flow: row;
  gap: 20px;
}

.adopted-dogs {
  display: flex;
  gap: 30px;
}

.adopt-dogs-card {
  display: flex;
  flex-flow: row wrap;
  /* max-width: 80%;
  margin: 2rem 10% 0% 10%; */
}

/* .adopt-dogs-card img{
  width: 10%;
} */

input[type=submit] {
  width: 10rem;
}