.grid-container{
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
}
.grid-item-1 {
  width: 100%;
  margin-left: 6vw;
  margin-top: 3vw;
}
.grid-item-2 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 3vw 5vw 8vw 5vw;
  font-family: Arial, sans-serif;
}
.grid-item-3 {
  color: #FFFFFF;
  width: 5%;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
}
.header-text {
  font-family: Arial, sans-serif;
  color: #32CD32;
  font-size: 1vw;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  width: 35%;
  margin-top: 3vw;
}
.footer-background {
  background-color: #005580;
  padding-bottom: 5vw;
  width: 100%;
}
.copyright-border {
  border-left: 1vw solid white;
  padding-left: 2vw;
  margin-left: 2vw;
  border-width: thin;
}
.copyright {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
}
.footer-link {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-text {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  line-height: 0em;
}
.footer-nav {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.link {
  text-decoration: none;
  color: #191970;
  font-family: Arial, sans-serif;
  font-size: 1vw;
}
.nav {
  background-color: #F5F5F5;
  color: #191970;
  padding: 2vw 3vw 2vw 18vw;
}
.background {
  background-image: url(../assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#total {
  color: #FFFFFF;
  font-size: 1vw;
  position: relative;
  margin-left: 1vw;
  margin-top: -1vw;
}
#checkout {
  color: #FFFFFF;
  background-color: #32CD32;
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: 1vw;
  padding: 1vw 3vw 1vw 3vw;
  margin-top: 3vw;
}
h1 {
  color: #005580;
  margin-left: 17vw;
  font-size: 3vw;

}
form {
  margin-left: 17vw;
}
input {
  display: block;
  border-style: solid;
  border-width: thin;
  border-color: #a9a9a9;
  height: 4vw;
  width: 20vw;
  margin-bottom: 2vw;
}
label {
  color: #005580;
  font-family: Arial, sans-serif;
  font-size: 2vw;
  font-weight: bold;

}
.submit {
  background-color: #32CD32;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  text-decoration: none;
  padding: 1vw 2vw 1vw 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-style: none;
  width: 11vw;
}
