* {
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif
}

/* header setting */
header {
  background-image: url(../images/header-image.jpg);
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 15%;
}

h1 {
  color: #81B741;
  font-family: "Lucida Handwriting", "Brush Script M7", cursive;
  font-size: 150%;
}

.shopping-cart{
  width: 25%;
  text-align: right;
}

.check-out {
  background-color: #81B741;
  color: white;
  padding: 10px 4px;
  text-align: center;
}

.headernavigation {
    float: left;
    display: block;
    text-align: left;
    align-content: center;
    list-style-type: none;
    overflow: hidden;
    color: #083B60;
    padding-left: 15%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: lightgrey;
    font-weight: bold;
  }

.headernavigation a {
    color: #083B60;
    text-decoration: none;
    padding: 5px;
  }

/* main text setting */
h2 {
  color: #083B60;
  font-family: Garamond, Georgia, Serif;
  padding: 7% 15% 0% 15%;

}


.doglist {
  margin: 0% 15%;
  display: flex;
  flex-wrap: wrap;

}

.dogs {
  border-color: lightgrey;
  border-style: solid;
  border-width: 0.1rem;
  width: 15rem;
  height: 25rem;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dog-image {
  width: 15rem;
  height: 9rem;
}

.dogname {
  color: #083B60;
  font-family: "Georgia", Garamond, serif;
}

button {
  background-color: green;
  color: white;
  padding: 1rem;
  width: 100%;
}

h3 {
  margin: auto;
}

p {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* footer setting */
footer {
  background-color: #083B60;
  background-position: bottom;
  background-size: cover;
  position: static;
  color: white;
  font-size: 17px;
  padding: 20px 0px;
  text-align: center;

}

.footerImage {
  width: 20rem;
  height: auto;
}

.footernavigation {
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
    color: white;
  }

.footernavigation a {
    color: white;
    text-decoration: none;
    padding: 5px;
  }

/* grid layout setting */
.col {
   float: left;
   padding: 5px;
}

.justify-content-end {
    float: right;
}

.align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

.span_1_of_12 {
  width: 8.33%;
}

.span_2_of_12 {
  width: 16.66%;

}

.span_3_of_12 {
  width: 25%;

}

.span_4_of_12 {
  width: 33.33%;
}

.span_5_of_12 {
  width: 41.66%;

}

.span_6_of_12 {
  width: 50%;

}

.span_7_of_12 {
  width: 58.33%;

}

.span_8_of_12 {
  width: 66.66%;

}

.span_9_of_12 {
  width: 75%;

}

.span_10_of_12 {
  width: 83.33%;
}

.span_11_of_12 {
  width: 91.66%;

}

.span_12_of_12 {
  width: 100%;

}
