input[type=text] {
    width: 45%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    
    margin-left: 1rem;
    
  }

  input[type=radio] {
  
    margin-left: 1rem;
    
  }

  input[type=email] {
    width: 45%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
 
    margin-left: 1rem;
    
  }
  fieldset {
    width: 45%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    
    margin-left: 1rem;
  }
  fieldset legend {
    margin-bottom: 10px;
    display: block;
    color: #116694;
	font-family: 'Arvo', serif;
    padding: 2px 16px;
    font-size: 24px;
    font-weight: bold;
  }

   fieldset label{
    margin-bottom: 10px;
    display: block;
    color: #116694;
	font-family: 'Arvo', serif;
    padding: 2px 16px;
    font-size: 24px;
    font-weight: bold;

   }
  label {
    margin-bottom: 10px;
    display: block;
    color: #116694;
	font-family: 'Arvo', serif;
    padding: 2px 16px;
    font-size: 24px;
    font-weight: bold;
  }

  .display-block {
    display: block;
 }
  
 #state-select {
    width: 100%;
    padding: 12px 23px;
    margin: 12px 0;
    box-sizing: border-box;

 }
