button,  select, textarea {
  font-family: 'Work Sans', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;

}

div.form-group1 {
  display: inline-block;
  float: left;
  padding: 15px;
}
div.form-group2 {
  display: block;
  float: left;
  padding: 15px;
}
div.form-group3 {
  display: block;
  float: left;
}
span.formB {
  display: inline-block;
  width: 100px;
  height: 50px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}
span.formC {
  display: block;
  width: 100px;
  height: 100px;
  padding 5px;
  border: 1px solid blue;
  background-color: yellow;
}
input {
  border: 2px solid #b5b5b5;
  padding: 12px 20px;
  margin: 8px 0 30px;
  box-sizing: border-box;
  float left;
  width: 500px;
  font-family: 'Work Sans', sans-serif;
  font-size: 100%
  font-weight: 400;
  color: black;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus {
  border: 2px solid #06426b; /* Blue */
}

label {
  font-family: 'Alegreya', serif;
  font-weight: 600;
  color: #06426b; /* Blue */
}

h1  {
  display: block;
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Alegreya', serif;
  font-weight: 600;
  color: #06426b; /* Blue */
}
/*consistent sizing - use box-sizing */
input[type=submit] {
  width: 20%;
  background-color: #1b447f;
  color: #ffffff;
}

input[type=password]:focus {
  background-color: #03a3df;
  outline: none; /*most browsers default to blue line*/
}









/* stylesheet */
/* Main */
main {
  background-color: #ffffff;
}

/* About A Dog Intro */
div.clearfix {
  border: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 110px;
  margin-right: 100px;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: black;
  font-weight: 300;
}
.img1 {
  float: left;
  padding-right: 40px;
}

.clearfix::after {
  content: "";
  clear:both;
  display:table;
}
p.main {
  display: block;
  font-size: 1em;
  margin-top: .5em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-stretch: ultra-expanded;
  color: black;
}
h1.main {
  display: block;
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Alegreya', serif;
  color: #06426b; /* Blue */
}
h2.main {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0..67em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Alegreya', serif;
  color: #06426b; /* Blue */
  font-weight: bold;
}
main.flex-container-gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  z-index: 999;
}

/* Gallery of Dogs */
div.adoptGallery {
  margin-left: 95px;
  margin-right: 50px;
  padding: 0;
}
div.gallery {
  border: 1.5px solid #ebebeb;
  margin: 15px;
  float: left;
  width: 180px;
  background-color: #ffffff;
}
/*
div.gallery:hover {
  border: 1.5px solid #777;
}
*/
div.gallery img {
  width:100%;
  height: auto;
}
div.desc {
  padding: 5px;
  padding-bottom: 10px;
  text-align: left;
}
h2.name {
  display: block;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: .6em;
  margin-right: 0;
  font-weight: bold;
}
.name {
  color: #003a66;
  font-family: 'Vollkorn', serif;
}
span.costAmt {
  font-size: .8em;
  margin-left: .8em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
span.dogPc {
  display:inline-block;
  width: 100%;
  padding: .5em;
  border: 0;
}
p.dogPc {
  font-size: .75em;
  margin-top: .33em;
  margin-bottom: .33em;
  margin-left: .3em;
  margin-right: .3em;
  font-stretch:ultra-expanded;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #464849;
}
button.adopt {
  background-color: #70a329; /* Green */
  border: none;
  border-radius: 2px;
  color: white;
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 1rem;
  font-weight: 700;
}
button.adopt {
  font-family: 'Work Sans', sans-serif;
}


/* Adoptadog Blog */
div.flex-container-gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding-bottom: 30px;
  z-index: 999;
}
div.clearfix-blog {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 108px;
  margin-right: 100px;
}

.imgBlog {
  float: left;
  padding-top: 10px;
  padding-right: 30px;
}
h2.blog {
  display: block;
  font-size: 1.5em;
  padding: 0;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Alegreya', serif;
  color: #06426b; /* Blue */
  font-weight: 600;
}
p.blog {
  display: block;
  font-size: .8rem;
  margin-top: .5em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  color: black;
}
.clearfix-blog::after {
  content: "";
  clear: both;
  display: table;
}


/* Footer */
footer {
  overflow: hidden;
  position: absolute;
  background-color: #003a66;
  padding: 2em;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.footer-logo{
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: #ffffff;
  z-index: 995;
}
p, div.footer {
  font-size: .7em;
  margin-left: .3em;
  margin-right: .3em;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}
/* Footer Navigation */
div.footer-nav {
  width: 100%;
  background-color: #003a66;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  overflow: auto;
}
/* Footer-nav links */
a.footer-nav {
  padding-left: .1rem;
  padding-right: .1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
/* Footer-nav links on mouse-over */
.footer-nav a:hover {
  background-color: #70a329;
}
/* Footer-nav font */
.footer-nav {
  font-family: 'Work Sans', sans-serif;
  font-size: .6rem;
}
/* Current/active Global-nav link
.active {
  background-color: #25b4d2;
}
.global-nav i:hover {
  font-size: 150%;
}
*/


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .global-nav a {
    float: none;
    display: block;
  }
}
