header {
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  font-family: arial;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.header-image {
  grid-column: 2;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

header h2 {
  color: rgb(129, 183, 65);
  grid-column-start: 2;
  margin-top: 0rem;
  font-style: italic;
}

header nav {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(236, 236, 236);
  display: block;
  padding-left: 10%;
}

.checkout {
  grid-row-start: 1;
  grid-column-start: 3;
  justify-self: end;
  color: white;
}

.checkout img {
  max-width: 20%;
}

.nav-list {
  list-style-type: none;
  padding-left: 0;
}

.nav-list-item {
  display: inline;
  padding: 1rem 2rem 1rem 2rem;
}

.nav-list-item:first {
  padding-left: 0;
}

.nav-list-item a {
  text-decoration-line: none;
  color: rgb(9, 60, 96);
  font-size: larger;
}

.nav-list-item:hover {
  text-decoration-line: underline;
}
