.intro-grid, .dog-tiles-grid {
  padding: 1% 15%;
}

.intro-grid img {
  width: 100%;
  padding: 7% 7% 7% 0%;
}

.intro-grid h2 {
  text-align: left;
  font-size: 2rem;
  padding: 7% 7% 7% 0%;
}

.intro-grid p {
  text-align: left;
  font-size: 1.2rem;
}

.dog-tiles-grid img {
  width: 100%;
}

.col {
  border-style: solid;
  border-color: red;
  border-width: thin;
}

/* Grid */

.intro-grid {
  display: flex;
}

.intro-grid .col {
  flex: 1;
}

.dog-tiles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dog-tiles-grid .col {
  width: 25%;
}

@media (max-width: 768px) {
  .intro-grid,
.dog-tiles-grid {
    display: block;
  }

  .intro-grid .col,
.dog-tiles-grid .col {
    width: 100%;
    margin: 0 0 0 0;
  }
}
