/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #444444;
  font-kerning: normal;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: Times, serif;
  color: #29465b;
}

p {
  line-height: 1.5rem;
}

/* .content {
  width: 100%;
} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}

.header-left {
  width: auto;
}

.header-right {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}

.header-image {
  background-repeat:no-repeat;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .1), rgba(139, 69, 19, .5)), url("../images/header-image.jpg");
  background-size: cover; /* fit image into div */
  height: 15rem;
}

.image-logo {
  width: 250px;
  padding-left: 4rem;
  padding-top: 2rem;
  /* z-index: 1; */
}

.tagline {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: lighter;
  padding-left: 4rem;
  color: #90b52a;
  line-height: 1.1;
  font-family: Times, serif;
}

.cart-total {
  font-size: .75rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.1;
  font-family: Arial, sans-serif;
}

.cart-icon {
  width: 2rem;
  padding-top: 2rem;
  padding-right: 1rem;
}

.btn-checkout-header {
  background-color: #90b52a;
  color: #fff;
  margin-top: .75rem;
  margin-right: 4rem;
  margin-left: 4rem;
  padding: .3rem 2.5rem;
  font-weight: bold;
  border: none;
  border-radius: .1rem;
}

.btn-checkout-header > a {
  text-decoration: none;
  color: #fff;
  font-size: .75rem;
}

nav {
  font-size: .8rem;
  color: #0f52ba;
  padding-left: 3.5rem;
  font-weight: bold;
  background-color: #ccc;
  height: 2.75rem;
}

ul {
  list-style-type: none;
  padding-top: .85rem;
  margin-top: 0px;
}

li {
  display: inline-block;

}

li a {
  color: #29465b;
  text-decoration: none;
}

.nav-slash {
  padding: 0px 10px;
  font-weight: lighter;
}


.content-left {
  width: 65%;
}

.content-right {
  width: 30%;
  margin-left: 1rem;
  margin-right: 1rem;

/* background-color: red; */
}



.intro {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  height: auto;
  /* width: 100%; */
}

.intro > img {
  width: 100%;
  height: 100%; /* scale an image inside a div */
}

.blog-image-home {
  width: 100%;
  height: 100%; /* scale an image inside a div */
}

.intro-copy {
    margin-left: 2rem;
    margin-right: 1rem;
}

.intro-copy > P {
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.6rem;
}

/************ checkout form ***************/

/* contact form */
.form-container {
  margin-left: 6rem;
  margin-right: 10rem;
  padding-top: 20px;
  border: 1px solid red;
  /* justify-content: flex-start; */
}

.form-container input {
  display: block
}

input, select, textarea, label {
  font-weight: bold;
  font-family: Times, serif;
  color: #29465b;
  font-size: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  line-height: 2rem;
  margin: 0 0 0 0;
}

input {
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #000;
  border-radius: 0px;
  margin-bottom: 1.2rem;
}

input[type="submit"] {
  width: 100%;
  background-color: #90b52a;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
  width: 150px;
  border-radius: .2rem;
}

.container-state {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  /* width: 50%; */
}

.citystatezipinput {
  padding-right: .5rem;
}

.form-location {
  width: 40%;
}

.flex-dir-col {
  flex-direction: row;
  padding-left: .5rem;
}

.dog-adopted {
  display: flex;

}

.dog-adopted-name {
  font-family: Times, serif;
  font-weight: bold;
  padding-top: .5rem;
  padding-bottom: .2rem;
  color: #29465b;
}

.dog-adopted-cost {
  font-size: .75rem;
  font-weight: bold;
}
.spacer {
  width: 4rem;
}

.fontnormal {
  font-weight: normal;
}

/************ blog ***************/

.blog {
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  padding-top: 0px;
}

.blogheader {
  padding-left: 6rem;
  margin-bottom: 0;
}

.blog-image {
    padding-right: 2rem;
    align-self: flex-start;
    padding-top: 1.75rem;
}

.blog-readmore > a {
    font-size: .75rem;
    text-decoration: none;
    color: #007fff;
    margin-bottom: 2rem;
}

.btn-adopt {
  width: 100%;
  background-color: #90b52a;
  border-radius: .2rem;
  padding: .5rem;
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
  border: none;
}

.btn-seemoredogs {
  background-color: #e5e5e5;
  border-radius: .2rem;
  padding: .5rem 2rem;
  font-weight: bold;
  margin: 2rem auto 4rem auto;
  border: none;
}

.btn-seemoredogs > a {
  text-decoration: none;
  color: #29465b;
}


/************ card ***************/
.img {
  width: 100%;
  display: inline-block;
   /* fit image into grid */
}

.card-container {
	width: 100%;
	max-width: auto;
	padding: 1rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.card {
	height: fit-content;
	width: 31%; /* mobile first width: 100%;  */
	display: flex;
	align-items: flex-start;
	/* justify-content: initial; */
  margin: 0;
  outline: 1px solid lightgray;
}

.card > div {
  padding: .75rem;
}

.card > div > h3 {
  color: #29465b;
  margin: .1rem 0 -.5rem -.1rem;
  padding: .7rem 0 .1rem 0;
}

.card > div > h5 {
  color: #454545;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 0 -.5rem -.1rem;
  padding: 0rem;
}

.card > div > p {
  color: #454545;
  font-size: .9rem;
  line-height: 1.25rem;
}

.card-sm {
	height: fit-content;
	width: 22%;
	display: flex;
	align-items: flex-start;
	/* justify-content: initial; */
  margin: 0;
  outline: 1px solid lightgray;
}

.card-sm > div {
  padding: .75rem;
}

.card-sm > div > h3 {
  color: #29465b;
  margin: .1rem 0 -.5rem -.1rem;
  padding: .7rem 0 .1rem 0;
}

.card-sm > div > h5 {
  color: #454545;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 0 -.5rem -.1rem;
  padding: 0rem;
}

.card-sm > div > p {
  color: #454545;
  font-size: .9rem;
  line-height: 1.25rem;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
	.card {
		width: 100%;
	}
  .content-right {
    display: none;
  }
  .content-left {
    width: 95%;
  }
}

/* Medium devices (portrait tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .content-left {
    width: 65%;
  }
  .card {
		width: 46%;
	}
}

@media screen and (min-width: 1000px) {
	.card {
		width: 31%;
	}
}








/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: #233c4e;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  vertical-align: middle;
}

.footer-logo {
  width: 10rem;
  margin: 0 auto; /* Center a Div with CSS Margin Auto */
}

.copyright {
  /* clear: both; */
  text-align: center;
  color: #FFF;
  font-size: .7rem;
}

.nav-footer {
  text-align: center;
  font-size: .70rem;
  font-weight: bold;
  padding: .2rem 0 0 0; /* vertical-align list */

  color: #fff;
}

.footer-nav li {
  display: inline;
}

.footer-nav a {
  color: white;
  text-decoration: none;
}

.nav-slash {
  padding: 0px 10px;
  font-weight: lighter;
}
