/*------General styling------*/
* { box-sizing: border-box; }
body { margin: 0; }
h3 {
    color: rgb(25, 60, 93);
    font-size: 2.5rem;
    margin: 0;
}
a {
  text-decoration: none;
  list-style: none;
}
p {
    line-height: 1.5rem;
    color: rgb(61, 61, 61);
}
img { 
  display: block;
  width: 100%; 
}


/*------Primary container------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}


/*------Header container------*/
.header-container {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-area: 1 / 1 / 1 / span 12;
}
.header-img {
  grid-area: 1 / 1 / span 12 / span 12;
  height: 37.5rem;
}
.header-logo {
  grid-area: 2 / 2 / 5 / 4;
}
.h2 {
  grid-area: 5 / 2 / 5 / 5;
  margin: 0;
  color: rgb(141, 181, 83);
  font-size: 2rem;
}
.cart {
  grid-area: 3 / 6;
  justify-self: center;
  height: 1.875rem;
}
.cart-p {
  display: flex;
  grid-area: 3 / 6 / 3 / 8;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.checkout-container {
  display:flex;
  grid-area: 4 / 6 / 4 / 6;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: white;
  background-color: rgb(141, 181, 83);
  padding: 0.5rem 0;
  font-weight: 700;
}
.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 12 / 1 / 12 / span 12;
  background-color: rgb(236, 236, 236);
}
.menu {
  display: flex;
  grid-area: 12 / 3 / 12 / 5;
  padding: 0.625rem 0;
  justify-content: space-between;
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 700;
}
.linear-gradient {
  background: linear-gradient(to right, rgb(200, 135, 75), rgb(0, 0, 0));
}


/*------Intro container------*/
.home-intro {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-area: 2 / 3 / 4 / 9;
  row-gap: .5rem;
}
.image-1 { grid-area: 1 / 1 / 2 / 9; }
.h3 {
  grid-area: 2 / 1 / 3 / 9;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.p { 
  grid-area: 3 / 1 / 3 / 9; 
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
}


/*------Secondary container------*/
.section-grid-index {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  grid-area: 4 / 3 / 10 / 9;
}
.article {
  border:rgb(235, 235, 235) solid 0.187rem;
}
.h3-section-index {
  padding: 0 1.25rem 0.625rem;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 700;
}
.art-p {
  padding: 0 1.25rem 0.625rem;
  margin: 0;
}


/*------Aside container------*/
.aside-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: 2 / 9 / 7 / 11;
  row-gap: 4rem;
}
.aside-a {
  text-decoration: rgb(74, 152, 181);
  font-size: 1.25rem;
}
.aside-p {
  line-height: 1.25;
  margin: 0;
}
.adopt {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 83);
  padding: 0.625rem 0;
  margin: 0 1.25rem;
  border-radius: 0.187rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.a-more-dogs {
  display: flex;
  grid-area: 10 / 5 / 11 / 7;
  justify-content: center;
  font-size: 1.6rem;
  color: rgb(25, 60, 93);
  background-color: rgb(236, 236, 236);
  border-radius: 0.187rem;
  padding: 1rem;
}


/*------Dogs page-----*/
.section-grid-dogs {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 3rem;
  grid-area: 3 / 3 / 11 / 11;
}
.h3-dogs-page {
  display: grid;
  grid-area: 2 / 3 / 3 / 11;
  font-weight: 700;
}


/*------Blog page------*/
.h3-blog {
  grid-area: 2 / 3 / 2 / 11;
}
.h4-blog {
  color: rgb(25, 60, 93);
  margin: 0;
  font-size: 1.75rem;
}
.blog-grid-1 {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 3.5rem;
  grid-area: 3 / 3 / 3 / 11;
}
.blog-img {
  grid-area: 1 / 1 / 2 / 2;
}
.blog-grid-2 {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 3.5rem;
  grid-area: 4 / 3 / 4 / 11;
}
.blog-grid-3 {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 3.5rem;
  grid-area: 5 / 3 / 5 / 11;
}


/*------Checkout page------*/
[class*="label-"] {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(25, 60, 93);
}
.input {
  border: solid rgb(192, 192, 192) 0.125rem;
  height: 4rem;
  width: 100%;
}
select {
  border: solid rgb(192, 192, 192) 0.125rem;
  height: 4rem;
  width: 100%;
}

.section-grid-checkout {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 3.5rem;
  grid-area: 5 / 3 / 5 / 11;
}
.form-container {
  display: grid;
  grid-area: 1 / 1 / 1 / 5;
  grid-template-columns: repeat(12, 1fr);
  align-items: end;
  row-gap: 4rem;
  column-gap: 2rem;
}
.h3-checkout {
  grid-area: 1 / 3 / 1 / 9;
  font-size: 2.5rem;
  padding: 0;
}
.label-1 { grid-area: 2 / 3 / 2 / 9; }
.label-2 { grid-area: 3 / 3 / 3 / 9; }
.label-3 { grid-area: 4 / 3 / 4 / 9; }
.label-4 { grid-area: 5 / 3 / 5 / 6; }
.label-5 { grid-area: 5 / 6 / 5 / 7; }
.label-6 { grid-area: 5 / 7 / 5 / 9; }
.label-7 {
  grid-area: 6 / 3 / 6 / 5;
  margin: 0;
  border: 0;
  padding: 0;
}
.label-8 {
  grid-area: 7 / 3 / 7 / 6;
  margin: 0;
  border: 0;
  padding: 0;
}
.radio-input {
  height: 1.5rem;
  width: 10%;
}
.radio-font {
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
  font-weight: 400;
  margin-right: 2.812rem;
}

.adopt-container {
  display: grid;
  grid-area: 8 / 1 / 8 / span 12;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}
.label-9 { grid-area: 1 / 3 / 1 / 6; }
.label-10 { grid-area: 4 / 3 / 4 / 5; }
.dog {
  color: rgb(25, 60, 93);
  font-size: 1.4rem;
  font-weight: 700;
}
.lucas-image {
  grid-area: 2 / 3 / 4 / 4;
  width: 6.25rem;
  height: 6.25rem;
}
.lucas-info { grid-area: 2 / 4 / 2 / 6; }
.duffy-image {
  grid-area: 2 / 6 / 2 / 7;
  width: 6.25rem;
  height: 6.25rem;
}
.duffy-info { grid-area: 2 / 7 / 2 / 9; }
.total {
  grid-area: 5 / 3 / 5 / 5;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.75rem 0 0;
}
input[type="submit"] {
  grid-area:9 / 3 / 9 / 6;
  background-color: rgb(141, 181, 83);
  color: white;
  border-radius: 0.187rem;
  font-size: 1.25rem;
  font-weight: 700;
}


/*------Primary container------*/
/* .grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
} */


/*------Footer container------*/
.bottom-container {
  display: grid;
  grid-area: 11 / 1 / 13 / span 12;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgb(25, 60, 93);
  font-size: 1.25rem;
  gap: 2rem;
}
[class*="footer-"] {
  display: flex;
  margin: 0;
}
.footer-img { 
  grid-area: 2 / 5 / 2 / 9; 
  height: 7.812rem;
}
.footer-nav-1 {
  grid-area: 4 / 5 / 4 / 9;
  justify-content: center;
}
.footer-nav-2 {
  justify-content: space-evenly;
  font-size: 1.25rem;
  padding: 0;
}
.footer-a {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer-p { 
  color: rgb(255, 255, 255); 
  grid-area: 3 / 5 / 3 / 9;
  justify-content: center;
}
.footer-copyright {
  grid-area: 5 / 5 / 5 / 9;
  color: rgb(255, 255, 255);
  justify-content: center;
  padding-bottom: 3.75rem;
}


/*------Developing queries------*/
/* @media screen and (min-width: 1px) and (max-width: 767px) {
  .article {
    grid-template-columns: 1fr;
    grid-column: auto / span 2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .article {
    grid-template-columns: 1fr 1fr;
    grid-column: auto / span 2;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .article {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: auto / span 2;
  }
}
@media screen and (min-width: 1920px) {
  .article {
    grid-template-columns: repeat(4, 1fr);
    grid-column: auto / span 2;
  }
} */


/*------Working media query------*/
@media screen and (max-width: 767px) {
  .aside-p {
    display: none;
  }
}

/*------Overlap issue on print preview------*/
@media print {
  body img {
    display: none;
  }
}

/*Column widths*/
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 64.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }