/* general style */
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

h2 {
  color: #81b742;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 550;
  font-family: serif;
}

p {
  font-weight: 300;
  line-height: 1.3em;
}

h3 {
  color: #093c60;
  font-family: serif;
  font-size: 2em;
}

h4 {
  color: #093c60;
  font-family: serif;
  font-size: 1.2em;
  margin:0em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header/nav */
header {
  min-height: 25em;
  background-image: url("header-image.jpg"), linear-gradient(black 50%, white);
  background-size: cover;
  position: relative;
  text-align: left;
}

header img {
  min-width: 15em;
}

.cart {
  align-content: center;
  min-width: 1.5em;
  max-width: 2em;
}

.cart-pay {
  display: inline-block;
  font-size: .9em;
  font-weight: 700;
  color: white;
}

.c-button {
  align-content: center;
  color: white;
  border: none;
  font-weight: bold;
  font-size: .5em;
  padding: .5em 3em;
  background-color: #81b742;
}

nav a {
  padding: 1em;
  color: #093c60;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
}

nav {
  background-color: #ececec;
  padding: 1em 8em;
  color: #093c60;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hed-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 1em;
    margin: auto;
    width: 100%;
}

.hed-box {
  height: 20%;
  margin: 2em 2em 2em 4em;
}

/* index pg body grid & styling */

section {
  margin-bottom: 4em;
}

.index-body {
  margin: 4em 6em;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.left-section {
  width: 70%;
}

.right-section {
  width: 30%;
  padding-right: 1em;
}

.work-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
  padding-left: 3em;
  max-width: 80em;
}

.work-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 1em;
  margin: auto;
  max-width: 80em;
}

.box1 {
  padding: 1em .5em 1em 0em;
  min-width: 10em;
  max-width: 25em;
}

.box2 {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 80%;
}

.box3 {
  width: 12em;
  border-style: solid;
  border-color: #C8C8C8;
  border-width: 2px;
  margin: 1em;
}

.box5 {
  width: 12em;
  font-size: 1em;
  padding-bottom: 2em;
}

.box5 img {
  width: 100%;
}

.box5 h4 {
  font-size: 1.2em;
}

.box5 a {
  color: #093c60;
}

.right-section .box5 {
  width: 80%;
  margin: 1em auto;
}

.right-section h3 {
  margin: 1em auto;
  width: 80%;
}

.index-img {
  width: 100%;
}

li img {
  width: 100%;
}

li h5 {
  color: #093c60;
  font-family: serif;
  font-weight: 700;
  font-size: 1em;
  margin: .2em;
}

li p {
  font-size: .75em;
  font-weight: 200;
  margin-left: .5em;
}

.adopt-button {
  color: white;
  border: none;
  font-weight: bold;
  font-size: .5em;
  padding: .5em 2.5em;
  width: 50%;

  background-color: #81b742;
  margin-bottom: 1em;
}

li input  {
  margin-left: 25%;
  margin-right: 25%;
}

.container3 {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5em;
}

.dogs-button {
  padding: .6em 2em;
  font-weight: 800;
  font-size: .8em;
  color: #093c60;
  border: none;
  background-color: #F2F2F2;
}

/* dogs pg */
.dogs-body {
  margin: 2em 9em;
}

/* blog pg */
.blog {
  margin: 2em 9em;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.blog1 {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.blog2 {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.blog3 {
  grid-area: 3 / 1 / 4 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.blog-img {
  width: 12em;
}

.box4 {
  max-width: 40em;
  padding: 1em .5em;
}

.box4 p {
  font-size: .9em;
  line-height: 1.8;
}

.b-box1 {
  padding: 1em .5em 1em 0em;
}


/* checkout pg */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1em 0em;
}

select > option {
  background: white;
}

select {
  width: 6em;
  height: 2.5em;

}

input {
  width: 100%;
  max-width: 27em;
  height: 2.5em;
}

.city {
  width: 12em;
  margin-right: 1em;
}

.state {
  margin-top: 1em;
  margin-right: 1em;
}

.zip {
  width:8em;
}

.csz {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chk {
  margin: 1em 4em;
}

.pu {
  width: 12em;
  display: block;
}

label, legend {
  font-family: serif;
  color: #093c60;
  font-weight: 700;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
  width: 1.5em;
  height: auto;
}

fieldset label {
  padding-right: 1em;
  font-family: sans-serif;
  font-weight: 300;
  font-size: .9em;
  color: inherit;
}

fieldset, legend {
  margin-left: -7px;
}

form h4 {
  font-size: 1em;
  padding-top: .5em;
}



.s-button {
  align-content: center;
  color: white;
  border: none;
  font-weight: bold;
  font-size: .8em;
  width: 12em;
  background-color: #81b742;
}

/* footer */
.footer-container {
  height: 150%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* great way to center on website */
  align-items: center;
  padding: 3em
}

footer {
  background-color: #093c60;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  font-size: .9em;
  text-decoration: none;
  font-weight: 700;
}

footer span {
  font-size: .7em;
  padding: 0em .5em;
}

footer p {
  font-size: .9em;
  padding: 1em 15em;
}

footer img {
  width: 15em;
  min-width: 100px;
}

/* responsive */
/*@media screen and (max-width 400px) {
  header {
    background-image: url("header-image.jpg"), linear-gradient(#093c60 15%, white);
    background-size: 100%;
    position: absolute;
  }
}*/

@media screen and (max-width: 576px) {
  .logohed {
    min-width: 10em;
  }

  nav {
    padding: 1em 2.7em;
  }
  nav a {
    display: block;
  }

  nav span {
    display: none;
  }

  header {
    min-height: 35em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 750px) {
  .index-body {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: 992px) {
  .index-body {
    margin: auto;
    width: auto;
  }
  nav {
    padding: 1em auto;
  }

  .left-section {
    width: 80%;
  }

  .right-section {
    width: 20%;
  }
}
