/* general resizing issues, come back to in later lessons*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

header {
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  grid-column: 1 / span 3;
  margin-bottom: 2rem;
}

header nav{
  margin-top: 25rem;
  padding: 2rem 0 2rem 14.4%;
  font-size: 1.5rem;
  align-self: center;
}

header nav p, header nav a {
  padding: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

header nav p, header nav a, h4, h2, .doggie-button, h3, #cost-label, label, #first-time-label{
  color: #083B5F;
}

header nav, .doggie-button {
  background-color: #EBEBEB;
}

header nav a:hover {
  text-decoration: underline;
}

.logo-and-caption {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-top: 10rem;
  padding: 3rem 0 0 5%;
  font-size: 2.5vw;
  min-width: 20rem;
  max-width: 55rem;
  white-space: nowrap;
}

.caption {
  font-style: italic;
  color: #81B741;
  display: block;
}

.checkout {
  
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  top: 4rem;
  right: 12rem;
  color: white;
  font-weight: bold;
}

.checkout a {
  grid-column: 1 / span 2;
}

.checkout p {
  font-size: 1.2rem;
  float: right;
}

.cart {
  float: left;
  width: 2.5rem;
  padding-left: 2rem;
  padding-right: .9rem;
}

.green-button {
  background-color: #81B741;
  border: none;
  border-radius:.2rem;
  color: white;
  padding: .7rem 3rem;
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
  max-width:100%;
}

.green-button:hover {
  transition-duration: 0.3s;
  background-color: #33751e;
}

.section-header {
  grid-column: 2/3;
  font-size: 3rem;
}

article {
  margin-bottom: 3rem;
  grid-column: 2 / 3;
}

article p {
  font-size: 1.5rem;
}

article img {
  float:left;
  padding-right: 5rem;
  width:25%;
  height:auto;
}

.article-image {
  min-width: 20rem;
  padding: 0 3rem 1rem 0;
}

article h2 {
  font-size: 2rem;
}

article h3 {
  font-size: 2rem;
}

.blog {
  margin-top: 3rem;
}

.doggies {
  grid-column: 2 / 3;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.doggie-cel img  {
  width:100%;
  height:auto;
}

.doggie-cel {
  margin-bottom:5rem;
  width:20%;
  border: solid;
  border-radius: 2px;
  border-color: #EAEAEA;
  min-width: 20rem;
} 

.doggie-cel h4 {
  font-size: 1.5rem;
}

.doggie-cel .green-button {
  display: grid;
}

.doggie-cel p, .doggie-cel .green-button, .doggie-cel h4 {
  margin: 1rem 1rem 1.5rem;
}

.doggie-button {
  white-space: nowrap; 
  grid-column: 2/3;
  position: relative;
  border: none;
  border-radius:.2rem;
  padding: .7rem 3rem;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  width: 15%;
  justify-self: center;
  min-width: 12rem;
}

footer {
  display: grid;
  grid-column: 1 / span 3;
  background-color: #083B5F;
  color: white;
  justify-items: center;
  padding: 5rem 0;
  margin-top: 6rem;
}

footer nav a {
  color: white;
  text-decoration: none;
}

footer nav a, footer nav p {
  font-weight: bolder;
}

footer img {
  width: 20%;
  height:auto;
  margin-bottom: 2rem;
  min-width:22rem;
}

/*form styling*/


label {
  font-size: 1.7rem;
}

.checkout-form h2 {
  font-size: 2.5rem;
}

form h4, form p, label {
  font-weight: bolder;
}

#name, #email, #street, #state, #zip, #city, #location{
  font-size: 20px;
  padding: 1.3rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  display: block;
}

#name, #email, #street {
  width: 50%;
  min-width: 22rem;
  box-sizing: border-box;
}

#line-4 {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#city-label, #state-label {
  padding-right: 1%;
}

#state {
  padding: 1.23rem;
}

#first-time-radio {
  margin: 2rem 0;
}

#first-time-radio label {
  margin-right: 3%;
}

#location {
  width: 25%;
  min-width:20rem;
}

#first-time-radio label {
  font-size: 1.3rem; 
  color: initial;
  font-weight: initial;
}

label span {
  display: inline-block;
  margin-left: 1rem;
}

input[type=radio] {
  transform: scale(2);
}

#adopted-doggies {
  display:flex;
  justify-content: flex-start;  
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

#adopted-doggies img {
  max-width:25%;
  margin-right: -4rem;
  float: left;
}

#adopted-doggies p, #adopted-doggies h4 {
  white-space: nowrap;
  padding-right: 10rem;
}

#adopted-doggies h4 {
  margin: .5rem 0 -.3rem;
  font-size: 1.5rem;
}

#adopted-doggies p {
  font-size: 12px;
}

#adopted-doggies p strong {
  font-weight: bolder;
}

#cost-label {
  margin-bottom: -.5rem;
}

#cost-number {
  font-size: 1.6rem;
}

form .green-button {
  font-size: 1.5rem;
  width: 20%;
  height:85%;
  margin-top: 1rem;
  min-width: 13rem;
  padding: 1.2rem 0;
}






