*{
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.skip-link {
position: relative;
left: -10000px;
top: auto;
}
.skip-link:focus,.skip-link:active,.skip-link:hover {
  left: 0;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

  header {
    background:linear-gradient(red,rgb(9, 60, 96),white);
    background-image:url("../images/header-image.jpg"),linear-gradient(red,rgb(9, 60, 96),white);
    background-position: top left;
    background-size: cover;
    min-height: 400px;
    padding: 0rem 3rem 2rem;
    text-align: left;

  }
  /*adding background colors*
  .radial-gradient-1 {
    background-color: radial-gradient(red, pink,blue);
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    min-height: 400px;
    padding: 0rem 3rem 2rem;
    text-align: left;

}

radial-gradient-2 {
  background: linear-gradient(blue, rgb(9, 60, 96),orange 30%);

}

.radial-gradient-3 {
    /* background: radial-gradient(circle, red 5%, white 15%);
}
*/
  .logo-img {
    width: 100%;
  }
  .logotext {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #81b741;
    font-size: 1.5rem;
  }

  button {
    padding: 0;
    line-height: inherit;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  .checkout {
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
    color: #fff;
    background-color: #81b741;
    width: 200px;
    text-align: center;
  }

  .checkout a {
    color: white;
    text-decoration: none;
  }
  .checkout :hover {
    color: blue;
  }
  .checkout:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
  }
  .adopt-btn {
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
    color: #fff;
    background-color: #81b741;
    width: 80%;
    margin: 1rem 10% 1.5rem;
  }
  .adopt-btn a {
    color: rgb(255, 255, 255);
  }
  .adopt-btn:hover {
    background-color: #093c60;
  }
  .top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .top-box {
    min-width: 200px;
    align-self: center;
    color: white;
  }
  nav {
    padding: .5rem 3rem .5rem;
    background-color: #ececec;
    color: #093c60;
    font-size: 2rem;
    font-weight: bold;
    word-spacing: .5rem;
  }
  nav a {
    color: #093c60;
    text-decoration: none;
  }
  nav a:hover {
    color: rgb(141, 40, 40);
  }

  article {
    padding: 3rem ;

  }
  .articles {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 3rem;
    color: rgb(49, 42, 42);
  }
  article img {
    width: 500px;
    height: 451px;

    background: green;
    display: block;
  }
  .img2 {
    width: 500px;
    heightt: 400px;
    background: red;
    display: block;
  }
  .img3 {
    width:100%;
    height:auto;
    background: linear-gradient(to bottom, #093c60, #000);
    display: block;
  }
  h1 {
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
    color: #093c60;
    font-size: 4rem;
  }
  h2 {
    font-family: 'Noto Serif', serif;
    color: #093c60;
    font-size: 3rem;
  }
  aside {
    display: none;
  }
  .aside_image{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #093c60, #000);
    display: block;
  }

/*
  .main-content{
    padding: 3rem 3rem 3rem;
    display: flex;
  }

  .main-content{
  display: flex;
  flex-flow: row wrap;
  position:absolute;
  width: 60%;
}
*/
  .main-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    margin: 0rem 0rem 5rem;
  }
  .catalogue-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
  }
  .dog-container{
    width: 100%;
    margin: 1rem 0rem 1rem;
    box-sizing: border-box ;
    border: 1px solid #c5c7c2;
  }

  .dog-container-border {
    border: 3px solid #c5c7c2;
    box-shadow: 3px 3px 6px #999;
  }
  .dog-container img {
    width: 100%;
    height: auto;
    background:linear-gradient(red,rgb(9, 60, 96),white);
    background-size: cover;
    display: block;
    margin: 0 0 1rem 0;
  }
  /*
  .img4 {
    width: 20%;
    height: 20%;
    display: block;
    height: auto;
    background:linear-gradient(red,rgb(9, 60, 96),white);
    background-size: cover;
  }
  */



  .dog-container h2 {
    padding: 0rem 2rem 0rem;
  }
  .dog-container p {
    padding: 0rem 2rem 0rem;
  }
  .adopt {
    background-color: #81b741;
    color: #ffffff;
    text-align: center;
    padding: .5rem ;
    margin: 2rem;
    border-radius: .5rem;
    font-weight: bold;
  }
  .adopt a {
    color: #ffffff;
    text-decoration: none;
  }
  .large-btn {
    text-align: center;
    width: 70%;
    margin: 2% 15% 0;
    background-color: #81b741;
    color: #093c60;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: .5rem;
    padding: .5rem .5rem .75rem .5rem;
  }

  .large-btn a {
    text-decoration: none;
    color: #093c60;
    font-size: 35px;
  }
  .large-btn a:hover {
    color: black;
  }
  .blog-btn {
    text-align: center;
    width: 70%;
    margin: 2% 15% 0;
    background-color: #f3eded;
    color: #093c60;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: .5rem;
    padding: .5rem .5rem .75rem .5rem;
  }
  .blog-btn a {
    text-decoration: none;
    color: #093c60;
  }
  .blog-btn a:hover {
    color: black;
  }

  footer {
    background-color: #093c60;
    padding: 3rem;
    color: #ffffff;
    text-align: center;
  }

  footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  footer img {
    width: 70%;
    margin: 0 15% 0;
  }

  label {
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    color: #093c60;
  }
  legend {
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    color: #093c60;
  }
  input, textarea {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: rgb(90, 88, 88);
    box-sizing: border-box;
    display: block;
    margin: 2rem 0rem 2rem;
    padding: 1rem;
  }
  select {
      min-width: 30rem;
      display: block;
      margin: 1rem 0rem 1rem;
      font-family: Arial, sans-serif;
      font-size: 2rem;
      color: rgb(141, 102, 102);
  }
  input {
    width: 40%;
    border-radius: .5rem;
    border: 1px
    solid rgb(177, 175, 175);

  }
  input[type="submit"] {
    width: 20rem;
    background-color: #81b741;
    color: #fff;
  }
  input:focus[type="submit"] {
    width: 20rem;
    background-color: #093c60;
    color: #fff;
  }
  input:focus {
    background-color: #ececec;
    outline: none;
  }
  textarea {
    color: rgb(172, 164, 164);
    border: 1px solid #aaa;
    border-radius: .5rem;
    align-items: center;
    width: 40%;
  }

  fieldset {
    border: none;
    padding: 0rem 0rem 3rem;
  }

  .adopted-dog-container {
    display: flex;
  }

  .blog-box {
    width: 20rem;
    margin: 0rem 2rem 0rem 0rem;
  }
  .blog-box img {
    width: 100%;
    height: auto;

    margin: 0rem 1rem 0rem 0rem;
    object-fit: cover;
    float: left;
  }

  .adoptee {
    margin: 0rem 0rem 0rem;
    font-family: 'Noto Serif', serif;
    color: #093b5e;
    font-size: 1.5rem;
  }
  .blog-container {
    display: block;
    padding: 0rem 3rem 3rem 3rem;
  }
  .blog-box1 {
      width: 100%;
      height: auto;
      display: block;
      background:linear-gradient(white,rgb(9, 60, 96),wheat);
      background-size: cover;



  }
  .blog-article {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    color: #736d6d;
  }
  .blog {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    color: rgb(141, 102, 102);
  }
  .blog-header {
    padding: 3rem 0rem 0rem 3rem;
  }
  /*
  #content1 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  #content2 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  #content3 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  #content4 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  #content5 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  #content6 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  #content7 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  #content8 :hover{
    font-size: 110%;
    transition-property: all;
    transition-duration: 3s;
  }
  .adopt-btn:hover {
  background-color: black;
}
/* PHONE */
@media screen and (min-width: 992px){
  * {
      font-size: 1rem;
    }
  header {
      padding: 0rem 6rem 4rem;
    }
  .logo-img {
      width: 100%;
    }
  .name-agency {
      font-size: 1.5rem;
    }
  .top-box {
      min-width: 200px;
    }
  nav p {
      font-size: 1.5rem;
  }
  nav p a {
      font-size: 1.5rem;
  }
  .articles {
      font-size: 1.5rem;
      line-height: 2rem;

    }
    article img {
      width: 30%;
      display: inline;
      float: left;
      margin:  2% 2% 1% 0;
    }
  h1 {
      font-size: 1.5rem;
    }
  h2 {
      font-size: 1.5rem;
    }

    aside {
      display: block;
      float: right;
      width: 32%;
      margin-left: 3%;
      padding: 2rem 6rem 0rem 0rem;
    }
    .aside_image {
      width: 50%;
    }
  .main-container {
    clear: none;
    justify-content: space-between;
    width: 65%;
  }
  .dog-container {
      width: 45%;
      margin: 2rem 5%  0rem  0rem;
  }
  .dog-container img {
    margin: 0 0 1rem 0;
  }
  .dog-container h2 {
    padding: 0rem 1rem 0rem;
  }
  .dog-container p {
    padding: 0rem 1rem 0rem;
  }
  footer {
    padding: 3rem 20% 3rem;
    line-height: 2rem;
  }
  footer img {
    width: 60%;
    margin: 0 20% 0;
  }
  /*
  form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #f5f5f5;
  }
  */
  .large-btn {
    width: 30%;
    margin: 4rem 35% 2rem;
  }
  .large-btn a {
    font-size: 1.25rem;
  }
  .blog-btn {
    display: none;
  }
  .blog-container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .blog-box1 {
    grid-column: 1 / 2;
  }
  .blog-box1 img {
    width: 100%;
    margin-top: 1.5rem;
  }
  .blog-box2 {
    grid-column: 2 / 2;
  }
  .blog-article {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .blog {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  label {
    font-size: 1rem;
  }
  /*legend {
    margin-left: 0rem;
    padding: 0.2em 0.5em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  */
  legend {
    font-size: 1rem;
  }
  input, textarea {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: .5rem;
    width: 40%;
  }
  select {
      font-size: 1rem;
  }

  .radio input {
    top: 2rem;
    margin-left: 15px;
  }
  }

  @media screen and (min-width: 1200px) {
  * {
      font-size: 1rem;
    }
  header {
      padding: 0rem 6rem 4rem;
    }
  .logo-img {
      width: 100%;
    }
  .name-agency {
      font-size: 1.5rem;
    }
  .top-box {
      min-width: 200px;
    }
  nav {
      padding: 1rem 6rem 1rem;
    }
  nav p {
      font-size: 1.5rem;
  }
  nav p a {
      font-size: 1.5rem;
  }
  article {
      padding: 3rem 6rem 3rem;
    }
  .articles {
      font-size: 1.5rem;
      line-height: 2rem;

    }
  article img {
      width: 30%;
      display: inline;
      float: left;
      margin:  0 2% 0 0;
    }
  h1 {
      font-size: 2.5rem;
    }
  h2 {
      font-size: 1.5rem;
    }
    aside {
      display: block;
      float: right;
      width: 22%;
      padding: 2rem 6rem 0rem 3rem;
      margin-left: 3%;
    }
    .aside_image {
      width: 75%;
    }
    .main-container {
      width: 75%;
      flex-flow: row wrap;
      clear: none;
    }
  .dog-container{
      width: 30%;
      margin: 2rem 1% 0rem 1%;
  }
  .dog-container img {
    margin: 0 0 1rem 0;
  }
  .dog-container h2 {
    padding: 0rem 1rem 0rem;
  }
  .dog-container p {
    padding: 0rem 1rem 0rem;
  }
  .blog-btn {
    display: none;
  }
  footer {
    padding: 3rem 35% 3rem;
    line-height: 2rem;
  }
  footer img {
    width: 50%;
    margin: 0 25% 0;
  }
  .large-btn {
    width: 25%;
    margin: 4rem 37.5% 2rem;
  }
  .large-btn a {
    font-size: 1.25rem;
  }
  .blog-container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .blog-box1 {
    grid-column: 1 / 2;
  }
  .blog-box2 {
    grid-column: 2 / 2;
  }
  .blg-box1 img {
    width: 100%;
  }

  .blog-article {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .blog {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  }
