ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: .8rem;
  line-height: 1.4rem;
}

h1 {
  font-family: 'Neuton', sans-serif;
  color: #093c60;
  font-size: 2rem;
}

h2 {
  font-family: 'Neuton', sans-serif;
  color: #093c60;
  font-size: 1.4rem;
  margin: 0;
}

h3 {
  font-family: 'Neuton', sans-serif;
  color: #093c60;
  font-size: 1.2rem;
  margin: 0;
}

h4,
h5,
h6 {
  font-family: 'Neuton', sans-serif;
  color: #093c60;
  margin: 0;
}


/* skip link */

.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}


/* header */

header {
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  padding: 2rem 5rem;
}

@media screen and (max-width: 600px) {
  header {
    padding: 2rem 2.5rem;
  }
}

.header-headline {
  color: #81b741;
  font-style: italic;
  line-height: .2rem;
}

.flex-header-container {
  display: flex;
  height: 20rem;
  flex-wrap: wrap;
}

.flex-header-logo-container {
  flex: 1;
  align-items: flex-start;
}

.flex-header-logo-container img {
  width: 18.5rem;
}

.flex-header-checkout-container {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .flex-header-checkout-container {
    padding-top: 2rem;
    margin: auto;
  }
}

.flex-cart-container {
  display: flex;
  height: 3rem;
  width: 120px;
  flex-wrap: nowrap;
}

.flex-cart img {
  width: 20px;
}

.flex-icon {
  width: 25px;
  flex: 25px;
  padding: 0px 15px 0px;
}

.flex-price {
  flex: 30px;
  color: white;
}

.green-button {
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
  font-weight: 600;
  background-color: #81b741;
  height: 2rem;
  width: 120px;
  padding-top: .3rem;
}

.green-button-container {
  padding-top: 3rem;
}


/* top navigation */

main nav:first-of-type {
  background: #ececec;
  box-shadow: 0rem .2rem .7rem #c9c9c9;
}

@media screen and (max-width: 600px) {
  main nav:first-of-type {
    padding-left: 0rem auto;
  }
}

nav {
  font-weight: 600;
  padding-left: 5rem;
}

.flex-nav-container {
  display: flex;
  width: 250px;
  height: 3rem;
  flex-wrap: nowrap;
  padding: .8rem 0rem 1.5rem;
}

.flex-nav-item {
  flex: 1.5rem;
}


/* add slash after nav menu items */

.nav-slash a::after {
  content: "/";
}


/* container for all pages */

.main-container {
  width: 85%;
  margin: 2rem auto;
}


/* home page container */

.home-main-container {
  display: flex;
  width: 85%;
  margin: 2rem auto;
}


/* home page intro block */

.dogs-column {
  width: 66%;
}

.dogs-column>img {
  object-fit: cover;
  width: 100%;
}

.sidebar {
  width: 35%;
  padding-left: 3rem;
}

.sidebar>img {
  object-fit: cover;
  width: 100%;
}

.sidebar h1 {
  margin-top: 0;
}

.sidebar h3 {
  padding-top: .5rem;
}

.sidebar img {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .dogs-column {
    width: 100%;
  }
}


/* hide sidebar on mobile */

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}


/* home page dogs grid layout */

.home-dogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  grid-auto-rows: auto;
  width: 100%;
  padding-top: 1rem;
}

@media screen and (max-width: 900px) {
  .home-dogs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .home-dogs-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* dogs grid layout */

.dog-boxes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  grid-auto-rows: auto;
  width: 100%;
  padding-top: 1rem;
}

@media screen and (max-width: 900px) {
  .dog-boxes-container {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media screen and (max-width: 600px) {
  .dog-boxes-container {
    grid-template-columns: repeat(1, 1fr)
  }
}

.dog-box>img {
  object-fit: cover;
  max-height: 100%;
}


/* individual dog listings */

.dog-box {
  box-shadow: 0rem .2rem .7rem #c9c9c9;
  font-size: .7rem;
  line-height: 1.2rem;
}

.dog-box img {
  width: 100%;
}

.dog-box div {
  padding: 0rem .7rem .7rem .7rem;
}

.p-bold {
  font-weight: bold;
}


/* blog photo/text flex layout */

.photo-article-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .photo-article-container {
    flex-wrap: wrap;
  }
}

.photo-article-img {
  width: 259px;
  height: 245px;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .photo-article-img {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
}

.photo-article-text {
  width: 65%;
  height: auto;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .photo-article-text {
    flex-wrap: wrap;
    width: 100%;
  }
}


/* links */

a:link {
  text-decoration: none;
}

nav a {
  color: #093c60;
}

footer a {
  color: white;
}


/* footer */

footer {
  background-color: #093c60;
  height: 18rem;
  display: flex;
  margin-top: 3rem;
}

.center-footer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  margin: auto;
}

.center-footer img {
  width: 200px;
}

.footer-nav-container {
  display: flex;
  width: 200px;
  flex-wrap: nowrap;
  text-align: center;
}

.footer-nav-item {
  flex: 1.5rem;
}


/* form */

.form-grid-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: auto;
  grid-column-gap: 1.5%;
  width: 50%;
}

.form-grid-name {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.form-grid-email {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

.form-grid-street {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}

.form-grid-city {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.form-grid-state {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.form-grid-zip {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.form-grid-adopter {
  grid-column: 1 / 5;
  grid-row: 5 / 6;
}

.form-grid-pickup {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.form-grid-adopted {
  grid-column: 1 / 5;
  grid-row: 7 / 8;
}

.form-grid-total {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
}

.form-grid-button {
  grid-column: 1 / 3;
  grid-row: 9 / 10;
  box-shadow: 3px 3px 10px #c9c9c9;
}

.flex-adopted-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.dogs-adopted {
  flex: 10%;
}

.dogs-adopted img {
  width: 55px;
  padding: .5rem .5rem 1rem 0rem;
}

.dogs-cost {
  flex: 35%;
  padding-top: .5rem;
}

.dogs-cost p {
  margin-top: 0;
}

input {
  padding-top: 10rem;
}

.select {
  padding: .5rem;
  margin-bottom: 1rem;
  display: block;
  outline: 1px black;
  box-sizing: border-box;
}

label,
legend {
  font-family: 'Neuton', sans-serif;
  color: #093c60;
  font-size: 1.2rem;
}

label[for="yes"],
[for="no"] {
  font-family: 'Work Sans', sans-serif;
  font-size: .8rem;
  line-height: 2rem;
}

input[type=text],
select {
  width: 100%;
  padding: .6rem;
  margin-bottom: 1rem;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select:focus,
input:focus {
  background-color: #e4fcc9;
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset input {
  display: inline;
  margin-right: .2rem;
}

form img {
  padding: .5rem .5rem 0;
}


/* green buttons in dog boxes and form */

button {
  color: white;
  font-weight: 600;
  background-color: #81b741;
  height: 2rem;
  width: 100%;
  border: none;
}

form button {
  width: 80%;
}

button a {
  color: white;
}