body {
  margin:0;
}

div {
}

aside {
  float: right;
  width: 30%;
}

.newFrontpage {
  width: 70%;
}
header {
  background-color: #2c9ab7;
  background: #000000 url(../images/header-image.jpg) 100% 25% no-repeat;
  margin:0;
  padding:10em;
}

footer {
 right: 0;
 bottom: 0;
 left: 0;
 padding-top: 3em;
 padding-bottom:3em;
 background-color: #083b5f;
 text-align: center;
}

section {
      margin-left: 16em;
      margin-right: 15em;
      margin-top: 3em;
      margin-bottom: 3em;
}

.sectionblog {
  padding-bottom:3em;
}
.smallblog {
  margin-bottom:3em;
}

.mainimage {
  float:left;
  padding-right:3em;
}
.asideimage {

}
.dogimage {
  width:100%
}

.dogimage-small {
  width:8%
}
.clearfix {
  overflow: auto;
      margin-left: 3em;
      margin-right: 3em;
}
.asidefix {
  overflow: auto;
      margin-left: 3em;
      margin-right: 3em;
}
.clearfix-form {
    overflow: auto;
    margin-left: 3em;
    margin-right: 15em;
}
.mainp {
  font-family: 'Work Sans', sans-serif;
  font-size: x-large;

}
.mainh1 {
  margin-top: 0em;
  font-size: xx-large;
  font-family: 'Neuton', serif;
  color: darkslategrey;

}

.asideh1 {
  margin-top: 1.3em;
  font-size: xx-large;
  font-family: 'Neuton', serif;
  color: darkslategrey;

}

.dogsh1 {
  font-size: xxx-large;
  font-family: 'Neuton', serif;
  color: darkslategrey;
  margin-left: .9em;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;

}

.small-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 1em 1em;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
  flex-wrap: wrap;
}



@media screen and (max-width: 768px)
{
  .navlist {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-left: 18em; */
    background-color: #ebebeb;
  }
  aside {
    display: none;
  }
  .newFrontpage {
    width: 100%;

  }
  .flex-container {
    display: block;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  section {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
  }
  .button-bottom {
    /* justify-content: center; */
    /* width: 20%; */
    width: 100%;
    background-color: #ebebeb;
    border: none;
    color: darkslategrey;
    padding-top: 1em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 1em;
    border-radius: .3em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    /* display: inline; */
    /* display: inline-block; */
    font-size: 16px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
    margin-bottom: 7em;
    cursor: pointer;
}
}

@media screen and (min-width: 768px) and (max-width: 1500px)
{
  .navlist {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 18em;
    background-color: #ebebeb;
  }
  aside {
    display: none;
  }
  .newFrontpage {
    width: 100%;

  }
  .flex-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
    flex-wrap: wrap;
  }
  section {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
  }

  .button-bottom {
    width: 20%;
        background-color: #ebebeb;
        border: none;
        color: darkslategrey;
        padding-top: 1em;
        padding-right: 3em;
        padding-left: 3em;
        padding-bottom: 1em;
        border-radius: .3em;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 1em;
        margin: 1em2px;
        font-weight: bold;
        margin-bottom: 7em;
        cursor: pointer
    }

}

@media screen and (min-width: 1500px)
{
  .navlist {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 18em;
    background-color: #ebebeb;
  }
  aside {
    display: inline;
    float: right;
    width: 30%;
  }
  .newFrontpage {
    width: 70%;

  }
  .flex-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
    flex-wrap: wrap;
  }

  section {
        margin-left: 16em;
        margin-right: 15em;
        margin-top: 3em;
        margin-bottom: 3em;
      }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;

    }

    .button-bottom {
      width: 20%;
          background-color: #ebebeb;
          border: none;
          color: darkslategrey;
          padding-top: 1em;
          padding-right: 3em;
          padding-left: 3em;
          padding-bottom: 1em;
          border-radius: .3em;
          text-align: center;
          font-weight: bold;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin-top: 1em;
          margin: 1em2px;
          font-weight: bold;
          margin-bottom: 7em;
          cursor: pointer
      }

} /* end */

.headerp {
  margin-top: .2rem;
  margin-bottom: 0;
  color: green;
  padding: 0;
  font-size:25px;
  font-style: italic;

}
.cardp {
  font-family: 'Work Sans', sans-serif;
}

.asidep {
  font-family: 'Work Sans', sans-serif;
  margin-right: 10em;
}
.button {
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1em;
  font-weight: bold;
  cursor: pointer;
}

.divheader {

}
/*
.button-bottom {
  width: 20%;
      background-color: #ebebeb;
      border: none;
      color: darkslategrey;
      padding-top: 1em;
      padding-right: 3em;
      padding-left: 3em;
      padding-bottom: 1em;
      border-radius: .3em;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 1em;
      margin: 1em2px;
      font-weight: bold;
      margin-bottom: 7em;
      cursor: pointer
  }
  */

.headertextspan{
  color: white;
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      float: right;
      margin-top: -1.5em;
      margin-right: 2em;
      font-size: large;
}

  .imageclass {
    height: 3%;
        width: 2%;
        float: right;
        margin-right: 8em;
        margin-top: -2em;
        margin-left: 1em;
  }

.button-checkout {
  width: 12%;
      float: right;
      font-size: 14px;
      margin-right: 1em;
      background-color: #4CAF50;
      border: none;
      color: white;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
}

.h3-title {
  font-family: 'Work Sans', sans-serif;

}

.label {
  font-family: 'Neuton';
    font-weight: bold;
    font-size: x-large;
    padding-right:10px;
}
.selectinput {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
input[type=text], select {
  width: 100%;
      padding: 1em 2em;
      margin: 1em 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
form {
  margin-left:0;
}

.form-div {
  display: flex;
      align-items: center;
      width: 100%;
      border-radius: 0;
      padding: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 	#BEBEBE;
}

li {
  float: left;
}

li a {
  display: block;
  color: darkslategrey;
  text-align: center;
  padding: 1em .5em;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
}
a {
  padding-bottom: .5em;
  color: #2c9ab7;
  text-decoration: none;
}

.abutton {
  color:white;
}
.bbutton {
  color:darkslategrey;
}

.footerp {
  margin-right: 3em;
  margin-left: 3em;
  margin-top: .2em;
  margin-bottom: 2em;
  color: white;
  padding: 0;
}
