* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: .8rem;
    color: #000000;
  }
  
  .hidden {
    position: relative;
    left: -10000px;
    top: auto;
  }
  
  .hidden:focus {
    left: 0;
  }
  
  .sr-only {
  Position: absolute;
  Left: -10000px;
  Top: auto;
  Width: 1px;
  Height: 1px;
  Overflow: hidden;
  }
  
  h2 {
    font-family: 'Times New Roman';
    font-size: 1.6rem;
    color: #204060;
  }
  
  h3 {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    color: #204060;
    line-height: .3;
  }
  
  /****Header****/
  .headerwrapper {
    margin: auto;
    width: 100%;
    padding: 20px 100px 20px 100px;
    background-color: #204060;
    overflow: hidden;
    text-decoration: none;
  }
  
  .headerlogotextwrapper {
    float: left;
    font-family: 'Times';
    color: #86b300;
    font-size: 1.5rem;
    width: 400px;
  }
  
  .headerlogoresize {
    width: 95%;
  }
  
  .headercartwrapper {
    float: right;
    display: inline;
    white-space: nowrap;
    padding-right: 175px;
    color: white;
    width: 100px;
  }
  
  .headercarttext {
    font-size: .7rem;
    line-height: 0px;
    text-align: right;
  }
  
  .headercartresize {
    width: 20px;
  }
  
  .headerbutton {
    background-color: #77b300;
    color: white;
    padding: 5px;
    border: none;
    width: 150px;
  }
  
  /****Navigation Bar****/
  .navwrapper {
    margin: auto;
    width: 100%;
    padding: 25px 180px 25px 180px;
    background-color: #e6e6e6;
    overflow: hidden;
  }
  
  .navlinks a {
    color: #204060;
    text-decoration: none;
  }
    
  .navlinks:after {
    content: '/';
    padding: 5px;
  }
    
  .navlinks:last-child::after {
  content: '';
  }
  
  .navlinks a:hover {
    color: #204060;
  }
  
  .navlinks a:visited {
    color: #204060;
  }
  
  /****Home Page Content****/
  .parent {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .25fr;
    grid-template-areas: 
      "div1 div1 div1 div3"
      "div2 div2 div2 div3"
      "div2 div2 div2 div3";
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    }
    
  .div1 { grid-area: div1; }
  .div2 { grid-area: div2; }
  .div3 { grid-area: div3; }
  
  .homewrapper {
    display: block;
  }
  
  .homemainarticlewrapper {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: top;
    padding-bottom: 35px;
  }
  
  .homeimgresize {
    width: 100%;
  }
  
  .homearticletext {
    font-size: .9rem;
    line-height: 1.8;
  }
  
  .homegrid {
    display: grid;
    margin-top: 0px;
    padding-top: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    padding-bottom: 50px;
    }
  
  .homemurphy { grid-area: 1 / 1 / 2 / 2; }
  .homepoppy { grid-area: 1 / 2 / 2 / 3; }
  .homejack { grid-area: 1 / 3 / 2 / 4; }
  .homeduffy { grid-area: 2 / 1 / 3 / 2; }
  .homelucas { grid-area: 2 / 2 / 3 / 3; }
  .homejake { grid-area: 2 / 3 / 3 / 4; }
  
  .seemoredogsbuttonwrapper {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .seemoredogsbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #204060;
    background-color: #e6e6e6;
    text-align: center;
    cursor: pointer;
    width: 180px;
    font-size: .9rem;
  }

  .homeblog {
    padding-bottom: 40px;
  }
  
  
  /****Dog Page Content****/
  .dogwrapper {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: auto;
    width: 100%;
    padding: 10px 180px 50px 180px;
    overflow: hidden;
    text-decoration: none;
  }

  .doggrid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px 40px;
    grid-template-areas: 
    "murphy poppy jack"
    "duffy lucas jake"
    "angus violet piper"
    "maximus luna stella";
    }

  .murphy { grid-area: murphy; }
  .poppy { grid-area: poppy; }
  .jack { grid-area: jack; }
  .duffy { grid-area: duffy; }
  .lucas { grid-area: lucas; }
  .jake { grid-area: jake; }
  .angus { grid-area: angus; }
  .violet { grid-area: violet; }
  .piper { grid-area: piper; }
  .maximus { grid-area: maximus; }
  .luna { grid-area: luna; }
  .stella { grid-area: stella; }
  
  .dogprofilecard {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    box-shadow: 1px 1px 3px 0px;
    text-align: left;
  }
  
  .doginfowrapper {
    width: 100%;
    margin: 1rem 0rem 1rem;
    padding: 0px 8px 20px 8px;
  }
  
  .dogimgresize {
    text-align: left;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .profilename {
    font-family: 'Times New Roman';
    font-size: 1.4rem;
    color: #204060;
    line-height: .1;
  }
  
  .dogtext {
    font-size: 1rem;
  }
  
  .adoptbutton {
    border: none;
    outline: 0px;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: #77b300;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: .8rem;
    border-radius: .5rem;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  /****Blog Page Content****/
  .blogwrapper {
    margin: auto;
    width: 100%;
    padding: 10px 180px 0px 180px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .blogarticlewrapper {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: top;
    padding-bottom: 60px;
  }
  
  .blogimgresize {
    width: 100%;
    margin-right: 40px;
  }
  
  .blogarticletext {
    font-size: .75rem;
    line-height: 1.8;
  }
  
  
  /****Checkout Page Content****/
  .checkoutwrapper {
    margin: auto;
    width: auto;
    padding: 10px 180px 0px 180px;;
  
  }
  
  .checkoutinput {
    width: 525px;
    height: 45px;
  }
  
  .namewrapper {
    padding-bottom: 20px;
  }
  
  .emailwrapper {
    padding-bottom: 20px;
  }
  
  .streetaddresswrapper {
    padding-bottom: 20px;
  }
  
  .citystatezipcodewrapper {
    display: inline-flex;
    padding-bottom: 20px;
  }
  
  .citywrapper {
    padding-right: 20px;
  }
  
  .city {
    width: 240px;
    height: 45px;
  }
  
  .statewrapper {
    padding-right: 20px;
  }
  .state {
    width: 120px;
    height: 45px;
  }
  
  .zipcode {
    width: 125px;
    height: 45px;
  }
  
  .firsttimeadopterwrapper {
    padding-bottom: 20px;
  }
  
  .pickuplocationwrapper {
    padding-bottom: 20px;
  }
  
  .pickuplocation {
    width: 240px;
    height: 45px;
  }
  
  .dogadoptedwrapper {
    display: flex;
    padding-bottom: 20px;
  }
  
  .checkoutimgresize {
    width: 20%;
    padding-bottom: 10px;
  }
  
  .dogadoptedprofilewrapper {
    display: flex;
    padding: 0px 25px 0px 0px;
    line-height: .5;
  }
  
  .dogadoptedtextwrapper {
    padding-left: 10px;
    vertical-align: top;
  }
  
  .dogadoptedtext {
    font-size: .6rem;
  }
  
  .totaladoptioncostwrapper {
    padding-bottom: 20px;
  }
  
  .totaladoptioncosttext {
    font-size: .9rem;
  }
  
  .submitbuttonwrapper {
    padding-bottom: 75px;
  }
  
  .submitbutton {
    border: none;
    outline: 0px;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: #77b300;
    text-align: center;
    cursor: pointer;
    width: 200px;
    font-size: .9rem;
  }
  
  /****Footer****/
  .footerwrapper {
    margin: auto;
    width: 100%;
    padding: 50px 425px 50px 425px;
    text-align: center;
    background-color: #3A3A3A;
    overflow: hidden;
    text-decoration: none;
  }
  
  .footerimgresize {
    width: 75%;
    padding-bottom: 10px;
  }
  
  .footernavbar {
    padding-bottom: 20px;
  }
  
  .footernavlinks a {
    padding: 100px;
    margin: .5rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footernavlinks:after {
    content: '/';
    padding: 5px;
  }
    
  .footernavlinks:last-child:after {
    content: ' ';
  }
  
  .footernavlinks a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footernavlinks a:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footertext {
    color: #FFFFFF;
    text-decoration: none;
  }
  
 /*** dog grid layout change from 3 columns to 1 on mobile devices ***/
 @media screen and (max-width: 576px) {
  .doggrid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

/*** dog grid layout change from 3 columns to 2 on tablet devices ***/
@media screen and (max-width: 768px) {
  .doggrid {
    display: grid;
    grid-template-columns: 2fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}
  
/* On the home page, only show the blog article previews only on iPad size and above. The links can either link to the blog page, or the blog post itself. On mobile, your blog previews should not be displayed. */
@media only screen and (max-width: 500px) {

  .homeblogwrapper {
    float: none;
    position: static;
    width: auto;
  }

  .parent {
    border-left:0;
    margin: 0;
  }
}