/* CSS for html200-adopt-a-dog */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  z-index: -3;
}

/* Header Cart */
div.cart {
  float: right;
  position: fixed;
  padding-top: 2rem;
  right: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-size: .5rem;
}
span.b {
  display: inline-block;
  width: 20px;
  height: 10px;
  padding: 1px;
  border: 0;
}
span.c {
  display: block;
  width: 100px;
  height: 10px;
  padding: 5px;
  border: 0;
}
button.cart {
  background-color: #70a329; /* Green */
  border: none;
  border-radius: 2px;
  color: white;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .5rem;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}
/* Header Area */
.flexbox-container {
  overflow: hidden;
  position: absolute;
  right: 0px;
  z-index: -1;
}

div.header-logo {
  border: 0;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-bottom: 0;
  margin: 0;
  z-index: 999;
}
h1.heading {
  display: block;
  font-size: 1.5em;
  padding: 0;
  margin-top: 0em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-stretch: ultra-expanded;
  font-family: 'Gabriola', sans-serif;
  color: #70a329; /* Green */
}

/* Navigation Bar */
.global-nav {
  width: 100%;
  background-color: #E5E7E9;
  position: sticky;
  margin-top: 150px;
  padding-left: 100px;
  overflow: auto;
}
/* Global-nav links */
.global-nav a {
  float: left;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #16426b;
  text-decoration: none;
  font-weight: bolder;
}
/* Global-nav links on mouse-over */
.global-nav a:hover {
  background-color: #E5E7E9;
  /*For now color same as bar */
}
/* Global-nav font */
.global-nav {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}
/* Current/active Global-nav link
.active {
  background-color: #25b4d2;
}
.global-nav i:hover {
  font-size: 150%;
}
*/

/* Main */
main {
  background-color: #ffffff;
}
section.section {
  overflow: hidden;
  position:absolute;

  z-index: 990;
}
/* About A Dog Intro */
div.clearfix {
  border: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.img1 {
  float: left;
  padding-right: 40px;
}
.clearfix::after {
  content: "";
  clear:both;
  display:table;
}
h1.main {
  display: block;
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Alegreya', serif;
  color: #06426b; /* Blue */
}

/* Gallery of Dogs */
div.adoptGallery {
  margin-left: 80px;
  margin-right: 50px;
  padding: 0;
}
div.gallery {
  border: 1.5px solid #ebebeb;
  margin: 15px;
  float: left;
  width: 180px;
  background-color: #ffffff;
}
/*
div.gallery:hover {
  border: 1.5px solid #777;
}
*/
div.gallery img {
  width:100%;
  height: auto;
}
div.desc {
  padding: 5px;
  padding-bottom: 10px;
  text-align: left;
}
h2.name {
  display: block;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: .6em;
  margin-right: 0;
  font-weight: bold;
}
.name {
  color: #003a66;
  font-family: 'Vollkorn', serif;
}
span.costAmt {
  font-size: .8em;
  margin-left: .8em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
span.dogPc {
  display:inline-block;
  width: 100%;
  padding: .5em;
  border: 0;
}
p.dogPc {
  font-size: .75em;
  margin-top: .33em;
  margin-bottom: .33em;
  margin-left: .3em;
  margin-right: .3em;
  font-stretch:ultra-expanded;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #464849;
}
button.adopt {
  background-color: #70a329; /* Green */
  border: none;
  border-radius: 2px;
  color: white;
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 1rem;
  font-weight: 700;
}
button.adopt {
  font-family: 'Work Sans', sans-serif;
}

/* See More Dogs */
.center {
  display: inline-block;
  width: 100%;
  border: 0;
  padding: 15px;
  text-align: center;
}
button.moreDogs {
  background-color: #ebebeb; /* light gray */
  border: none;
  border-radius: 2px;
  color: #003a66;
  padding: 7px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
}
button.moreDogs {
  font-family: 'Work Sans', sans-serif;
}
/* Footer */
footer {
  overflow: hidden;
  position: absolute;
  background-color: #003a66;
  padding: 2em;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.footer-logo{
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: #ffffff;
  z-index: 995;
}
p, div.footer {
  font-size: .7em;
  margin-left: .3em;
  margin-right: .3em;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}
/* Footer Navigation */
div.footer-nav {
  width: 100%;
  background-color: #003a66;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  overflow: auto;
}
/* Footer-nav links */
a.footer-nav {
  padding-left: .1rem;
  padding-right: .1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
/* Footer-nav links on mouse-over */
.footer-nav a:hover {
  background-color: #70a329;
}
/* Footer-nav font */
.footer-nav {
  font-family: 'Work Sans', sans-serif;
  font-size: .6rem;
}
/* Current/active Global-nav link
.active {
  background-color: #25b4d2;
}
.global-nav i:hover {
  font-size: 150%;
}
*/


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .global-nav a {
    float: none;
    display: block;
  }
}
