/*------General styling------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
h3 {
  color: rgb(25, 60, 93);
  font-size: 2.5rem;
  margin: 0;
}
a {
  text-decoration: none;
  list-style: none;
}
p {
  line-height: 1.5rem;
  color: rgb(61, 61, 61);
}
img {
  display: block;
  width: 100%;
}

/*------Primary container------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

/*------Header container------*/
.header-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-area: 1 / 1 / 1 / span 12;
}
.header-img {
  grid-area: 1 / 1 / span 12 / span 12;
  height: 37.5rem;
}
.header-flex {
  display: flex;
  grid-area: 2 / 2 / 5 / 11;
  justify-content: space-between;
  padding-right: 4rem;
}
.logo-flex {
  display: flex;
  flex-direction: column;
}
.cart-flex {
  display: flex;
  flex-direction: column;
}
.price-flex {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-evenly;
}
.header-logo {
  grid-area: 2 / 2 / 5 / 4;
}
.h2 {
  margin: 0;
  color: rgb(141, 181, 83);
  font-size: 2rem;
}
.cart {
  height: 1.5rem;
  width: 50%;
}
.cart-p {
  color: rgb(255, 255, 255);
  font-weight: 700;
  margin: 0;
}
.checkout-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: white;
  background-color: rgb(141, 181, 83);
  padding: 0.5rem 3rem;
  font-weight: 700;
}
.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 12 / 1 / 12 / span 12;
  background-color: rgb(236, 236, 236);
}
.menu {
  display: flex;
  grid-area: 12 / 3 / 12 / 5;
  padding: 0.625rem 0;
  justify-content: space-between;
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 700;
}
.linear-gradient {
  background: linear-gradient(to right, rgb(200, 135, 75), rgb(0, 0, 0));
}

/*------Intro container------*/
.home-intro {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-area: 2 / 3 / 4 / 9;
  row-gap: 0.5rem;
}
.image-1 {
  grid-area: 1 / 1 / 2 / 9;
}
.h3 {
  grid-area: 2 / 1 / 3 / 9;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.p {
  grid-area: 3 / 1 / 3 / 9;
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
}

/*------Secondary container------*/
.section-grid-index {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  column-gap: 1rem;
  row-gap: 2rem;
  grid-area: 4 / 3 / 10 / 9;
}
.article {
  border: rgb(235, 235, 235) solid 0.187rem;
}
.h3-section-index {
  padding: 0 1.25rem 0.625rem;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 700;
}
.art-p {
  padding: 0 1.25rem 0.625rem;
  margin: 0;
}

/*------Aside container------*/
.aside-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-area: 2 / 9 / 7 / 11;
  row-gap: 2.5rem;
}
.aside-a {
  text-decoration: rgb(74, 152, 181);
  font-size: 1.25rem;
}
.aside-p {
  line-height: 1.25;
  margin: 0;
}
.adopt {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 83);
  padding: 0.625rem 0;
  margin: 0 1.25rem;
  border-radius: 0.187rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.a-more-dogs {
  display: flex;
  grid-area: 10 / 5 / 11 / 7;
  justify-content: center;
  font-size: 1.6rem;
  color: rgb(25, 60, 93);
  background-color: rgb(236, 236, 236);
  border-radius: 0.187rem;
  padding: 1rem;
}

/*------Dogs page-----*/
.section-grid-dogs {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 3rem;
  grid-area: 3 / 3 / 11 / 11;
}
.h3-dogs-page {
  grid-area: 2 / 3 / 3 / 11;
  font-weight: 700;
}

/*------Blog page------*/
.h3-blog {
  grid-area: 2 / 3 / 2 / 11;
}
.h4-blog {
  color: rgb(25, 60, 93);
  margin: 0;
  font-size: 1.75rem;
}
.blog {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}
.blog-p {
  margin: 0.5rem 0;
}
.blog-grid-1 {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 3.5rem;
  grid-area: 3 / 3 / 3 / 11;
}
.blog-grid-2 {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 3.5rem;
  grid-area: 4 / 3 / 4 / 11;
}
.blog-grid-3 {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 3.5rem;
  grid-area: 5 / 3 / 5 / 11;
}

/*---------JS blog posts-------*/
.grid-container-js {
  display: grid;
  grid-template-columns: (12, 1fr);
}
.blog-grid-1-js {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 3.5rem;
  grid-area: 1 / 3 / 1 / 11;
}
.blog-grid-2-js {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 3.5rem;
  grid-area: 2 / 3 / 2 / 11;
}
.blog-grid-3-js {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 3.5rem;
  grid-area: 2 / 3 / 2 / 11;
}
.blog-img-js {
  width: 500px;
}

/*------Checkout page------*/
[class*="label-"] {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(25, 60, 93);
}
.input {
  border: solid rgb(192, 192, 192) 0.125rem;
  height: 4rem;
  width: 100%;
}
select {
  border: solid rgb(192, 192, 192) 0.125rem;
  height: 4rem;
  width: 100%;
}

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: 2 / 3 / 5 / 8;
}
.h3-checkout {
  grid-area: 1 / 3 / 1 / 9;
  font-size: 2.5rem;
  padding: 0;
}
.city-flex {
  display: flex;
  gap: 2rem;
}
.label-4 {
  width: 45%;
}
.label-5 {
  width: 20%;
}
.label-6 {
  width: 35%;
}
.label-7 {
  margin: 0;
  border: 0;
  padding: 0;
}
.label-8 {
  margin: 0;
  border: 0;
  padding: 0;
}
.radio-input {
  height: 1.5rem;
  width: 10%;
}
.radio-font {
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
  font-weight: 400;
  margin-right: 2.5rem;
}
.adopt-flex {
  display: flex;
  flex-direction: column;
}
.lucas-duffy-flex {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-left: 0;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}
.dog {
  color: rgb(25, 60, 93);
  font-size: 1.4rem;
  font-weight: 700;
}
.lucas-image {
  width: 6.25rem;
  height: 6.25rem;
  margin: 1rem;
  margin-left: 0;
}
.duffy-image {
  width: 6.25rem;
  height: 6.25rem;
  margin: 1rem;
  margin-left: 0;
}
.dog-p {
  margin-right: 3rem;
}
.total {
  grid-area: 5 / 3 / 5 / 5;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.75rem 0 0;
}
input[type="submit"] {
  background-color: rgb(141, 181, 83);
  color: white;
  border-radius: 0.187rem;
  font-size: 1.25rem;
  font-weight: 700;
}

/*------Footer container------*/
.bottom-container {
  grid-area: auto / 1 / auto / span 12;
  background-color: rgb(25, 60, 93);
  font-size: 1.25rem;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6rem;
}
.footer-img {
  height: 7.812rem;
  margin-top: 3rem;
}
.footer-p {
  color: rgb(255, 255, 255);
}
.footer-links {
  display: flex;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 0;
  justify-content: space-evenly;
}
.footer-nav {
  width: 15%;
}
.footer-a {
  color: rgb(255, 255, 255);
  list-style: none;
  text-decoration: none;
}

.footer-copyright {
  color: rgb(255, 255, 255);
  justify-content: center;
  padding-bottom: 3.75rem;
}

/*--------JS Footer-----------*/
.bottom-container-js {
  background-color: rgb(25, 60, 93);
  font-size: 1.25rem;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 3.5rem;
}

/*------Media Queries-------*/
@media screen and (min-width: 1px) and (max-width: 767px) {
  .grid-container {
    gap: 0;
  }
  .header-flex {
    display: flex;
    flex-direction: column-reverse;
    grid-area: 2 / 1 / 5 / 13;
    padding-right: 0;
  }
  .logo-flex {
    padding: 2rem;
  }
  .cart-flex {
    align-items: flex-end;
    margin-right: 2rem;
  }
  .price-flex {
    margin-bottom: 0.5rem;
  }
  .cart {
    padding-right: 0.5rem;
  }
  .aside-p,
  aside,
  aside > article {
    display: none;
  }
  .footer-p {
    display: none;
  }
  .home-intro {
    padding: 2rem 0;
    row-gap: 1rem;
  }
  .article {
    grid-template-columns: 1fr;
  }
  .menu > li > a {
    padding: 0 0.5rem;
  }
  .blog-grid-1-js {
    column-gap: 0;
  }
  .blog-grid-2-js {
    column-gap: 0;
  }
  .blog-grid-3-js {
    column-gap: 0;
  }
  .city-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .a-more-dogs {
    grid-area: 10 / 3 / 11 / 11;
    margin: 2rem 0;
    padding: 1rem;
  }
  .label-4 {
    width: 100%;
  }
  .label-5 {
    width: 100%;
  }
  .label-6 {
    width: 100%;
  }
  .footer-a {
    padding: 0 0.5rem;
  }
  #submit {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .article {
    grid-template-columns: 1fr 1fr;
  }
  .menu > li > a {
    padding: 0 0.5rem;
  }
  .footer-a {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .article {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu > li > a {
    padding: 0 0.5rem;
  }
  .footer-a {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1920px) {
  .article {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 767px) {
}

/*------Overlap issue on print preview------*/
@media print {
  body img {
    display: none;
  }
}

/*Column widths*/
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 64.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
