.header-image {
  background-image: url("../images/header-image.jpg");
  background-repeat: no-repeat;
  /* background-size: color; */
  height: 30rem;
  width: 100%;
  /* max-width: auto; */
}
.container1 {
  display: flex;
  float: left;
  flex-direction: column;
  margin-left: 3rem;
  align-items: flex-start;
}
.container1 p {
  color: lime;
  font-style: italic;
  font-size: 1.7rem;
}
.container2 {
  display: flex;
  /* float: right; */
  flex-direction: row;
  color: white;
  /* flex-grow: 2; */
  padding-right: 10rem;
  padding-top: 6rem;
}
#logo-size {
  margin-top: 4rem;
  height: 8rem;
  width: auto;
}
#cart-size {
  height: 2rem;
  width: 2rem;
  padding-right: 1rem;
  /* padding-top: 5rem; */
}
/* img.container1 {
  height: 5rem;
  width: 5rem;
}
img.container2 {
  height: 2rem;
} */
header {
  width: 100%;
}
button {
  /* display: flex; */
  float: none;
  align-items: center;
  color: white;
  background-color: green;
  border-radius: 4px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-color: green;
  text-align: center;
  /* margin-top: 5rem; */
}
#float-right {
  display: flex;
  float: right;
}
/* .container1 button {
  position: relative;
  float: right;
  margin-bottom: 10rem;
}
#id float-left {
  position: relative;
  float: left;
}
#id float-right {
  position: relative;
  float: right;
}
.container1 img:nth-child(1) {
  height: 50px;
  float: left;
}
.container1 img:nth-child(3) {
  height: 50px;
  float: right;
}
.container1 p:nth-child(3) {
  float:right;
}
.container1 p:nth-child(1) {
  float: left;
  padding-top: 10rem;
} */
.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0;
  overflow: hidden;
  background-color: Grey;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
li a {
  width: auto;
  /* height: 400em; */
  /* background-color: #03a3df; */
  color: darkblue;
  /* padding: 0.625rem 1rem; */
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* border: 0.0625rem solid #ffffff; */
}
li:first-of-type {
  margin-left: 10rem;
}
#header-button {
  margin-top: 1rem;
  display: flex;
  float: right;
  margin-right: 5rem;
}
.container3 {
  display: flex;
  flex-flow: row wrap;
  margin-left: 3rem;
}
.container3 img {
  width: 100%;
  height: auto;
  margin-left: 5rem;
  margin-top: 5rem;
}
/* img.container3 {
  position: relative;
  float: left;
}
p.container3 {
  position: relative;
  float: right;
  text-align: center;
} */
.imgresize {
  min-width: 15rem;
  max-width: 20rem;
  height: auto;
}
.container4 {
  display: flex;
  flex-flow: column wrap;
  float: right;
  margin-left: 2rem;
  font-size: 1.2em;
  width: 30rem;
  min-width: 30rem;
  margin-right: 10rem;
}
.container5, .container6 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  flex: 1 1 auto;
  clear: both;
}
.item1 {
  border-width: 0.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-color: grey;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-bottom: 1rem;
  width: 15rem;
}
.card-images {
 width: 100%;
 height: auto;
}
.cardnames {
  margin-left: 1rem;
}
.cost {
  margin-left: 1rem;
}
.cardtext {
  margin-left: 1rem;
  margin-right: 1rem;
}
.cardbutton {
  margin-left: 3rem;
  margin-right: 3rem;
}
.item2 {
  border-width: 0.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-color: grey;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-bottom: 1rem;
  width: 15rem;
  /* clear: both; */
}
.item3 {
  border-width: 0.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-color: grey;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding-bottom: 1rem;
  /* clear: both; */
}
/* .container6 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative; */
/* } */
.seemoredogs {
  display: flex;
  float: none;
  /* position: relative; */
  background-color: grey;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  /* align-items: center; */
  border: none;
  color: navy;
  border-radius: 0px;
  height: auto;
  max-width: 300px;
}
footer {
  display: block;
  /* flex-flow: column wrap; */
  background-color: #003366;
  align-items: center;
  padding: 3rem;
  text-decoration: none;
  color: white;
  /* clear: both; */
  /* position: absolute;
  bottom: 0px; */
}
footer img {
  width: 20rem;
  height: auto;
  margin: 2rem auto;
  align-items: center;
  float: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
footer p {
  margin: 2rem;
  text-align: center;
}
#adoptdogheading {
  color: #003366;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
article p {
  font-weight: lighter;
  font-family: sans-serif;
}
.blogsubheads {
  color: #003366;
}
.container7 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding-bottom: 2rem;
  /* max-height: 30rem; */
  margin-bottom: 1rem;
}
.container8 {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 2rem;
  font-size: 1.2em;
  width: 65%;
  /* margin-right: 5rem; */
}
form {
  margin-left: 5rem;
  color: #003366;
  font-weight: bold;
  padding: 0.2;
}
label {
  margin: 0.5rem;
}
input {
  margin-bottom: 1rem;
}
.container9 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.item4 {
  display: flex;
  flex-direction: column;
  width: 8rem;
  margin-right: 2rem;
}
.container10 {
  display: flex;
  flex-direction: column;
  width: 15rem;
  min-width: 15rem;
  float: right;
}
.container3 img {
  width: 100%;
  height: auto;
}
.container11 {
  align-items: center;
}
select {
  margin: 1rem;
}
input {
  margin: 1rem;
}
.container12 {
  width: 89%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin: 2.1rem;
}
nav {
  align-items: center;
}
.footernav {
  align-items: center;
  text-align: center;
}
/* .container13 {
  width: 25%;
} */
.container12 img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  /* margin-right: 5rem; */
  margin-left: 2rem;
  max-width: 20rem;
  max-height: 20rem;
  /* width: auto; */
  /* max-height: 20rem; */
}
