* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: .8rem;
    color: #000000;
  }
  
  .hidden {
    position: relative;
    left: -10000px;
    top: auto;
  }
  
  .hidden:focus {
    left: 0;
  }
  
  .sr-only {
  Position: absolute;
  Left: -10000px;
  Top: auto;
  Width: 1px;
  Height: 1px;
  Overflow: hidden;
  }
  
  h2 {
    font-family: 'Times New Roman';
    font-size: 1.6rem;
    color: #204060;
  }
  
  h3 {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    color: #204060;
    line-height: .3;
  }
  
  /****Header****/
  .headerwrapper {
    margin: auto;
    padding: 20px 100px 20px 100px;
    width: 100%;
    height: auto;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(32,64,96,1) 75%);
    /* background-image: url(../images/header-image.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    text-decoration: none;
  }
  
  .headerlogotextwrapper {
    float: left;
    font-family: 'Times';
    color: #86b300;
    font-size: 1.5rem;
    width: 400px;
  }
  
  .headerlogoresize {
    width: 100%;
  }
  
  .headercartwrapper {
    float: right;
    display: inline;
    white-space: nowrap;
    padding-right: 175px;
    color: white;
    width: 200px;
  }
  
  .headercarttext {
    font-size: .7rem;
    line-height: 0px;
    text-align: right;
  }
  
  .headercartresize {
    width: 100%;
  }
  
  .headerbutton {
    background-color: #77b300;
    color: white;
    padding: 5px;
    border: none;
    width: 150px;
  }
  
  /****Navigation Bar****/
  .navwrapper {
    margin: auto;
    width: 100%;
    padding: 25px 180px 25px 180px;
    background-color: #e6e6e6;
    overflow: hidden;
  }
  
  .navlinks a {
    color: #204060;
    text-decoration: none;
  }
    
  .navlinks:after {
    content: '/';
    padding: 5px;
  }
    
  .navlinks:last-child::after {
  content: '';
  }
  
  .navlinks a:hover {
    color: #204060;
  }
  
  .navlinks a:visited {
    color: #204060;
  }
  
  /****Home Page Content****/
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .25fr;
    grid-template-areas: 
      "div1 div1 div1 div3"
      "div2 div2 div2 div3"
      "div2 div2 div2 div3";
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding-top: 30px;
    padding-left: 125px;
    padding-right: 125px;
    }
    
  .div1 { grid-area: div1; }
  .div2 { grid-area: div2; }
  .div3 { grid-area: div3; }
  
  .homewrapper {
    display: block;
  }
  
  .homemainarticlewrapper {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: top;
    padding-bottom: 0px;
  }
  
  .homeimgresize {
    width: 100%;
  }
  
  .homearticletext {
    font-size: .9rem;
    line-height: 1.8;
  }
  
  .homegrid {
    display: grid;
    margin-top: 0px;
    padding-top: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    padding-bottom: 50px;
    }
  
  .homemurphy { grid-area: 1 / 1 / 2 / 2; }
  .homepoppy { grid-area: 1 / 2 / 2 / 3; }
  .homejack { grid-area: 1 / 3 / 2 / 4; }
  .homeduffy { grid-area: 2 / 1 / 3 / 2; }
  .homelucas { grid-area: 2 / 2 / 3 / 3; }
  .homejake { grid-area: 2 / 3 / 3 / 4; }

  .homedogprofilecard {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    box-shadow: 1px 1px 3px 0px;
    text-align: left;
    width: 200px;
  }
  
  .homedoginfowrapper {
    width: 100%;
    margin: 1rem 0rem 1rem;
    padding: 5px;
  }
  
  .seemoredogsbuttonwrapper {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .seemoredogsbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #204060;
    background-color: #e6e6e6;
    text-align: center;
    cursor: pointer;
    width: 180px;
    font-size: .9rem;
  }

  .homeblog {
    width: 250px;
    padding-bottom: 40px;
  }

  .asideimgresize {
    width: 100%;
  }
  
  /* On the home page, only show the blog article previews only on iPad size and above. The links can either link to the blog page, or the blog post itself. On mobile, your blog previews should not be displayed. */
  @media only screen and (max-width: 768px) {

    .homeblogwrapper {
      float: none;
      position: static;
      width: auto;
    }

    .parent {
      border-left:0;
      margin: 0;
    }
  }

  /****Dog Page Content****/
  .dogwrapper {
    width: 100%;
    padding-left: 180px;
    text-decoration: none;
  }

  .doggrid {
    display: grid;
    padding: 10px 180px 50px 180px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px 40px;
    grid-template-areas: 
    "murphy poppy jack"
    "duffy lucas jake"
    "angus violet piper"
    "maximus luna stella";
    }

  .murphy { grid-area: murphy; }
  .poppy { grid-area: poppy; }
  .jack { grid-area: jack; }
  .duffy { grid-area: duffy; }
  .lucas { grid-area: lucas; }
  .jake { grid-area: jake; }
  .angus { grid-area: angus; }
  .violet { grid-area: violet; }
  .piper { grid-area: piper; }
  .maximus { grid-area: maximus; }
  .luna { grid-area: luna; }
  .stella { grid-area: stella; }
  
  /*** dog grid layout change from 3 columns to 1 on mobile devices ***/
  @media screen and (max-width: 576px) {
    .doggrid {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-row-gap: 100px;
    }
  }

  /*** dog grid layout change from 3 columns to 2 on tablet devices ***/
  @media screen and (max-width: 768px) {
    .doggrid {
      display: grid;
      grid-template-columns: 2fr;
      padding: 1em;
      grid-row-gap: 100px;
    }
  }

  .dogprofilecard {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    box-shadow: 1px 1px 3px 0px;
    text-align: left;
    width: 250px;
  }
  
  .doginfowrapper {
    width: 100%;
    margin: 1rem 0rem 1rem;
    padding: 0px 8px 20px 8px;
  }
  
  .dogimgresize {
    text-align: left;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .profilename {
    font-family: 'Times New Roman';
    font-size: 1.4rem;
    color: #204060;
    line-height: .1;
  }
  
  .dogtext {
    font-size: 1rem;
  }
  
  .adoptbutton {
    border: none;
    outline: 0px;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: #77b300;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: .8rem;
    border-radius: .5rem;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  /****Blog Page Content****/
  #main-content {
    padding-left: 180px;
  }
  
  .blog-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 10px 180px 60px 180px;
  }
  
  .blog-box1 {
    width: 100%;
  }

  .blog-box1 img {
    width: 100%;
    margin-right: 40px;
  }
  
  /****Checkout Page Content****/
  .checkoutwrapper {
    margin: auto;
    width: auto;
    padding: 10px 180px 0px 180px;;
  
  }
  
  .checkoutinput {
    width: 700px;
    height: 45px;
    font-size: 1rem;
  }
  
  .namewrapper {
    padding-bottom: 20px;
  }
  
  .emailwrapper {
    padding-bottom: 20px;
  }
  
  .streetaddresswrapper {
    padding-bottom: 20px;
  }
  
  .citystatezipcodewrapper {
    display: inline-flex;
    padding-bottom: 20px;
  }
  
  .citywrapper {
    padding-right: 20px;
  }
  
  .city {
    width: 300px;
    height: 45px;
    font-size: 1rem;
  }
  
  .statewrapper {
    padding-right: 20px;
  }
  .state {
    width: 200px;
    height: 45px;
    font-size: 1rem;
  }
  
  .zipcode {
    width: 160px;
    height: 45px;
    font-size: 1rem;
  }
  
  .firsttimeadopterwrapper {
    padding-bottom: 20px;
  }
  
  .pickuplocationwrapper {
    padding-bottom: 20px;
  }
  
  .pickuplocation {
    width: 300px;
    height: 45px;
    font-size: 1rem;
  }
  
  .dogadoptedwrapper {
    display: flex;
    padding-bottom: 20px;
  }
  
  .checkoutimgresize {
    width: 20%;
    padding-bottom: 10px;
  }
  
  .dogadoptedprofilewrapper {
    display: flex;
    padding: 0px 25px 0px 0px;
    line-height: .5;
  }
  
  .dogadoptedtextwrapper {
    padding-left: 10px;
    vertical-align: top;
  }
  
  .dogadoptedtext {
    font-size: .6rem;
  }
  
  .totaladoptioncostwrapper {
    padding-bottom: 20px;
  }
  
  .totaladoptioncosttext {
    font-size: .9rem;
  }
  
  #submit-checkout[type="submit"] {
    width: 20rem;
    height: 45px;
    background-color: #81b741;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: .5rem;
    box-sizing: border-box;
    display: block;
    border-radius: .5rem;
    border: 1px solid;
    appearance: none;
  }
  
  /****Footer****/
  .footerwrapper {
    margin: auto;
    width: 100%;
    padding: 50px 425px 50px 425px;
    text-align: center;
    background-color: #3A3A3A;
    overflow: hidden;
    text-decoration: none;
  }
  
  .footerimgresize {
    width: 75%;
    padding-bottom: 10px;
  }
  
  .footernavbar {
    padding-bottom: 20px;
  }
  
  .footernavlinks a {
    padding: 100px;
    margin: .5rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footernavlinks:after {
    content: '/';
    padding: 5px;
  }
    
  .footernavlinks:last-child:after {
    content: ' ';
  }
  
  .footernavlinks a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footernavlinks a:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footertext {
    color: #FFFFFF;
    text-decoration: none;
  }
