
/*Universal Stylings*/

* {
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

/*Header*/

.header {
  background: linear-gradient(90deg, rgba(0,0,0,.8) 20%, rgba(0,0,0,0) 100%), url("../images/header-image.jpg");
  background-position: top center;
  background-size: cover;
  height: 30em;
  margin: 0;
  padding: 6%;
  display: flex;
  justify-content: space-between;
}



.title > h1 {
  font-style: italic;
  font-size: 2em;
  color: #81b741;
}

.title > img {
  width: 85%;

}

.checkout {
  display: grid;
  justify-items: flex-end;
  grid-gap: 1em;
}

.checkout > p {
  color: #ffffff;
  margin: 0;
  align-self: end;
}

.checkout > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #81b741;
  padding: 5% 20%;
  border-radius: .2em;
  grid-column: 1 / 3;
  align-self: flex-start;
}

.cart {
  width: 20%;
  align-self: end;
}


/* Header: Naviagation */

.top-navigation {
  background-color: #e8e8e8;
  color: #1c356d;
  padding: .5% 12% 3%;
  height: 6em;
  margin: auto;
}

.nav-links{
  font-weight: bold;
  font-size: 1.5em;
}

.nav-links > a {
  text-decoration: none;
  color: #1c356d;
  padding: 0 1%;
}

.top-navigation> a:first-child {
  padding: 0 1% 0 0;
}


/*Body*/

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  padding: 3% 12%;
  color: #1c356d;
}

.main-right {
  grid-column: 3 / 4;
  margin-bottom: 5%;
}

.main-left {
  grid-column: 1 / 3;
}


/*Body-Left: Header Article*/

.intro-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(5%, auto);
  color: #1c356d;
  margin-bottom: 3rem;
}

.intro-body > img {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  width: 70%;
  align-self: center;
}
.intro-body > h2 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin: 5% 0;
}
.intro-body > p {
  grid-column: 1 / 4;
  grid-row: 4 / 6;
  line-height: 1.5;
}


/*Body: Hidden Blog Link*/

.sneaky-blog {
  display: none;
}


/*Body-Right: Aside Blog*/

#aside-title {
  margin-bottom: 5%;
}

.blog-sample {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blog-sample {
  margin-bottom: 3rem;
}

.blog-article {
  margin: 3% 0;
}

.blog-article > p {
  margin: 3% 0;
}
.blog-article > a {
  text-decoration: none;
  color: #225fc1;
}


/*Body-Left: Doggo grid*/

.clean-text {
  text-decoration: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
  margin-bottom: 10%;
}

.doggo-grid {
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
}
.doggo-grid > img {
  width: 100%;
  height: 100%;
}
.doggo-grid > h3 {
  color: #1c356d;
  font-size: 2em;
  padding: 0 3%;
}
.doggo-grid > p {
  line-height: 1.5;
  padding: 0 5%;
}
.doggo-grid > button {
  align-self: center;
  background-color: #81b741;
  color: #ffffff;
  padding: 5%;
  margin: 5% 0;
  width: 80%;
  border: 1em;
  border-radius: .2em;
  letter-spacing: .1em;
  font-size: 1em;
  font-weight: bold;
}

.more-dog {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.more-dog > *{
  text-decoration: none;
  color: #1c356d;
  background-color: #e8e8e8;
  font-weight: bold;
  padding: 1% 4%;
  border-radius: .3em;
}


/*Footer*/

.footer{
  background-color: #133e70;
  text-align: center;
  color: #ffffff;
  padding: 5%;
  margin-top: 10%;
}


.footer > p {
  padding: 2% 30%;
  text-align: center;
  line-height: 1.5;
}

.footer-navigation > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 0 1%;
}

.footer-navigation > a:first-child {
  padding: 0 1% 0 0;
}


#logo-footer {
  width: 30%;
}

/* Dog Page Stylings*/

#doggo {
  padding: 5% 12%;
  color: #1c356d;
}

.dog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  padding: 0 12% 10% 12%;
}

.dog-item {
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
}
.dog-item > img {
  width: 100%;
}
.dog-item > img:hover {
  cursor: pointer;
}
.dog-item > h3 {
  color: #1c356d;
  font-size: 2em;
  padding: 0 3%;
}
.dog-item > p {
  line-height: 1.5;
  padding: 5%;
}
.dog-item > button {
  align-self: center;
  background-color: #418c27;
  color: #ffffff;
  padding: 5%;
  margin: 5% 0;
  width: 70%;
  border-radius: .3em;
  letter-spacing: .1em;
  font-size: 1em;
  font-weight: bold;
}
.dog-item > button:hover {
  cursor: pointer;
}
.dog-item > button:focus {
  outline: none;
}

/* checkout Forms */

.form {
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  justify-content: space-between;
  padding: 2em;

}

.form > label {
  color: #003366;
}

.form > label, fieldset{
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.postal{
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  justify-content: space-between;
  padding: 2em;
  color: #003366;
}

.radio {
  border: 0;
  vertical-align: baseline;
  display: flex;
  flex-direction: row;

}

/* Checkout Info */

.adopted {
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  justify-content: space-around;
  padding: 2em;
  color: #003366;
}

.adopted > button {
  text-decoration: none;
  color: #ffffff;
  background-color: #4CAF50;
  align-self: flex-start;
  width: 10%;
}

.adopted-dog {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  justify-content: space-around;
  width: 50%;
}

.adopted-dog > img {
  width: 20%;
  height: 20%;
}

.dog-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2em;
}

.dog-info > p {
  color: grey;
}


/*Blog Stylings*/

.blog-body {
  padding: 1.5% 12% 0% 12%;
  margin: auto;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 25%);
  grid-gap: 3%;
  margin-bottom: 10%;
  align-content: center;
  color: #1c356d;
  }

.article > img {
  width: 100%;
  height: 100%;
}

.context {
  margin: 3% 0;
}

/*Media Styling*/
  /*Mobile Devices*/
@media screen and (max-width: 414px) {
  .dog-list, .grid, .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1%;
  }

  .header{
    display: block;
    float: none;
  }

  .main-right {
    display: none;
  }

  .footer > p {
    display: none;
  }

  .main-left {
    grid-column: 1 / 4;
  }

  .doggo-grid > img {
    width: 100%;
    height: 100%;
}

  /*Tablet Devices: Vertical*/
@media (min-width: 768px) and (orientation: portrait) {
  .dog-list, .grid, .main-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
  }

  .main-right {
    display: none;
  }

  .more-dog {
    margin-top: 30%;
  }

  .blog-post > img {
    margin-bottom: 5%;
  }
}
/*Tablet Devices: Horizontal*/
@media (min-width: 768px) and (orientation: landscape) {
.dog-list, .grid, .main-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1%;
}


.main-right {
  display: block;
  text-align: center;
  margin: 10%;
}

.more-dog {
  margin-top: 30%;
}

.blog-post > img {
  margin-bottom: 5%;
}
}
