* {
    font-size: 1.1rem;
    margin: 0;
    box-sizing: border-box;

}

.wrapper1 {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
}

.wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
}

header {
    background-image: url("../images/header-image.jpg");
    background-position: right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

header h1 {
    color: rgb(18, 146, 18);
    font-size: 1.25rem;
}

header p {
    color: white;
}

.header-left {
    padding-left: 4rem;
    padding-top: 1.25rem;

}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 4rem;
    padding-top: 2%;
    padding-bottom: 9rem;
}

.cart {
    width: 20%;
}

.pay {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: flex-end;
    align-content: center;
}

.pay p {
    margin-top: 2rem;
}

.pay img {
    margin-right: 1rem;
}

nav {
    background-color: lightgray;
}

nav a,
footer a {
    text-decoration: none;
    font-weight: bold;
}

nav li,
footer li {
    list-style-type: none;
    padding: 1rem;

}

nav ul,
footer ul {
    display: flex;
    flex-direction: row;

}

h2 {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


button {
    text-align: center;
    color: white;
    background-color: rgb(18, 146, 18);
    font-weight: bold;
}

.dogs button {
    display: block;
    margin: 1rem auto;
    width: 80%;
    border: solid 1px rgb(18, 146, 18);

}

.more-dogs {
    background-color: lightgrey;
    color: navy;
    font-weight: bold;
    border: solid 1px lightgrey;
    display: block;
    width: 30%;
    margin: 2rem auto 0 auto;
    padding-top: .5rem;
    padding-bottom: .5rem;


}

.submit button {
    color: navy;
    font-weight: bold;
    background-color: lightgrey;
    width: 10%;
}

.dogs img {
    width: 100%;
}

.dogs article {
    border: solid lightgrey;
}

.dogs h3,
.dogs h4,
.dogs p,
.dogs button {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.adopt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    padding-top: 3rem;
    width: 100%;
}

.adopt img {
    width: 100%;
}

.dogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 32%));
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    padding-bottom: 3rem;
}

.main-content {
    width: 70%;
}

@media screen and (max-width: 575px) {
    .main-content {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .dogs {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(0rem, 100%));
        overflow: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 1279px) {
    .dogs {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(0rem, 45%));
    }
}

.blog-preview {
    width: 20%;
    margin-left: 3rem;
}

.blog-preview img {
    width: 100%;
    margin-top: 2rem;
}

.blog-preview h2 {
    padding-top: 3rem;
    padding-bottom: 0rem;
}

.blog-preview h3 {
    margin-top: 2rem;
}

.blog-preview p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 575px) {
    .blog-preview {
        display: none;

    }
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 3rem;

}

.blog img {
    width: 75%;
    margin-right: 5rem;
}

.blog p {
    padding-bottom: 5%;
}

.blog h3 {
    padding-bottom: 3%;
}

fieldset {
    border: white;
}

.amount {
    font-size: .75rem;
}

.name {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10%;
    margin-bottom: 3rem;
}

.city-state {
    display: grid;
    grid-template-columns: 20% 15% 10%;
    grid-template-rows: auto;
    grid-row-gap: 10%;
    margin-bottom: 3rem;
}

.city-state input,
.city-state select {
    margin-top: 1rem;

}

.first-time {
    display: grid;
    grid-template-columns: 7% 7%;
    grid-template-rows: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.location {
    margin-bottom: 3rem;
}

.location select {
    margin-top: 1.5rem;
}

.adopting {
    width: 55%;
    display: grid;
    grid-template-columns: 10% 25% 10% 25%;
    grid-template-rows: auto;
    margin-bottom: 3rem;

}

.adopting img {
    width: 85%;
}

.adopt-label {
    margin-bottom: 1.5rem;
}

.total {
    margin-bottom: 3rem;
}

.total p {
    margin-top: 1.5rem;
    font-size: 1rem;

}

label,
fieldset {
    font-weight: bold;
}

fieldset label {
    font-weight: normal;
}

input,
fieldset {
    margin-top: 1.5rem;
}

label,
input,
select {
    display: block;
}

footer {
    background-color: Navy;
    color: white;
    text-align: center;
    padding-bottom: 2.5rem;
    margin-top: 6rem;
}

footer img {
    width: 25%;
    padding-top: 2.5rem;

}

footer a {
    color: white;
}

footer div {
    text-align: center;

}

footer ul {
    display: inline-block;
    text-align: center;
    width: 100%;
}

footer li {
    display: inline-block;
}