body {

  margin:0;

}

div {
  /*
  min-height: 1000px;
  margin-bottom: 100px;
  */
}

header {
  background-color: #2c9ab7;
  background: #000000 url(../images/header-image.jpg) 100% 25% no-repeat;
  margin:0;
  padding:200px;
}

footer {

 right: 0;
 bottom: 0;
 left: 0;
 padding-top: 50px;
 padding-bottom:50px;
 background-color: midnightblue;
 text-align: center;
}

section {

  margin-left:255px;
  margin-right:255px;
  margin-top: 50px;
  margin-bottom:50px;
}

.mainimage {
  float:left;
  padding-right:50px;
}
.dogimage {
  width:100%
}
.clearfix {
  overflow: auto;
}
.mainp {

}
.mainh1 {

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.flex-container {
  display: flex;
  justify-content: center;

}

.headerp {
  margin-top: .2rem;
  margin-bottom: 0;
  color: green;
  padding: 0;
  font-size:25px;
  font-style: italic;

}




























.boldp {
  margin-right:50px;
  margin-top: .2rem;
  margin-bottom: 0;
  margin-left: 50px;
  color: #2c9ab7;
  padding-left:50px;
  padding-right:50px;
  padding-top:25px;
  padding-bottom:5px;
  font-weight: bold;
}

.bolditalicp {
  margin-right:0px;
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 0px;
  color: #2c9ab7;
  padding-left:100px;
  padding-right:0px;
  padding-top:0px;
  padding-bottom:0px;
  font-weight: bold;
  font-style:italic;
}

.regularp {
  margin-right:50px;
  margin-top: .1rem;
  margin-bottom: 0;
  margin-left: 50px;
  color: black;
  padding-left:50px;
  padding-right:50px;
  padding-top:10px;
  padding-bottom:10px;
}

.sidebarh3 {
  margin-right:0;
  margin-top: .2rem;
  margin-bottom: 0;
  margin-left: 0px;
  color: black;
  padding-left:0px;
  padding-right:50px;
  padding-top:10px;
  padding-bottom:5px;

}

.footerp {
  margin-right:100px;
  margin-left:100px;
  margin-top:2px;
  margin-bottom:50px;
  color:white;
  padding:0;
}

.sectionh3 {
  margin-right:0;
  margin-top: .2rem;
  margin-bottom: 0;
  margin-left: 50px;
  color: black;
  padding-left:50px;
  padding-right:50px;
  padding-top:25px;
  padding-bottom:5px;

}
.navlist {
  margin-right:0;
  margin-top:0;
  margin-bottom: 0;
  padding-left: 250px;
  background-color:#ebebeb;
}


aside {
  float: right;
  width: 30%;
}
/*
section {
  float: left;
  width: 63%;
}
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 	#BEBEBE;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
a {
  padding-bottom: 14px;
  color: #2c9ab7;
  text-decoration: none;
}
