* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
/* ************************************************ */

/* all pages header and logo */

/* ************************************************************* */
/* index page */

.parent {
  display: grid;
  grid-template-columns: 0.05fr 2fr 1fr 1fr 2fr;
  grid-template-rows: auto auto 0.05fr 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 6;
}
nav {
  grid-area: 2 / 1 / 3 / 6;
}
aside {
  grid-area: 3 / 5 / 5 / 6;
  padding: 1rem;
}
footer {
  grid-area: 5 / 1 / 6 / 7;
}
article {
  grid-area: 3 / 1 / 5 / 5;
}

/* **************************************************** */
/* header styles */

header {
display: grid;
max-height: 50rem;
height: 500px;
background-image: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0.52),
    rgba(243, 156, 74, 0.73)
  ),
  url('../images/header-small.jpg');
background-position: top; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}

header h1 {
  display: grid;
  color: #81b741;
  margin-left: 3rem;
  font-style: italic;
  font-size: 1.5em;
  width: 50%;
}

.logo {
  width: 25%;
  margin-top: 6rem;
  margin-left: 3rem;
}

header p {
  float: right;
  color: white;
  margin-top: -8rem;
  padding-right: 5rem;
}

.cart {
  width: 2rem;
  float: right;
  margin-top: -8.5rem;
  padding-right: 10rem;
}

.button {
  float: right;
  margin-top: -5.5rem;
  margin-right: 4.8rem;
  background-color: #81b741;
  color: white;
  width: 13%;
  height: 2.4rem;
  border-radius: 4px;
  text-decoration: none;
}

.fcc-btn2 {
  background-color: #ccc;
  width: 40%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  color: #093c60;
  font-size: 1.5em;
  line-height: 3rem;
  padding: 0.5rem 4rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  margin-left: 30%;
}

/* ********************************************************** */
/* navigation styles */

nav {
  display: grid;
  background-color: #ccc;
  min-height: 5rem;
  line-height: 5.5rem;
}

nav ul {
  margin-left: 15rem;
}
nav li {
  display: inline;
  font-size: 1.5em;
}

nav li a {
  color: #093c60;
  text-decoration: none;
}

/* ****************************************** */
/* aside styles */
aside {
  display: grid;
  background-color: white;
  margin-right: 10rem;
  max-height: 50rem;
}

aside h1 {
  color: #093c60;
  padding-bottom: 1rem;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}

aside img {
  max-width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside h4 {
  color: #093c60;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5em;
}

aside p {
  color: #093c60;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1em;
}

/* ************************************************ */
/* article */

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr 0.05fr;
  grid-template-areas:
    'content1 content1 content1'
    'content3 content3 content3'
    'content4 content5 content6'
    'content7 content8 content9'
    'content10 content10 content10';
  margin-left: 15rem;
  margin-right: 5rem;
  gap: 15px;
}

.content1 {
  display: grid;
  grid-area: content1;
}

.content1 img {
  max-width: 100%;
  height: auto;
}

.content3 {
  display: grid;
  grid-area: content3;
  max-height: 5rem;
}

.content3 h1 {
  color: #093c60;
  margin-top: 1rem;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}

.content3 p {
  color: #093c60;
  margin-top: 1rem;
}

.content4 {
  display: grid;
  grid-area: content4;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

.content4 img {
  max-width: 100%;
  height: auto;
}

.content4 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content4 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content4 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
}

/* content 5 */
.content5 {
  display: grid;
  grid-area: content5;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content5 img {
  max-width: 100%;
  height: auto;
}

.content5 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content5 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content5 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
}

/* content 6 */
.content6 {
  display: grid;
  grid-area: content6;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content6 img {
  max-width: 100%;
  height: auto;
}

.content6 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content6 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content6 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
}

/* content 6 */
.content7 {
  display: grid;
  grid-area: content7;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content7 img {
  max-width: 100%;
  height: auto;
}

.content7 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content7 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content7 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
}

/* content 6 */
.content8 {
  display: grid;
  grid-area: content8;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content8 img {
  max-width: 100%;
  height: auto;
}

.content8 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content8 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content8 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
}

/* content 9 */
.content9 {
  display: grid;
  grid-area: content9;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  /* width: 33%; */
}

.content9 img {
  max-width: 100%;
  height: auto;
}

.content9 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.content9 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content9 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
}

.content10 {
  display: grid;
  grid-area: content10;
}

.content10 a {
  color: #093c60;
  text-decoration: none;
}

.content10 button {
  background-color: rgb(177, 175, 175);
  color: #093c60;
  width: 50%;
  height: 2.5rem;
  margin-left: 12rem;
  font-size: 1.5em;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* ********************************************************** */

/* dogs page */


.container4 {
  display: grid;
  grid-template-columns:
    0.5fr minmax(0, 0.6fr) minmax(0, 0.6fr) minmax(0, 0.6fr)
    minmax(0, 0.6fr) 0.5fr;
  grid-template-rows: minmax(0, 40%) minmax(0, 40%) minmax(0, 40%);
  grid-template-areas:
    'sidebar1 content4 content5 content6 content7 sidebar2'
    'sidebar1 content8 content9 content10 content11 sidebar2'
    'sidebar1 content13 content14 content15 content16 sidebar2'
    'footer footer footer footer footer footer ';
  grid-gap: 2rem;
}

#content4,
#content5,
#content6,
#content7,
#content8,
#content9,
#content10,
#content11,
button a {
  color: white;
  text-decoration: none;
}

#content4,
#content5,
#content6,
#content7,
#content8,
#content9,
#content10,
#content11,
button a:hover {
  color: #093c60;
  text-decoration: none;
}

#content1 {
  background-color: white;
  grid-area: content1;
  grid-column: 2 / 4;
}

#content1 h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 14rem;
  color: #093c60;
}

#content1 img {
  padding-top: 2rem;
  max-width: 100%;
  height: auto;
}
#content4 {
  grid-area: content4;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
  width: 100%;
}

#content4 img {
  max-width: 100%;
  height: auto;
}

#content4 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content4 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content4 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 5 */
#content5 {
  grid-area: content5;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content5 img {
  max-width: 100%;
  height: auto;
}

#content5 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content5 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content5 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 6 */
#content6 {
  grid-area: content6;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content6 img {
  max-width: 100%;
  height: auto;
}

#content6 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content6 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content6 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 7 */
#content7 {
  grid-area: content7;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content7 img {
  max-width: 100%;
  height: auto;
}

#content7 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content7 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content7 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 8 */
#content8 {
  grid-area: content8;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content8 img {
  max-width: 100%;
  height: auto;
}

#content8 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content8 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content8 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 9 */
#content9 {
  grid-area: content9;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content9 img {
  max-width: 100%;
  height: auto;
}

#content9 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content9 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content9 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 10 */
#content10 {
  grid-area: content10;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content10 img {
  max-width: 100%;
  height: auto;
}

#content10 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content10 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content10 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}
/* content 11 */
#content11 {
  grid-area: content11;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content11 img {
  max-width: 100%;
  height: auto;
}

#content11 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content11 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content11 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 12 */
#content12 {
  grid-area: content12;
  grid-column: 2 / 6;
  grid-row: 3;
  display: flex;
  justify-content: center;
}

#content12 button {
  background-color: #ccc;
  color: #093c60;
  width: 30%;
  height: 3rem;
  font-size: 1.5em;
  border: none;
  text-align: center;
  margin-bottom: 1rem;
}

#content12 button a {
  color: #093c60;
  text-decoration: none;
}
/* content 13 */
#content13 {
  grid-area: content13;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content13 img {
  max-width: 100%;
  height: auto;
}

#content13 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content13 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content13 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 14 */
#content14 {
  grid-area: content14;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content14 img {
  max-width: 100%;
  height: auto;
}

#content14 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content14 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content14 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 15 */
#content15 {
  grid-area: content15;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content15 img {
  max-width: 100%;
  height: auto;
}

#content15 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content15 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content15 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* content 16 */
#content16 {
  grid-area: content16;
  border: #a7a7a7 solid 0.5px;
  border-radius: 5px;
}

#content16 img {
  max-width: 100%;
  height: auto;
}

#content16 h2 {
  font-size: 1.5em;
  color: #093c60;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#content16 p {
  font-size: 1em;
  color: #3d3d3d;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#content16 button {
  background-color: #81b741;
  color: black;
  width: 80%;
  height: 2.5rem;
  margin-left: 1.7rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

/* ********************************************************** */

/* Blog Page */

.container5{
  display: grid;
  height: 100vh;
  grid-template-columns:  minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(
    0,
    25rem
  );
  grid-template-areas:
    
    'sidebar1 content19 content20 sidebar2'
    'sidebar1 content21 content22 sidebar2'
    'footer footer footer footer  ';
  gap: 4rem;
  margin-left: 2rem;
}


 
#content17 {
  display: grid;
  grid-area: content17;
  border: red solid 1px;
}

#content17 img {
  max-width: 100%;
  height: auto;
}

  
#content18 {
  display: grid;
  grid-area: content18;
}

#content18 h1 {
  color: #093c60;
}

#content18 h2 {
  color: #093c60;
}

#content18 h4 {
  color: black;
  margin-top: 0.5rem;
  padding-top: 1rem;
  font-weight: 200;
}

#content18 h3 {
  color: #093c60;
}

#content18 p {
  color: black;
  margin-top: 0.5rem;
  padding-top: 1rem;
  font-weight: 200;
}






/* content19 BLOG */
#content19 {
  display: grid;
  grid-area: content19;
}

#content19 img {
  max-width: 100%;
  height: auto;
}

/* content 18 BLOG */
#content20 {
  display: grid;
  grid-area: content20;
}

#content20 h1 {
  color: #093c60;
}

#content20 h4 {
  color: black;
  margin-top: 0.5rem;
  padding-top: 1rem;
  font-weight: 200;
}

/* content21 BLOG */
#content21 {
  display: grid;
  grid-area: content21;
}

#content21 img {
  max-width: 100%;
  height: auto;
}

/* content 22 BLOG */
#content22 {
  display: grid;
  grid-area: content22;
}

#content22 h1 {
  color: #093c60;
}

#content22 h4 {
  color: black;
  margin-top: 0.5rem;
  padding-top: 1rem;
  font-weight: 200;
}

/* dynamic blog page */

main {
  display:grid;
  grid-template-columns:  minmax(0, 1fr) minmax(0, 2fr);
  grid-template-areas:"blogimage bloglabel";
  margin-left: 15rem;
  margin-right: 10rem;

}

.photo {
  background-color: #81b741;
}

.blogimage {
  max-width: 100%;
  height: auto;
 

}

.bloglabel {
  margin-bottom:3rem;
  margin-right: 5rem;
  margin-left:1rem;
 
}

.bloglabel h3{
  color: #093c60;
  font-size: 1.5em;
  margin-left:2rem;

}

.bloglabel p {
  color: black;
  padding-top: 1rem;
  font-size:1.1em;
  font-weight: 200;
  margin-left:2rem;
  
}



/* Contact page  */

.container22 {
  display: grid;
  height: 200vh;
  grid-template-columns: 0.3fr minmax(0, 1.5fr) 1fr;
  grid-template-rows: minmax(0, 10rem);
  grid-template-areas: 'sidebar1 content23 sidebar2';
  gap: 1rem;
  padding-left: 3.8rem;
  margin-right: 10rem;
}



#content23 {
  display: grid;
  grid-area: content23;
}

#content23 h1 {
  padding-left: 2rem;
  color: #093c60;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

#content23 h4 {
  padding-left: 2rem;
  padding-top: 3rem;
  color: #093c60;
  padding-bottom: 1rem;
  font-size: 1em;
  font-weight: 700;
}

#content23 p {
  padding-left: 2rem;
  padding-top: 1rem;
  color: #093c60;
  padding-bottom: 1rem;
  font-size: 1em;
}

#content23 .rside p {
  padding-left: .5rem;
  padding-top: 0.5rem;
  padding-right:1rem;
  font-size: .8em;
}

#content23 .rside2 p {
  padding-left: .5rem;
  padding-top: 0.5rem;
  padding-right:1rem;
  font-size: .8em;
}

#content23 .total {
  padding-left: 2rem;
  padding-top: 0.5rem;
  /* padding-right:1rem; */
  font-size: 1em;
  font-weight: 700;
}


/* form{
margin-left:2rem;
} */

input {
  width: 100%;
  padding: 0.8rem 1.5rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#state {
  width: 100%;
  padding: 0.8rem 4rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
 
}

label {
  margin-left: 2rem;
  color: #093c60;
  font-size: 1em;
}

select {
  margin-left: 2rem;
}

.submit {
  background-color: #81b741;
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  color: #093c60;
  font-size: 1.5em;
  line-height: 1rem;
  padding: 0.5rem 4rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  margin-left: 2rem;
}


.button-form {
  background-color: #81b741;
  width: 25%;
  height: 5%;
  margin-left: 4rem;
  color: white;
  font-size: 1.5em;
  border-radius: 2px;
  border: none;
  text-align: center;
}

.radio {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
}

.radio p {
  padding-left: 4rem;
  padding-top: 3rem;
  color: #093c60;
  padding-bottom: 1rem;
}

.pickup {
  margin-left: 2rem;
  font-size: 1em;
}

.location {
  padding: 0.8rem 1.2rem;
  margin-left: 2rem;
  width: 50%;
}

.divide {
  display: grid;
  grid-template-columns:
    minmax(9.5rem, 9.8rem) minmax(5rem, 5.5rem) minmax(7rem, 7.5rem)
    minmax(5rem, 5.5rem);
  grid-template-areas: 'img1 content1 img2 content2';
  /* margin-left:4rem; */
}

.lside {
  display: inline;
  grid-area: img1;
  margin-left: 2rem;
  justify-items: end;
}

.lside img {
  width: 100%;
  height:auto;
}


.lside2 {
  display: grid;
  grid-area: img2;
  justify-items: end;
}

.lside2 img {
  width: 100%;
  height:auto;
}

.rside2 {
  display: grid;
  grid-area: content2;
  margin-left: 0;
}





/* ************************************************ */
/* footer */

footer {
  display: grid;
  width: 100%;
  height: 25rem;
  background-color: #093c60;
}

footer h5 {
  text-align: center;
  color: white;
  font-size: 1em;
}

footer img {
  padding-top: 2rem;
  max-width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer ul {
  text-align: center;
  color: white;
}

footer li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  color: white;
}

footer li a {
  color: white;
  text-decoration: none;
  text-align: center;
}

footer li a:hover {
  color: #0096d6;
}

footer p {
  color: white;
  text-align: center;
}

/* two col. */
/* index page */
/* On screens that are 600px or less, hid the blog previews */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.8fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      'content1 content1'
      'content3 content3'
      'content4 content5'
      'content6 content7'
      'content8 content9'
      'content10 content10';
    margin-left: 2rem;
    margin-right: 6rem;
  }
  aside {
    margin-left: auto;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content1,
  .content3,
  .content4,
  .content5,
  .content6,
  .content7,
  .content8,
  .content9 {
    width: 100%;
    margin-right: auto;
  }
  .content1 img {
    width: 100%;
  }

  .fcc-btn2 {
    margin-left: 15%;
    padding: 0.5rem 3rem;
  }
}

/* single col. */
/* index page */

/* On screens that are 600px or less, hid the blog previews */

@media screen and (min-width: 300px) and (max-width: 767px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 0.05fr 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-areas:
      'header'
      'nav'
      'aside'
      'article'
      'footer';
  }

  aside {
    display: none;
  }
}

/* On screens that are 600px or less, display dogs in single column */
@media screen and (min-width: 300px) and (max-width: 767px) {
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.05fr;
    grid-template-areas:
      'content1'
      'content3'
      'content4'
      'content5'
      'content6'
      'content7'
      'content8 '
      'content9'
      'content10';
    gap: 1rem;
    padding: 1rem;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* On screens that are 600px or less */

@media screen and (min-width: 300px) and (max-width: 767px) {
  header h1 {
    margin-left: 1rem;
  }
  .logo {
    margin-left: 1rem;
    width: 25%;
  }
  header p {
    padding-right: 1rem;
  }
  .cart {
    padding-right: 6rem;
  }
  header .button {
    margin-right: 1.5rem;
    width: 30%;
  }
  nav ul {
    margin-left: 5rem;
  }

  #content1  h1{
    margin-left:2rem;
    margin-right:4rem;
   }

  .content3 h1 {
    margin-left: 1rem;
  }
  .content3 p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .content10 button {
    margin-left: 25%;
    font-size: 1em;
  }

  footer h5 {
    margin-left: 1rem;
  }

  .fcc-btn2 {
    margin-left: 23%;
    padding: 0.5rem 3rem;
    font-size: 1em;
  }
}

/* dogs two column media query */

@media screen and (min-width: 768px) and (max-width: 1024px){
.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    'content4 content5'
    'content6 content7'
    'content8 content9'
    'content10 content11'
    'content13 content14'
    'content15 content16';
    margin-left: 0px;
    margin-right: 0px;
}
#sidebar1,
#sidebar2 {
  display: none;
}
#content1 h1 {
  margin-left:2rem;
}
}

/* dogs single column */

@media screen and (min-width: 300px) and (max-width: 767px) {
  .container4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      'content4'
      'content5'
      'content6'
      'content7'
      'content8'
      'content9'
      'content10'
      'content11'
      'content13'
      'content14'
      'content15'
      'content16';
      margin-left: 0px;
      margin-right: 0px;
  }
  #sidebar1,
  #sidebar2 {
    display: none;
  }
}

/* blog media query */


@media screen and (min-width: 300px) and (max-width: 1250px) {
  main {
      display:grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      'blogimage'
      'bloglabel'
      'bloglabel2';
      margin-left: 0px;
      margin-right: 0px;
}


  .blogimage {
  max-width: 100%;
  height: auto; 
  margin-left: 0px;
  margin-right: 0px;
  }

  .photo {
    max-width: 100%;
    height: auto;
    margin-right:3rem;
    margin-left: 3rem;
  } 

  .bloglabel h3 {
  margin-left:3rem;
  }

  .bloglabel p {
    width:100%;
    margin-right:3rem;
    margin-left: 2.5rem;
  }
}

/* contact media query */

@media screen and (min-width:300px) and (max-width: 767px) {

   .container22 {
     display: grid;
     height: 300vh;
     grid-template-columns:  1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas:
     'sidebar1'
     'content23'
     'sidebar2';
     padding-left: 0.8rem;
     margin-right:8rem;


  }
    #content23 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  }
    #content23 h1 {
      padding-left: 0.5rem;
      color: #093c60;
      padding-bottom: 1rem;
      padding-top: 1rem;
   }
    #content23 h4 {
      padding-left: 0.5rem;
      padding-top: 3rem;
      color: #093c60;
      padding-bottom: 1rem;
   }
   #content23 p {
    padding-left: 0.5rem;
    padding-top: 3rem;
    color: #093c60;
    padding-bottom: 1rem;
  }

  input {
    width: 100%;
    padding: 0.8rem 2rem;
    margin-left:1rem;
    /* margin-right:2rem; */
    margin-bottom:2rem;
  
  }

  label {
    width: 100%;
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:2rem;
  
  }

 
  .divide {
    display:inline;
    margin-left:0px;
    margin-right:0px;
    height: auto;
  }

  .lside {
    display:grid;
    margin-left:2rem;
  }

  .lside2 {
    display:grid;
    margin-left:2rem;
  }


  .location {
    padding: 0.5rem 0.5rem;
    margin-top:1rem;
  }
  
  .radio p {
    padding-left: 4rem;
    padding-top: 1rem;
    color: #093c60;
    padding-bottom: 4rem;
  }

form, label, select, .button-form,.radio,  .pickup, .location {
    width:100%;
    margin-left:0px;
 
  }



  
}