body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

h1, h2, label{
    font-family: 'Neuton', serif;
    color: #113c60;
}

h1 {
    font-size: 2em;
}

p, a{
    font-family: 'Work+Sans', sans-serif;
}

.header-logo-checkout-overlay {
    background-color: #000000;
    background-image: url("../images/header-image.jpg");
    background-image: url("../images/header-image.jpg"), linear-gradient(#ffffff, #000000);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 500px) {
    .header-logo-checkout-overlay {
        display: flex;
        flex-direction: column;
    }
    .header-logo-wrapper {
        display: flex;
        flex-direction: column;
    }
    .header-checkout-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    .header-checkout-icon {
        display: none;
    }
    .header-checkout-cart {
        display: none;
    }
    .header-checkout-link {
        background-color: #86b349;
        border-radius: 3px;
        padding: 0.5rem 3rem;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        place-self: center;
        text-decoration: none;
        color: #ffffff;
        margin: 1em 0em;
    }
}

@media screen and (min-width: 500px) {
    .header-logo-checkout-overlay {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header-logo-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 10em;
        margin-left: 5em;
    }
    .header-checkout-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 2em 3em;
        margin-right: 5em;
        margin-top: 3em;
        margin-bottom: 10em;
    }
    .header-checkout-icon {
        width: 1.5em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: end;
        align-self: end;
    }
    .header-checkout-cart {
        color: #ffffff;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: end;
        align-self: baseline;
    }
    .header-checkout-link {
        background-color: #86b349;
        border-radius: 3px;
        padding: .5rem 3rem;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        place-self: center;
        text-decoration: none;
        color: #ffffff;
    }
}


.header-logo-heading {
    color: #86b349;
    font-family: serif;
    font-style: italic;
    font-weight: normal;
}

.header-nav{
    background-color: #dad8d2;
    color: #113c60;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0% 15%;
}

.header-nav > a {
    text-decoration: none;
    color: #113c60;
    padding: 1em;
}

.header-nav > span {
    padding: 1em 0.5em;
}

main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

@media screen and (max-width: 500px) {
    .homepage-grid {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 500px) {
    .homepage-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0% 15%;
        column-gap: 2em;
    }
}

.homepage-grid-left {
    text-align: center;
}

.homepage-hero {
    font-size: large;
    margin: 1em;
    text-align: start;
    max-width: 100%;
    height: auto;
}

.homepage-hero > img {
    width: 100%;
}

.main-heading {
    margin: 0% 15%;
}

.main-heading > h1 {
    margin: 1rem;
}


.homepage-intro {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.homepage-intro img {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .dog-card-display, .dog-card-display-full {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        margin-bottom: 3em;
    }
}

@media screen and (min-width: 500px) and (max-width: 1068px) {
    .dog-card-display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        margin-bottom: 3em;

    }
    .dog-card-display-full {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        margin: 0% 15%;

    }
}

@media screen and (min-width: 1068px) {
    .dog-card-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        margin-bottom: 3em;

    }
    .dog-card-display-full {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        margin: 0% 15%;

    }
}

.dog-card-bold {
    font-weight:bold;
}

.dog-card {
    max-width: 100%;
    margin: 1em;
    border-style: solid;
    border-color: #dad8d2;
    border-width: 1px;
    font-size: small;
}

.dog-card > h2{
    margin: 0rem 1rem;
}

.dog-card > p {
    margin: 0.5rem 1rem;
}

.dog-card a {
    display: block;
    text-align: center;
    margin: 1rem;
    padding: .5em;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #86b349;
}

.dog-card-image {
    max-width: 100%;
    height: auto;
}

.dog-card-bold {
    font-weight: bold;
    margin-right: 0.25em;
}

.see-more-button {
    text-align: center;
    text-decoration: none;
    background-color: #dad8d2;
    color: #113c60;
    font-weight: bold;
    font-size: large;
    padding: 1rem 4rem;
    border-radius: 3px;
}

@media screen and (max-width: 500px) {
    .blog-post-previews {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .blog-post-previews {
        grid-column-start: 2;
    }
}

@media screen and (max-width: 500px) {
    .blog-post {
        display: flex;
        flex-direction: column;
    }

    .blog-post-text {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
}

@media screen and (min-width: 500px) {
    .blog-post {
        font-size: larger;
        display: flex;
        flex-direction: row;
        margin: 0% 15%;
        padding: 1em;
    }

    .blog-post-text {
        padding: 0em 1em;
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }
}

.blog-post-text > h2 {
    font-size: 1.5em;
    margin: 1em 0px 0px 0px;
}

.blog-post-text > p {
    line-height: 110%;
}

.blog-post-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.blog-preview {
    margin-bottom: 2em;
}

footer {
    background-color: #113c60;
}

@media screen and (max-width: 500px) {
        
    .footer-content-container {
        max-width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .footer-content-container {
        max-width: 30%;
    }
}

.footer-content-container {
    padding: 3em 2em;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-nav > span {
    padding: 1em 1em;
}

.footer-nav > a {
    text-decoration: none;
    color: #ffffff;
    padding: 1em;
}

.dog-checkout-card {
    width: 100%;
    font-size: small;
}

.dog-checkout-image {
    height: 25%;
    width: 25%;
}

@media screen and (min-width: 500px) {
    form {
        display: flex;
        flex-flow: row wrap;
        margin: 0% 15%;
        padding: 1em;
        max-width: 40%;
    }
    .form-item {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
    button {
        font-family: inherit;
        font-size: large;
        font-weight: bold;
        width: 12rem;
        background-color: #86b349;
        border-radius: 3px;
        color: #ffffff;
        border: none;
        padding: 0.5rem 3rem;
    }
    label {
        font-size: 1.5rem;
    }
    input {
        height: 1.5rem;
    }
    select, option {
        height: 28px;
        padding: 1px;
        break-inside: auto;
        box-sizing: content-box;
        border-style: solid;
        border-radius: 0px;
        background-color: #ffffff;
        border-width: 1px;
        border-color: rgb(192, 192, 192);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .form-horizontal-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .radio-label {
        margin-right: 1rem;
        font-size: 1rem;
        font-family: 'Work+Sans', sans-serif;
        color: #000000;
        align-self: center;
    }

    #name {
        width: 29rem;
    }

    #email {
        width: 29rem;
    }

    #street {
        width: 29rem;
    }

    #state {
        width: 100%;
    }

    #city {
        width: 100%;
    }

    #adopter-yes {
        width: 1rem;
        align-self: center;
    }

    #adopter-no {
        width: 1rem;
        align-self: center;
    }

    #adopter-container {
        width: 29rem;
    }

    #pickup {
        width: 12rem;
    }

    #zip {
        width: 100%;
        flex-grow: 1;
    }
}

.dog-checkout-description {
    display: flex;
    flex-direction: column;
}

.dog-checkout-description > p {
    margin: 0.5rem 1rem;
}

.dog-checkout-description > h2 {
    margin: 0rem 1rem;
}

@media screen and (max-width: 500px) {
    #name {
        max-width: 100%;
    }
    
    #email {
        max-width: 100%;
    }
    
    #street {
        max-width: 100%;
    }
    
    #state {
        max-width: 100%;
    }
    
    #city {
        max-width: 100%;
    }
    
    #adopter-yes {
        width: 1rem;
        align-self: center;
    }
    
    #adopter-no {
        width: 1rem;
        align-self: center;
    }
    
    #adopter-container {
        max-width: 100%;
    }
    
    #pickup {
        max-width: 100%;
    }
    
    #zip {
        width: 100%;
        flex-grow: 1;
    }
}
