* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* all pages header */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    background-color: #093c60;
    padding: 3rem 10rem;
}

.header-container p {
    color: #81b741;
    font-size: 190%;
}

.header-container img {
    max-width: 100%;
    min-width: 15em;
    height: auto;
}

/* all pages top right header cart */

.cart-button {
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding-bottom: 10%;
}

.cart-button-box {
    display: flex;
    justify-content: right;
}

.cart-button span {
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cart-button input {
    background-color: #81b741;
    border: none;
    padding: 10px 50px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

/* all pages main nav bar */

.nav-container {
    background-color: #ececec;
    width: 100vw;
    height: 5rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 2rem 10rem;
}

nav li {
    padding: 0px 8px;
}

nav a {
    color: #093c60;
    text-decoration: none;
    font-weight: bold;
    font-size: 112%;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

/* home blog preview */

.main-container {
    display: flex;
}

.blog-preview-container {
    width: 30%;
    min-width: 200px;
    padding: 2% 1% 0% 10px;
}

.blog-preview-image img{
    width: 100%;
    min-width: 250px;
}

.blog-preview-container h1 {
    color: #093c60;
    font-size: 200%;
}

.blog-preview-section {
    padding: 5% 0%;
    width: 70%;
}

.blog-preview-section h2 {
    color: #093c60;
    font-size: 120%;
    padding: 2% 0%;
}

.blog-preview-section p {
    width: 95%;
    min-width: 250px;
    padding-bottom: 5%;
}

.blog-preview-section a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(100,149,237);
}

/* both index and blog */

.main-section {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 2rem 2rem 10rem;
}

/* index main section */

.main-section-container {
    width: 70%;
    padding-right: 1%;
}

.main-section-container section:first-child {
    min-width: 800px;
}

.section-image-box {
    width: 100%;
}

.section-image-box img {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.section-content-box {
    width: 100%;
    padding: 4% 0% 4% 0%;
}

.section-content-box p {
    padding-top: 1rem;
    font-size: 120%;
    font-family: 'Noto Sans Buhid', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-content-box h1 {
    color: #093c60;
    font-size: 200%;
}

/* Blog page section */

.blog-section-content {
    width: 600px;
    padding: 0% 0% 0% 4%;
}

.blog-section-content h1 {
    color: #093c60;
    font-size: 150%;
    padding-bottom: 2%;
}

.blog-section-content p {
    font-size: 95%;
    font-weight: 100;
    line-height: 1.5;
}

/* all section header */

.section-header h1 {
    padding: 3% 12% 1%;
    color: #093c60;
    font-size: 190%;
}

/* all dog listings */

.dog-house-container {
    position: relative;
    width: 100%;
    min-width: 800px;
    padding: 0rem  0rem 0rem 10rem;

}

.dog-box {
    width: 100%;
    min-width: 5px;
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: auto auto auto;
    padding: 0rem 0rem;
}

.dog-house {
    width: 85%;
    height: 96%;
    border: 2px solid #ececec;
    margin: 24px 7px;
}

.dog-house img {
    width: 100%;
    height: 40%;
    min-width: 150px;
}

.dog-house-details {
    padding: 6px 10px;
}

.dog-house-details h2 {
    color: #093c60;
    font-weight: 700;
}

.dog-house-details p {
    padding: 4% 0%;
    font-size: 90%;
}

.dog-house-details h2 {
    color: #093c60;
    font-weight: 700;
}

.dog-house-details p {
    padding: 4% 0%;
    font-size: 90%;
}

.dog-house-details p:nth-child(3){
    font-family: 'Noto Sans Buhid', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 85%;
    font-weight: 100;
}

.dog-house-details > * {
    padding-top: 7px;
}

.dog-house-details button {
    background-color: #81b741;
    color: white;
    margin: 4px 0px;
    padding: 5% 37%;
    border: none;
    border-radius: 3%;
    font-weight: bold;
    font-size: 100%;
}

.dog-house-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.dog-house-button button {
    background-color: #ececec;
    color: #093c60;
    font-weight: 600;
    font-size: 120%;
    padding: 12px 46px;
    border: none;
}

.dog-house-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* checkout page form */

form {
    padding-top: 0;
    margin-top: 0;
}

.form-container {
    width: 40%;
    min-width: 350px;
    margin: 3rem 50rem 3rem 10rem;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

.form-address {
    margin-top: 5%;
    display: flex;
    width: 100%;
}

.form-address input {
    border: 1px solid #d8d8d8;
    padding: 3%;
    margin-top: 2%;
}

.form-state {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 20%;
}

#state {
    border: 1px solid #d8d8d8;
    padding: 12%;
    margin-top: 4%;
    margin-right: 10%;
}

.form-city {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#city {
    margin-right: 10%;
    padding: 6%;
}

.form-zip {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 2%;
}

#zip {
    padding: 6%;
}

#select {
    border: 1px solid #d8d8d8;
    padding: 3%;
    margin-top: 2%;
    width: 60%;
}

.form-dog-container {
    display: flex;
    margin-top: 5%;
}

.form-dog {
    display: flex;
    width: 50%;
}

.form-dog-details {
    margin-left: 5%;
    width: 100%;
}

.form-dog-details h2 {
    font-size: 120%;
}

.form-dog-details p {
    font-size: 100%;
}

form label {
    margin-top: 5%;
    color: #093c60;
    font-size: 150%;
    font-weight: 550;
}

form input {
    border: 1px solid #d8d8d8;
    padding: 3%;
    margin-top: 2%;
}

form h2 {
    margin-top: 5%;
    color: #093c60;
    font-size: 150%;
    font-weight: 550;
}

form #submit {
    margin-top: 5%;
    background-color: #81b741;
    color: white;
    font-size: 110%;
    font-weight: 700;
    border: none;
    border-radius: 5%;
    width: 50%;
    padding: 3%;
}

fieldset {
    margin-top: 5%;
    padding: 1%;
    border: none;
}

fieldset legend {
    color: #093c60;
    font-size: 150%;
    font-weight: 550;
}

fieldset label {
    color: black;
    font-weight: lighter;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 3%;
}

.dog-checkout-total {
    margin-top: 5%; 
}

.dog-checkout-total p {
    padding-top: 2%;
    font-size: 120%;
    font-family: 'Noto Sans Buhid', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}

/* all pages footer */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    padding: 3% 0% 5% 0%;
}

.footer-box {
    align-items: center;
    width: 29%;
    color: white;
}

.footer-box a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer-box p {
    text-align: center;
    font-size: 90%;
    font-family: 'Noto Sans Buhid', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 320;
}

.footer-box img {
    display: block;
    margin: auto;
    max-width: 80%;
    min-width: 12em;
    height: auto;
}

.footer-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box > * {
    padding-top: 3%;
}

@media only screen and (max-device-width: 1190px){
    html {
        width: 110%;
    }

    .nav-container {
        width: 100%;
    }
    
    .dog-house-container {
        grid-column: 1/2;
        grid-template-columns: auto auto;
        padding: 0 0 0 5%;
        margin: 0;
        min-width: none;
    }

    .blog-preview-container {
        min-width: none;
        margin-left: 25px;
    }

    .blog-preview-image img {
        width: 100%;
        min-width: none;
    }

    .main-section-container section:first-child {
        padding-left: 0;
        margin-left: 0;
        min-width: none;
    }

    .main-section {
        padding-left: 5%;
        margin-left: 0;
    }
}

@media only screen and (max-device-width: 576px) {

    .main-section {
        justify-content: center;
        padding: 5rem 8rem 0rem 8rem;
        margin: 0;
    }

    .main-section-container section:first-child {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .section-content-box p {
        text-align: center;
        font-size: 160%;
    }
    
    .section-content-box h1 {
        text-align: center;
    }

    .dog-box {
        grid-column: 1/1;
        grid-template-columns: auto;
        padding: 12%;
    }

    .dog-house-container {
        padding: 0rem  5rem 0rem 5rem;
    }

    .dog-house {
        width: 100%;
        height: 55rem;
    }

    .dog-house-details h2 {
        text-align: center;
        font-size: 300%;
    }
    
    .dog-house-details p {
        text-align: center;
        padding: 4% 2%;
        font-size: 180%;
    }

    .dog-house-details p:nth-child(3){
        text-align: center;
        font-size: 180%;
    }

    .dog-house-button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dog-house-details button {
        background-color: #81b741;
        color: white;
        margin: 4px 0px;
        padding: 5% 37%;
        border: none;
        border-radius: 3%;
        font-weight: bold;
        font-size: 200%;
    }

    .dog-house-button button {
        font-size: 200%;
    }
    .blog-preview-container {
        display: none;
    }
    .main-section-container {
        width: 100%;
    }
}