/* adopt-a-dog stylesheet */
 
  body, html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-weight: 900; */
    font-weight: normal;
    font-size: 10px;
    height: 100%;
    margin: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    min-height: calc(100vh - 100px);
    margin: 1%;
    background-color: white;
    background-attachment: fixed;
    /* letter-spacing: -1px; */
    /* background-repeat: no-repeat; */
  }
  
  .img-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-image.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.logo img {
      position: relative;
      width: 30%;
      margin-top: 5%;
      margin-left: 8%;
  }

.logo h1 {
    color: yellowgreen;
    position: absolute;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 900;
}


  .btn {
    background-color: yellowgreen;
    color: whitesmoke;
    padding: 2px 10px 2px 10px;
}

.chk-cart {
    position: relative; 
    height: 0; 
    width:2.5%;
    margin-left: 80%; 
    margin-top: -10%;
}

.scale-cart {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
  } 
  
  nav {
      display: flex;
      background-color: gray;
  }

  nav li {
      display: inline-flex;
      /* padding: 1rem 2rem 1rem 2rem; */
      /* font-size: large; */
      color: black;
  }

  nav li a {
    color: black;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    /* border-radius: 3px; */
  }

nav ul li {
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.85); */
  transition: 0.3s;
  border-radius: 3px;
}

nav ul li:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.898);
}

  .main-section {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 3% 12%;
    /* border: 3px solid red; */
}

.main-section img {
    /* margin: 0 3rem 0 0; */
    /* max-width: 40em; */
}

article p {
  font-size: 1.5em;
  padding: 0;
  font-weight: normal;
}

/* Flexbox styling for containers: */
.container {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
  /* border: 3px solid black; */
  flex-wrap: wrap;
  /* margin: 4rem 14rem; */
}

  .item {
    /* border: 5px solid rgba(0, 0, 0, 0.03); */
    border: 1.5px solid rgba(24, 18, 204, 0.15);
    border-radius: 3px;
    margin: .5em .5em;
    max-width: 16em;
  }


  .item img {
    max-width: 100%;
    /* display: block; */
  }  
  /* .item h2, p {
    padding: 0em .5em;
  } */
  .item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.62);
  }

div h2 {
  color: steelblue;
  /* margin: 0 .5rem .5rem 0; */
  /* padding: .5rem; */
}

div h1 {
  color: steelblue;
  font-size: 2.5em;
  /* padding-left: 10px; */
}

p:nth-of-type(2) {
  color: rgb(79, 70, 70);
  color: orange;
  color: black;
  max-width: 18em;
  /* padding: .5rem; */
  font-size:1em;
}

div p a {
  display: flex;
  color: white;
  font-size: large;
  /* text-decoration: none; */
  background-color: green;
  padding: .5rem 1rem;
  /* margin: 0 1%; */
  justify-content: center;

}

p strong {
  /* padding: 0 0 0 .5rem; */
}
  #more-dogs {
    display: flex;
    color: black;
    margin: 0% 0% 20% 0%;
    padding: .85em 2.5em;
    background-color: #ebdfdf;
    width: 100%;
    border-radius: 3px;
    /* justify-content: left; */
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
  }

  .blog-container {
    display: flex;
    flex-direction: column;
    padding: 0 20% 5%;
    /* border: 3px solid black; */
  }

  .blogpage-container h1 {
    padding: 0 20%;
    /* border: 3px solid black; */
  }

  .blogpage-container h2 {
    padding-top: 0;
    /* border: 3px solid black; */
  }



  .blogpage-container .dog-blog {
    display: flex;
    flex-direction: row;
    padding: 5% 20% 5%;
    /* border: 3px solid black; */
  }

  .blogpage-container .dog-blogh2P {
    padding: 0 3em;
    /* border: 3px solid black; */
  }
  
  .dog-blog {
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0 0 2rem;
    /* border: 3px solid black; */
    
  }

  .dog-blog img {
    /* min-width: 25em; */
    /* max-height: 19em; */
    max-width: 100%;
    height: auto;
  }

  .dog-blog h2 {
  /* color: mediumseagreen; */
  /* font-size: normal; */
}

.dog-blogh2P p {
  /* display: flex; */
  /* flex-direction: column; */
  color: black;
  /* margin: 0 .5rem; */
  padding: 0;
  /* max-width: 50em; */
  /* max-width: 100%; */
  /* height: auto; */
  font-size: 1.5em;
}

.dog-blog a {
  color: steelblue;
  font-size: 12px;
  text-decoration: none;
}

form h2, h3, h4, label, select {
  color: steelblue;
  font-size: large;
}

form h2 {
  margin: 0 0 .5em;
  padding: unset;
  font-size: x-large;
}

.contact {
  flex: 1; 
 order: 1;
  margin-right: 32em; 
}
.contact input {
 width: 100%;
}
.contact input,
.contact button {
 padding: 1em;
 margin-bottom: 1em;
}
.contact button {
background: gray;
color: white;
border: 0;
}

.contact2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dog-form {
  display: flex;
  flex-direction: column;
  /* added 1.13 */
  /* justify-content: space-around; */
  /* border: 3px solid black; */
  flex-wrap: wrap;
  margin: 4rem 14rem;
  /* min-width: 80%; */
}

.dog-form img {
  max-width: 10em;
  margin: 0 .5em 0 0;
}

.dogs-adopted {
  display: flex;
}

.dogs-adopted div {
  margin: 0 1em;
}

form .btn {
  width: 25%;
  margin: 1em 0;
  padding: .5em;
  color: white;
}

.first-time-adopter {
  margin: 0 0 4em;
}

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: blue;
  }

  footer nav {
    background-color: blue;
  }

  footer nav ul {
    padding: unset;
  }

  footer nav ul li {
    padding: 1rem 2rem;
    font-size: x-small;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.85);
    transition: 0.3s;
  }

  footer nav ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.898);
  }

  footer p {
    display: inline;
    display: flex;
    flex-direction: unset;
    justify-items: center;
    justify-content: center;
  }

  footer li a {
    color: rgb(255, 255, 255);
    background-color: blue;
  }

  .ftr-img {
    width: 30%;
    margin-top: 5%;

  }

  .flex-nav ul {
    padding-left: 13em;
  }

 
  .mainpage-content {
    display: flex;
    flex-direction: row;
    padding: 0 5em;
    border: 3px solid gold;
  }

  .indexpage1st-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid fuchsia; */
    /* flex: 2; */
  }

  .indexpage1st-container .main-section img {
    min-width: 100%;
    max-height: 500px;
  }

  .main-section img {
    flex: 2;
    /* border: 3px solid blue; */
  }

  .blog-sidebar {
    display: flex;
    /* flex: 1; */
        /* border: 3px solid blue; */
  }

  .indexdogs-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: 0% 12%;
    /* border: 3px solid red; */
  }

  .item h2, p {
    padding: 0 10px;
  }

  @media screen and (max-width: 800px) {
    .mainpage-content {
    flex-direction: column;
      }
}

@media (max-width: 500px) {
  .blog-sidebar {
  display: none;
  }
  }

  /* no img when printing */
@media print {
    body img {
        display: none;
    }
}
