
#index-container {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}

#index-container-2 {
  flex-flow: column;
  width: 50%;
  margin-top: 5%;
}

#index-image {
  margin: 2% 1% 3% 10%;
  height: 50%;
}

#index-header {
  color: #093C60;
  text-overflow: inherit;
  font-size: 2em;
  margin-bottom: 3%;
}

#index-content {
  color: #3D3D3D;
  line-height: 2em;
  font-size: 1em;
}

.grid-index-adoptions {
  display: grid;
  margin-left: 12%;
  margin-right: 12%;
}

.adoption-image {
  width: 100%;
}

.adoption-header {
  color: #093C60;
  padding: 1% 0% 3% 3%;
}

.adoption-cost {
  color: #3D3D3D;
  font-size: .75em;
  padding: 0% 0% 3% 3%;
}

.adoption-body {
  color: #3D3D3D;
  font-size: 1em;
  padding: 0% 5% 3% 3%;
}

.index-adopt-button {
  margin: 2% 3%;
  background-color: #81B741;
  border: none;
  color: white;
  padding: 3% 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
}

#murphy {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#poppy {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#jack {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#duffy {
  grid-column: 4;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#lucas {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#jake {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#angus {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}
#violet {
  grid-column: 4;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

.see-more {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.see-more-button {
  background-color: #ECECEC;
  border: none;
  color: #093C60;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
}
