
#index-container {
  float: left;
  width: 40%;
  margin-left: 15%;
  margin-top:2%;
  font-size: 100%;
}

#index-image {
display: block;
float: none;
width: 100%;
padding-right: 5%;
float: left;
margin-bottom: 5%;
}

.index-header {
  color: #093C60;
  text-overflow: inherit;
  font-size: 2em;
  margin-bottom: 3%;
  margin-top: 5%;
}

#index-content {
  color: #3D3D3D;
  line-height: 2em;
  font-size: 1em;
}

aside {
  width: 30%;
  float: right;
  margin-right: 2%;
}

.aside-blog-image {
  margin-top: 3%;
  width: 70%;
}

.aside-cta {
  text-decoration: none;
  font-weight: bolder;
  color: #00cbff;
  margin-left: 2%;
}

.aside-body {
  margin-right: 20%;
}

.grid-index-adoptions {
  display: grid;
  float: left;
  width: 50%;
  margin: 2% 5% 0% 12%;
  grid-template-columns: auto auto auto;
  grid-gap: 1%;
  line-height: 1.5em;
}

.adoption-image {
  width: 100%;
}

.adoption-header {
  color: #093C60;
  padding: 1% 0% 3% 3%;
}

.adoption-cost {
  color: #3D3D3D;
  font-size: .75em;
  padding: 0% 0% 3% 3%;
}

.adoption-body {
  color: #3D3D3D;
  font-size: 1em;
  padding: 0% 5% 3% 3%;
}

.index-adopt-button {
  margin: 2% 3%;
  background-color: #81B741;
  border: none;
  color: white;
  padding: 2%;
  width: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
}

#murphy {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#poppy {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#jack {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#duffy {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#lucas {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

#jake {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid #ECECEC;
  margin: 0% 7% 12% 7%;
}

.see-more {
  clear: both;
  margin: 0% 0% 5% 30%;
}

.see-more-button {
  background-color: #ECECEC;
  border: none;
  color: #093C60;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
}
